.activity-item {
  padding-top: 22.5px;
  &:first-child{
    padding-top: 0;
  }

  .activity-item-body {
    padding-bottom: 22.5px;
    // border-bottom: 0.75px solid #E1E1E1;
    position: relative;
    &.last-item {
      border: none;
    }
    .activity-item-section {
      border-right: 0.75px solid #E1E1E1;
      &.no-reposts {
        border: none;
      }
      .activity-item-section-body {
        position: relative;
        padding: 22.5px 0px;
        .activity-item-profile-avatar-area {
          position: absolute;
          top: 22.5px;
          left: 0px;
          width: 80px;
          height: 80px;
          border-radius: 100%;
          background-size: cover;
          background-position: center;
          .activity-item-profile-cover {
            left: 0;
            top: 54.75px;
          }
        }
        .activity-item-content-area {
          padding: 7.5px 15px 0 0;
          margin-left: 90px;
          .activity-item-content {
            line-height: 13.5px;
            .user-name {
              font-weight: 600;
              font-size: 20px;
              color: #3A92FF;
              letter-spacing: 0;
              text-decoration: none;
            }
            .item-status {
              color: #959595;

            }
            .description-text {
              font-size: 18px;
              color: #959595;
              letter-spacing: 0;
              display: block;
              padding-top: 8px;
              font-family: 'Work Sans';
              letter-spacing: -1px;
              .items-title {
                font-weight: 600;
                color: #000000;
                text-decoration: none;
                cursor: pointer;
                font-family: 'Work Sans';
                line-height: 24px;
              }
              .share-icon {

              }
              .play-icon {

              }
              .comment-icon {
                height: 15px;
              }
              .recommend-icon {

              }
              .release-icon {

              }
              .follow-icon {

              }
              .repost-icon {
                height: 15px;
              }
              .download-icon {
                height: 15px;
              }
            }
          }
          .details {
            margin-top: 20px;
            .detailed-description {
              font-size: 16px;
              color: #000000;
              letter-spacing: 0;
            }
            .actioned-item {
              width: 120px;
              height: 120px;
              margin-right: 6px;
              border-radius: 3.75px;
              background-size: cover;
              overflow: hidden;
              background-position: center;
              display: inline-block;
              & > a {
                padding-right: 100%;
                padding-bottom: 100%;
              }
            }
          }
        }
      }
    }
    .activity-item-recent-posts {
      padding-left: 50px;
      padding-top: 22.5px;
      padding-bottom: 22.5px;
      .recent-posts-section-title {
        font-size: 16px;
        color: #959595;
        letter-spacing: 0;
        margin-bottom: 3.75px;
        margin-left: 0;
      }
      .recent-post-item {
        width: 32%;
        height: auto;
        margin-right: 1%;
        border-radius: 3.75px;
        background-size: cover;
        overflow: hidden;
        display: inline-block;
        background-position: center;
        // a {
        //   padding-left: 100%;
        //   padding-bottom: 100%;
        // }
      }
    }
    .activity-time {
      position: absolute;
      top: 24px;
      right: 0;
      font-size: 14px;
      color: #AAA;
      letter-spacing: 0;
    }
  }
}

.activity-item + .activity-item {
  border-top: 0.75px solid #E1E1E1;
}
