.page.admin-page {
  .page-title {
    // color: #FFFFFF;
  }
  .admin-tab {
    position: relative;
    .tabs {
      .tabs__bar {
        .tabs__wrapper.tabs__wrapper--scrollable {
          margin: 0;
          .tabs__li {
            margin-right: 33px;
            .tabs__item {
              padding: 0;
              text-transform: none;
              font-family: Avenir-Roman;
              font-size: 16.5px;
              // color: #8E8E8E;
              letter-spacing: -0.66px;
              &.tabs__item--active {
                // color: #000000;
              }
            }
          }
        }
      }
      .tabs__items {
        border: solid 1px #b8b8b8;
        
      }
    }
    .menu {
      color: #8b8b8b;
      .menu__activator .btn {
        margin: 0;
        color: #8b8b8b;
        min-width: 30px;
        // height: 41.25px;
        background: transparent !important;
        border: none !important;
        border-radius: 4.125px;
        // transform: rotate(-180deg);
        // border: 2.475px solid #FFFFFF;
        font-family: Avenir-Roman;
        font-size: 16.5px;
        // color: #000000 !important;
        letter-spacing: -0.66px;
        box-shadow: none;
        text-transform: none;
        .btn__content {
          padding: 5px;
        }
      }
    }
  }

  .tabs__item {
    padding: 0 !important;
    text-transform: none;
    font-family: Avenir-Heavy;
    font-size: 16.5px;
    // color: #000000 !important;
    letter-spacing: -0.66px;
  }
  .user-table {
    .avatar-image {
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      background-size: cover;
      background-position: center;
      overflow: hidden;
      margin-right: 10px;
      border-radius: 100%;
      background-color: rgba(0,0,0,.12);
    }
  }
  .product-table,
  .album-table {
    .album-cover-image {
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 3px;
      background-size: cover;
      overflow: hidden;
      background-position: center;
      margin-right: 10px;
    }
  }
  .recommended-text {
    color: green;
  }
  .unrecommended-text {
   color: red; 
  }
  .search-input {
    .input-group__input {
      input {
        border: none;        
      }
    }
    .input-group__details {
      &:before {
        display: block;
      }
      &:after {
        display: block;
      }
    }
  }
  .normal-input {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    .input-group__details {
      &:before {
        display: block;
      }
      &:after {
        display: block;
      }
    }
  }
  .input-group__input {
    border: none;
  }

  .signups-btn {
    background: transparent !important;
    box-shadow: none;
    color: green;
    text-transform: none;
    .profile {
      color: #1976d2;
    }
  }
  .status-accepted {
    color: green;
  }
  .status-expired {
    color: red;
  }
  .status-pending {
    color: #1976d2;
  }
  .setting-row {
    padding: 10px 20px;
    border-bottom: 1px solid #B8B8B8;
    .setting-cell-text {
      font-family: Avenir-Roman;
      font-size: 15px;
      // color: #000000 !important;
      letter-spacing: -0.66px;
      line-height: 30px;
    }
    .setting-cell-switch {
      float: right;
      width: 36px;
    }
  }
}

