.page.admin-page {
  .page-title {
    // color: #FFFFFF;
  }
  .admin-tab {
    position: relative;
    .tabs {
      .tabs__bar {
        .tabs__wrapper.tabs__wrapper--scrollable {
          margin: 0;
          .tabs__li {
            margin-right: 33px;
            .tabs__item {
              padding: 0;
              text-transform: none;
              font-size: 16.5px;
              // color: #8E8E8E;
              letter-spacing: -0.66px;
              &.tabs__item--active {
                // color: #000000;
              }
            }
          }
        }
      }
      .tabs__items {
        border: solid 1px #b8b8b8;
      }
    }
    .menu {
      color: #8b8b8b;
      .menu__activator .btn {
        margin: 0;
        color: #8b8b8b;
        min-width: 30px;
        // height: 41.25px;
        background: transparent !important;
        border: none !important;
        border-radius: 4.125px;
        // transform: rotate(-180deg);
        // border: 2.475px solid #FFFFFF;
        font-size: 16.5px;
        // color: #000000 !important;
        letter-spacing: -0.66px;
        box-shadow: none;
        text-transform: none;
        .btn__content {
          padding: 5px;
        }
      }
    }
  }

  .tabs__item {
    padding: 0 !important;
    text-transform: none;
    font-weight: 700;
    font-size: 16.5px;
    // color: #000000 !important;
    letter-spacing: -0.66px;
  }
  .user-table {
    .avatar-image-wrapper {
      display: flex;
      flex-direction: row;
      .avatar-image {
        display: inline-block;
        width: 40px;
        height: 40px;
        vertical-align: middle;
        background-size: cover;
        background-position: center;
        overflow: hidden;
        margin-right: 10px;
        border-radius: 100%;
        background-color: rgba(0,0,0,.12);
      }
      .avatar-title {
        display: flex;
        align-items: center;
      }
    }
    .stop-stream-btn {
      width: 24px;
      height: 24px;
      .icon {
        font-size: 18px;
      }
    }
  }

  .product-table,
  .album-table {
    .album-cover-image {
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      border-radius: 3px;
      background-size: cover;
      overflow: hidden;
      background-position: center;
      margin-right: 10px;
    }
  }
  .recommended-text {
    color: green;
  }
  .unrecommended-text {
   color: red; 
  }
  .search-input {
    .input-group__input {
      input {
        border: none;        
      }
    }
    .input-group__details {
      &:before {
        display: block;
      }
      &:after {
        display: block;
      }
    }
  }
  .normal-input {
    max-width: 200px;
    display: inline-block;
    vertical-align: middle;
    .input-group__details {
      &:before {
        display: block;
      }
      &:after {
        display: block;
      }
    }
  }
  .input-group__input {
    border: none;
  }

  .signups-btn {
    background: transparent !important;
    box-shadow: none;
    color: green;
    text-transform: none;
    .profile {
      color: #1976d2;
    }
  }
  .status-accepted {
    color: green;
  }
  .status-expired {
    color: red;
  }
  .status-pending {
    color: #1976d2;
  }
  .setting-row {
    padding: 10px 20px;
    border-bottom: 1px solid #B8B8B8;
    .setting-cell-text {
      font-size: 15px;
      // color: #000000 !important;
      letter-spacing: -0.66px;
      line-height: 30px;
    }
    .setting-cell-switch {
      float: right;
      width: 36px;
    }
  }
}

.page.admin-page .ys-dialog.ys-product-dialog {
  width: 1000px;
  background-color: #FFFFFF;

  .product-cover {
    width: 240px;
    height: 240px;
    margin: 0 auto;
    background-color: #FAFAFA;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 20px;
    font-weight: 600;
  }
}

.page.admin-page .ys-dialog.ys-album-dialog {
  width: 1000px;
  max-height: 600px;
  background-color: #FFFFFF;

  .album-cover {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-color: #FAFAFA;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  .album-info {
    max-height: 330px;
    overflow-y: auto;

    .album-stats {
      font-size: 14px;
      label {
        margin-right: 5px;
        font-weight: 700;
      }
    }

    .card {
      box-shadow: none;
      .card__media {
        height: 90px !important;
        width: 90px !important;
      }
      .product-name {
        display: -webkit-box;
        max-height: 66px;
        font-size: 16px;
        line-height: 22px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      .product-price {
        font-size: 20px;
        font-weight: 700;
      }
    }

    .list {
      max-height: 240px;
      padding: 0;
      overflow-y: auto;
      .subheader {
        height: 40px;
        padding: 0 10px;
      }
      .list__tile {
        height: 55px;
        padding: 0;
      }
    }
  }

  .album-name {
    margin-left: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 30px;
    font-weight: 700;
  }

  .album-action {
    position: relative;
    .menu {
      position: absolute;
      top: 0px;
      right: 10px;
      .more-btn {
        min-width: auto;
        width: 30px;
        height: 30px;
        padding: 0px;
        margin: 8px 8px 8px 0px;
        box-shadow: none;
        background-color: transparent !important;
        border-radius: 50%;
        border: 1px solid #8b8b8b !important;
        .btn__content {
          padding: 0;
        }
        .icon {
          font-size: 18px;
          color: #8b8b8b;
          margin: 0;
        }
      }
    }
  }

  .table__overflow {
    max-height: 500px;
    overflow-y: auto;
  }

  .album_credit-btn {
    color: #1976D2;
    cursor: pointer;
  }

  .remove-btn {
    display: none;
    min-width: auto;
  }

  .table-wrapper {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;

    table.tracks-table {
      width: 100%;
      overflow-y: auto;
      border-collapse: collapse;
      thead {
        tr {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          th {
            height: 48px;
            padding: 0 24px;
          }
        }
      }
      tbody {
        tr {
          border-bottom: 1px solid rgba(0, 0, 0, 0.12);
          &:hover {
            background: #eee;
            .remove-btn {
              display: block;
            }
          }
          td {
            height: 48px;
            padding: 0 24px;
          }
          td:last-child {
            width: 67px;
            padding: 0;
          }
        }
      }
    }
  }
}
