.album-finish-section {
  /* Rectangle: */
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  z-index: 15;
  .dismiss-section {
    width: 100%;
    height: 100%;
    position: absolute;
  }
  .popup-section {
    max-width: 760px;
    margin-top: calc(50vh - 320px);
    margin-left: auto;
    margin-right: auto;
    background: #FFFFFF;
    box-shadow: 0 30px 55.5px 0 rgba(0,0,0,0.30);
    border-radius: 7.5px;
    position: relative;
    z-index: 20;
    .title-section {
      text-align: left;
      background: #F1F1F1;
      padding-bottom: 15px;
      padding: 20px 35px;
      border-top-left-radius: 7.5px;
      border-top-right-radius: 7.5px;
      text-align: center;
      .title-text {
        padding-top: 7.5px;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        font-family: Avenir-Medium;
        font-size: 26px;
        color: #000000;
        letter-spacing: -0.4px;
      }
      .link-text {
        color: #3A92FF;
      }      
    }
    .header-section {
      text-align: left;
      border-bottom: 0.75px solid #D2D2D2;
      padding-bottom: 10px;
      .header-text {
        padding-top: 7.5px;
        margin: 0;
        display: inline-block;
        vertical-align: middle;
        font-family: Avenir-Roman;
        font-size: 24px;
        color: #000000;
        letter-spacing: -0.4px;
      }
    }
    .promote-album-section {
      background-color: #FFF;
      padding: 20px 35px 0;
      .content-section {
        padding: 20px 0;
        .promote-album-image {
          width: 187.5px;
          height: 187.5px;
          position: relative;
          display: inline-block;
          vertical-align: middle;
          background: #eeeeee; /* Old browsers */
          background: -moz-linear-gradient(top, #eeeeee 0%, #eeeeee 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(top, #eeeeee 0%,#eeeeee 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to bottom, #eeeeee 0%,#eeeeee 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
          .promote-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            overflow: hidden;
            background-position: center;
          }
          img {
            // position: absolute;
            top: 0;
            left: 0;
            // width: 100%;
            height: 100%;
          }
        }
        .promote-album-description {
          width: calc(100% - 200px);
          padding: 20px 22.5px 0;
          font-size: 15px;
          display: inline-block;
          vertical-align: top;
          label {
            display: block;
          }
          .promote-btn {
            // float: right;
            height: 40px;
            margin: 20px 0 0;
            text-transform: none;
            background: #ffffff !important;
            border: 1px solid #3A92FF;
            border-radius: 75px;
            font-family: Avenir-Medium;
            font-size: 14px;
            color: #3A92FF;
            letter-spacing: 0;
          }
        }
        .promote-album-action {
          display: inline-block;
          vertical-align: middle;
          width: calc(50% - 120px);
          text-align: right;
          .promote-title {
            display: inline-block;
            vertical-align: middle;
            padding-right: 12px;
            font-family: Avenir-Roman;
            font-size: 15px;
            color: #000000;
            letter-spacing: 0;
          }
        }
      }
    }
    .item-section {
      padding: 20px 35px;
      .item-image {
        width: 187.5px;
        height: 187.5px;
        background-size: cover;
        display: inline-block;
        vertical-align: top;
        overflow: hidden;
        background-position: center;
      }
      .album-detail-section {
        width: calc(100% - 191px);
        display: inline-block;
        vertical-align: top;
        padding: 20px 0;
        .album-link {
          /* Kris Boy: */
          font-family: Avenir-Medium;
          font-size: 20px;
          color: #3A92FF;
          letter-spacing: -0.4px;
        }
      }
    }
    .share-social-section {
      padding-top: 10px;
      .social-share-btn {
        text-transform: none;
        box-shadow: none;
        background: transparent !important;
        height: 30px;
        min-width: 52.5px;
        width: 37.5px;
        margin: 3.75px;
        border: 0.75px solid #D2D2D2;
        border-radius: 3.75px;
        font-family: Avenir-Roman;
        font-size: 15px;
        color: #000000;
        letter-spacing: -0.6px;
        .btn__content {
          .icon {
            color: #3A92FF;
            font-size: 20px;
          }
        }
      }
      .social-section {
        display: inline-block;
      }
    }
    .input-section {
      margin: 3.75px;
      text-align: center;
      position: relative;
      display: inline-block;
      vertical-align: top;
      width: calc(100% - 195px);
      .clipboard-btn {
        position: absolute;
        top: 0;
        right: 0;
        text-transform: none;
        box-shadow: none;
        height: 30px;
        width: 30px;
        min-width: 30px;
        border: 0.75px solid #D2D2D2;
        margin: 0;
        background: #FFFFFF;
        font-family: Avenir-Medium;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0;
        .btn__content {
          .icon {
            color: #3A92FF;
            font-size: 16px;
          }
        }
      }
    }
  }
}