.GLOBAL-album-collaborators-follow-item {
  width: 300px;

  .list__tile__action {
    .chip__content {
      cursor: pointer;
    }
  }
}
p {
  margin-left: 10px;
  font-size: 18px;
}

.sectionCard {
  border-radius: 3px;
  background-color: #ffffff;
  padding: 15px;
  box-shadow: 0 0 2px 0px #c8c8d9;
  margin-bottom: 30px;
  // max-height: 540px
}

.page.upload-album-page {
  .input-group__details {
    display: none;
  }
  .album-info-section {
    padding: 6px 40px 0 40px;
    background-color: #fff;
    .album-info-title {
      margin-bottom: 14px;
      color: #000000;
      font-size: 16px;
      letter-spacing: -.5px;
      font-weight: 600;
    }
    .album-image-section {
      width: 300px;
      .image-section {
        background: #3a92ff;
        border: 0.75px solid #d2d2d2;
        border-radius: 3.75px;
        width: 100%;
        padding-bottom: 100%;
        margin-top: 4.5px;
        position: relative;
        .loading-activity {
          position: absolute;
          margin-top: 0px;
          top: calc(50% - 15px);
          left: calc(50% - 15px);
        }
        .album-image {
          position: absolute;
          top: 0px;
          left: 0px;
          background: #ffffff;
          border: 0.75px solid #d2d2d2;
          width: 100%;
          height: 100%;
          border-radius: 3.75px;
          background-size: cover;
          overflow: hidden;
          background-position: center;
        }
        .album-image-upload-section {
          position: absolute;
          width: 100%;
          height: 100%;
          text-align: center;
          .add-album-image-file {
            width: 0.75px;
            height: 0.75px;
            opacity: 0;
            overflow: hidden;
            position: absolute;
            z-index: -1;
          }
          .add-album-image-file + label {
            width: 100%;
            height: 100%;
            font-weight: 600;
            font-size: 15px;
            color: #ffffff;
            letter-spacing: 0;
            .camera {
              color: #ffffff;
              font-size: 28.5px;
              display: block;
              margin-top: calc(50% - 22.5px);
            }
          }
          .add-album-image-file:focus + label,
          .add-album-image-file + label:hover {
            color: rgba(255, 255, 255, 0.5);
            .camera {
              color: rgba(255, 255, 255, 0.5);
            }
          }
        }
      }
      .image-change-section {
        margin-top: 14px;
        text-align: left;
        margin-bottom: 20px;
        .change-album-image-file {
          width: 0.75px;
          height: 0.75px;
          opacity: 0;
          overflow: hidden;
          position: absolute;
          z-index: -1;
        }
        .change-album-image-file + label {
          font-size: 13.5px;
          color: #3a92ff;
          letter-spacing: 0;
        }
        .change-album-image-file:focus + label,
        .change-album-image-file + label:hover {
          color: rgba(58, 146, 255, 0.5);
        }
      }
      .grey--text {
        color: #777;
        font-size: 16px;
      }
    }
    .album-content-section {
      padding: 0 0 0 22.5px;
      width: calc(100% - 300px);
      .album-description {
        height: 129px;
        padding: 7.5px 11.25px;
        background: #ffffff;
        border: 0.75px solid #d2d2d2;
        border-radius: 3.75px;
        a {
          color: #3a92ff;
        }
      }
      .form-group {
        margin-bottom: 32px;

        &.enabled-sample-wrapper {
          label.control-label {
            display: inline-block;
          }
          span {
            margin-left: 16px;
            cursor: pointer;
          }
          .input-group.radio-group {
            width: 300px;
          }
        }
      }
      .released-at-picker {
        .input-group {
          padding: 0;
        }
        .input-group__input {
          input {
            height: 44px;
            padding-left: 10px;
          }
        }
      }
      .album-content-wrapper {
        // display: flex;
        & > div {
          display: inline-block;
          margin-right: 30px;
        }
        & > div:nth-child(1) {
          width: 125px;
        }
        & > div:nth-child(2) {
          width: 155px;
        }
        & > div:nth-child(3) {
          width: 125px;
        }
        & > div:nth-child(4) {
          width: 125px;
        }
        & > div:nth-child(5) {
          width: 125px;
        }
      }
    }
    .promote-album-section {
      background-color: #fff;
      padding: 37.5px 0 0;
      .promote-album-image {
        width: 112.5px;
        height: 112.5px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
        background: #eeeeee; /* Old browsers */
        background: -moz-linear-gradient(
          top,
          #eeeeee 0%,
          #eeeeee 100%
        ); /* FF3.6-15 */
        background: -webkit-linear-gradient(
          top,
          #eeeeee 0%,
          #eeeeee 100%
        ); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(
          to bottom,
          #eeeeee 0%,
          #eeeeee 100%
        ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#eeeeee',GradientType=0 ); /* IE6-9 */
        .promote-image {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-size: cover;
          overflow: hidden;
          background-position: center;
        }
        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }
      .promote-album-description {
        width: 50%;
        padding-left: 22.5px;
        font-size: 15px;
        display: inline-block;
        vertical-align: middle;
      }
      .promote-btn {
        // float: right;
        height: 40px;
        margin: 0;
        text-transform: none;
        background: #ffffff !important;
        border: 1px solid #3a92ff;
        border-radius: 75px;
        font-weight: 600;
        font-size: 14px;
        color: #3a92ff;
        letter-spacing: 0;
      }
      .promote-album-action {
        display: inline-block;
        vertical-align: middle;
        width: calc(50% - 120px);
        text-align: right;
        .promote-title {
          display: inline-block;
          vertical-align: middle;
          padding-right: 12px;
          font-size: 15px;
          color: #000000;
          letter-spacing: 0;
        }
        .promote-switch {
          width: inherit;
          display: inline-block;
          vertical-align: middle;
          padding: 0;
          width: 37.5px;
          .input-group--selection-controls__toggle {
            height: 24px;
            width: 37.5px;
            border-radius: 12px;
            &.input-group--selection-controls__toggle--active {
              opacity: 1;
              background-color: #3a92ff;
            }
          }
          .input-group--selection-controls__ripple:after {
            height: 21px;
            width: 21px;
            left: 65.5%;
          }
          .input-group--selection-controls__ripple--active::after {
            background-color: #fff;
          }
        }
      }
    }
    .album-section {
      border-bottom: 0.75px solid rgba(0, 0, 0, 0.2);
    }

    .additional-info-section {
      // margin: 7.5px;
      padding: 15px 0;
      border-bottom: 0.75px solid rgba(0, 0, 0, 0.2);
      .option-content {
        margin: 0 -7.5px;
        .sm3,
        .sm6 {
          padding: 0 7.5px;
        }
      }
      .theme--light .chip {
        background: #ffffff;
      }
      .add-option-btn {
        margin: 0px;
        box-shadow: none !important;
        min-width: 24px;
        height: 40px;
        min-width: 0px;
        background: #ffffff !important;
        color: #3a92ff;
        font-size: 15px;
        text-transform: none;
        .btn__content {
          padding: 0;
          i {
            color: #3a92ff;
            font-size: 18px;
            border: 0.75px solid #3a92ff;
            border-radius: 1.5px;
            margin-right: 10px;
          }
        }
      }
      .clear-btn {
        // padding-top: 18.75px;
        color: #c1c1c1;
        cursor: pointer;
      }
      .cancel-button {
        height: 37.5px;
        margin-right: 15px;
        float: right;
        cursor: pointer;
        font-size: 13.5px;
        color: #3a92ff;
        letter-spacing: 0;
        line-height: 37.5px;
      }

      ul {
        margin-left: 20px;
        li {
          color: #666666;
          line-height: 24px;
        }
      }
    }

    .album-action-section {
      margin-top: 20px;
      padding-top: 15px;
      right: 658px;
      bottom: 1px;

      // border-top: 0.75px solid #979797;
      .delete-album-btn {
        padding-top: 9px;
        font-size: 15px;
        color: #d0021b;
        letter-spacing: 0;
        cursor: pointer;
      }
      .release-now-btn {
        float: right;
        height: 37.5px;
        margin: 0;
        text-transform: none;
        background: #3a92ff !important;
        border-radius: 75px;
        font-weight: 600;
        font-size: 16px;
        color: #ffffff;
        letter-spacing: 0;
      }
      .save-for-later-btn {
        float: right;
        height: 37.5px;
        margin: 0 7.5px 0 0;
        text-transform: none;
        background: #ffffff;
        border: 0.75px solid #3a92ff;
        border-radius: 75px;
        font-weight: 600;
        font-size: 15px;
        color: #3a92ff;
        letter-spacing: 0;
      }
    }
  }
}

.page.album-detail-page {
  position: relative;
  top: -19px;
  left: -17px;
  width: calc(100% + 37px);
  // .background-image {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   width: 100vw !important;
  //   height: 100% !important;
  //   background: #414141;
  //   overflow: hidden;
  //   div {
  //     // width: 2403px;
  //     // height: 2403px;
  //     width: 100%;
  //     height: 100%;
  //     margin-top: -797.25px;
  //     margin-left: -482.25px;
  //     opacity: 0.6;
  //     border-radius: 7.5px;
  //     background-size: cover;
  //     -webkit-filter: blur(160px);
  //     -moz-filter: blur(160px);
  //     -o-filter: blur(160px);
  //     -ms-filter: blur(160px);
  //     filter: blur(160px);
  //   }
  // }
  .album-pages {
    min-height: 101vh;
    overflow: hidden;
    // z-index: 9;
    position: relative;
    padding: 65px;

    .background-image {
      position: absolute;
      top: 3px;
      left: -35px;
      width: 100vw !important;
      height: calc(100% + 20px);
      // background: #414141;
      overflow: hidden;
      // opacity: 0.6;
      background-color: #000000;
      opacity: 0.8;
      div {
        width: 100%;
        height: 100%;
        opacity: 0.6;
        background-size: cover;
        -webkit-filter: blur(160px);
        -moz-filter: blur(160px);
        -o-filter: blur(160px);
        -ms-filter: blur(160px);
        filter: blur(160px);
      }
    }
    .background-overlay {
      position: absolute;
      top: 3px;
      left: -35px;
      width: 100vw !important;
      height: calc(100% + 20px);
      overflow: hidden;
      background-color: rgba(0, 0, 0, 0.5);
    }
    .album-info-page {
      display: flex;
      z-index: 10;
      .album-image-section {
        display: inline-block;
        vertical-align: top;
        position: relative;
        .album-image {
          width: 300px;
          height: 300px;
          background-color: #000;
          background-size: cover;
          overflow: hidden;
          background-position: center;
          &.playlist {
            background-position: 0 0, 100% 0, 0 100%, 100% 100%;
            background-size: 50% 50%;
          }
        }
        .album-hover-section {
          width: 300px;
          height: 300px;
          background: rgba(0, 0, 0, 0.8);
          position: absolute;
          padding: 0;
          left: 0;
          top: 0;
          opacity: 0;
          // cursor: pointer;
          -webkit-transition: opacity 0.3s ease-in-out;
          -moz-transition: opacity 0.3s ease-in-out;
          -ms-transition: opacity 0.3s ease-in-out;
          -o-transition: opacity 0.3s ease-in-out;
          transition: opacity 0.3s ease-in-out;
          &:hover {
            opacity: 1;
          }
          .credits-dialog-wrapper {
            position: absolute;
            right: 15px;
            bottom: 15px;
            .album-credits-dialog {
              .text-btn {
                position: relative;
                // height: inherit;
                // margin: 0;
                // padding: 0 2px;
                border-radius: 15px;
                box-shadow: none;
                background: transparent !important;
                .btn__content {
                  // padding: 0;
                }
              }
            }
          }
        }
        .action-section {
          .action-btn {
            width: 82.5px;
            box-shadow: none;
            margin-left: 0;
            margin-right: 4px;
            background-color: transparent !important;
            border: 0.75px solid rgba(255, 255, 255, 0.3) !important;
            border-radius: 3.75px;
            .icon {
              color: rgba(255, 255, 255, 0.5);
            }
            img {
              height: 11.25px;
              padding-right: 3.75px;
            }
          }
        }
      }
      .album-detail-section {
        width: 100%;
        .album-info-section {
          position: relative;
          margin: 21px 22.5px 0px 37.5px;

          .album-title {
            text-transform: uppercase;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 0.6px;
          }
          .album-name {
            font-size: 24px;
            font-weight: 600;
            color: #ffffff;
            letter-spacing: 0;
            line-height: 41.25px;
            letter-spacing: 0;
          }
          .album-description {
            font-size: 15px;
            color: #ffffff;
            letter-spacing: 0;
          }
          .album-detail {
            font-size: 16px;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 0.6px;
            margin: 0;

            .album-sample-clearance {
              display: inline-block;
              color: #ffffff;
              span {
                cursor: pointer;
              }
            }

            .album-stats-btn {
              color: #ffffff;
              font-size: 14px;
              font-weight: 700;
              text-transform: uppercase;
              cursor: pointer;
            }

            .album-stats {
              display: inline-block;

              .action-btn {
                background-color: rgba(255, 255, 255, 0.1) !important;
                box-shadow: none;
                margin: 0;
                color: rgba(255, 255, 255, 0.5);
                min-width: 78px;
                .btn__content {
                  padding: 0;
                }
                .icon {
                  color: rgba(255, 255, 255, 0.5);
                }
                img {
                  height: 11.25px;
                  padding-right: 3.75px;
                }
              }
            }
          }

          .album-credits-dialog {
            .text-btn {
              position: relative;
              box-shadow: none;
              background: transparent !important;
              margin: 0;
              padding: 0 2px;
              height: inherit;
              .btn__content {
                padding: 0;
              }
            }
          }

          .album-action-section {
            position: absolute;
            left: 69px;
            bottom: -2px;

            #follow_selector {
              .btn {
                width: 140px;
                height: 40px;
                box-shadow: none;
                text-transform: none;
                margin: 8px 0px 8px 0px;
                background-color: transparent !important;
                border-radius: 82px;
                border: 1px solid #ffffff;
                font-size: 16px;
                letter-spacing: 0;

                .btn__content {
                  padding: 0 16px 0 32px;

                  .icon {
                    margin-left: 8px;
                  }
                }
              }
            }

            .follow-btn {
              width: 100px;
              height: 36px;
              box-shadow: none;
              text-transform: none;
              margin: 8px 0px 8px 0px;
              background-color: transparent !important;
              border-radius: 82px;
              font-size: 14px;
              letter-spacing: 0;
              &.follow {
                display: none;
                border: 1px solid #1872ff;
                background-color: #1872ff !important;
                color: #fff !important;
              }
              &.following {
                border: 1px solid #ffffff;
                background-color: none !important;
                color: #fff !important;

                &:hover {
                  border: 1px solid #ff3121;
                  background-color: rgba(255, 42, 26, 0.7) !important;
                }
              }
            }

            .more-btn {
              width: 40px;
              min-width: 40px;
              height: 40px;
              box-shadow: none;
              margin: 8px 8px 8px 0px;
              padding: 0px;
              background-color: transparent !important;
              // border: 1px solid #A7A7A7 !important;
              border-radius: 82px;
              color: #ffffff;
              .btn__content {
                padding: 0;
              }
              .icon {
                color: #ffffff;
                margin: 0;
              }
            }
          }
        }
        .play-button-section {
          position: relative;
          .play-button {
            border: rgba(255, 255, 255, 0.5) solid 1px;
            border-radius: 100%;
            // background: rgba(0, 0, 0, 0.5) !important;
            background: transparent !important;
            box-shadow: none;
            width: 50px;
            height: 50px;
            min-width: 50px;
            margin: 0;
            margin-top: 20px;
            .btn__content {
              padding: 0;
            }
            img {
              // width: 100%;
              max-width: 60px;
            }
            .icon {
              &.play {
                font-size: 40px;
              }
              &.pause {
                font-size: 40px;
              }
            }
          }
        }
      }

      .meta-details {
        color: #ffffff;
        font-size: 16px;
        margin: 12px 0 32px;
      }
    }
    .album-comment-page {
      padding-top: 200px;
      // padding-bottom: 140px;
      .comment-title {
        font-weight: 700;
        font-size: 30px;
        color: #000000;
        letter-spacing: -1.5px;
        padding: 0 11.25px;
        margin-top: -40px;
        margin-bottom: 10px;
        font-family: 'Work Sans';
      }
      .description {
        font-size: 16px;
        padding: 0 12px;
        color: #3e3e3e;
        letter-spacing: -0.5px;
        display: block;
        margin-top: -16px;
        font-family: 'Work Sans';
      }
      .comments-section {
        padding-top: 30px;
        .tab-section {
          padding: 0 12px;
          .comment-tab {
            padding-bottom: 13px;
            border-bottom: 1px solid #c3c3c3;
            .comment-count {
              padding-right: 22px;
              padding-bottom: 14px;
              font-size: 18px;
              color: #000000;
              letter-spacing: 0;
              border-bottom: 3px solid #3a92ff;
            }
          }
        }
      }
      .content-section {
        margin-top: 33.75px;
        .add-comment-section {
          padding: 0 11.25px 0 11.25px;
          position: relative;
          .profile-image {
            width: 60px;
            height: 60px;
            border-radius: 100%;
            vertical-align: middle;
          }
          .comment-input {
            margin-left: 15px;
            width: calc(100% - 80px);
            background: #ffffff;
            border: 1.5px solid #e5e5e5;
            border-radius: 3.75px;
            padding: 25px 15px 25px 15px;
            font-size: 20px;
            font-family: 'Work Sans';
            font-weight: 400;
            letter-spacing: -0.5px;
            // color: #A2A2A2;
          }
          .show-emoji-box-btn {
            position: absolute;
            width: 30px;
            min-width: 30px;
            height: 30px;
            right: 28px;
            top: 12.5px;
            margin: 0;
            text-transform: none;
            box-shadow: none;
            background: #ffffff;
            border: 0.75px solid #dddddd;
            border-radius: 75px;
            font-size: 15px;
            color: #9b9b9b;
            letter-spacing: -0.6px;
            &.selected {
              background: #3a92ff;
              border: none;
              color: #ffffff;
            }
          }
        }
        .emoji-picker {
          position: absolute;
          bottom: 60px;
          right: 30px;
        }
      }
      .comment-items {
        padding-top: 26.25px;
        .comment-item {
          margin-top: 26.25px;
          .comment-parent-item {
            padding: 7.5px 11.25px;
            position: relative;
            .profile-image {
              width: 60px;
              height: 60px;
              border-radius: 100%;
              vertical-align: middle;
            }
            .comment-user-avatar {
              width: 60px;
              height: 60px;
              border-radius: 100%;
              vertical-align: middle;
              border: 0.75px solid rgba(255, 255, 255, 0.3);
              background-size: cover;
              overflow: hidden;
              background-position: center;
              display: inline-block;
              .activity-item-profile-cover {
                // left: -18.75px;
                // top: 20.25px;
              }
            }
            .comment-content {
              display: inline-block;
              margin-left: 7.5px;
              vertical-align: middle;
              // margin-top: 7.5px;
              width: calc(100% - 210px);
              .user-name {
                font-weight: 600;
                font-size: 20px;
                color: #3a92ff;
                letter-spacing: -0.5px;
                cursor: pointer;
                font-family: 'Work Sans';
                margin-left: 10px;
              }
              .comment-text {
                font-size: 18px;
                color: #000000;
                letter-spacing: 0;
                margin: 0 0 0 10px;
                a {
                  color: #3a92ff;
                }
              }
            }
            .right-section {
              display: inline-flex;
              justify-content: flex-end;
              align-items: center;
              width: 120px;
              .comment-more-action {
                opacity: 0;
                .more-btn {
                  width: 30px;
                  min-width: 30px;
                  display: inline-block;
                  vertical-align: middle;
                  background-color: transparent !important;
                  box-shadow: none;
                  margin: 0;
                  color: #7a7a7a;
                  .btn__content {
                    padding: 0;
                  }
                  .icon {
                    margin: 0;
                    color: #444444;
                    font-size: 22.5px;
                  }
                }
                .track-menu-item {
                }
              }
              .comment-time {
                max-width: 85px;
                margin-left: 10px;
                font-size: 16px;
                color: #777;
                letter-spacing: 0;
                text-align: right;
              }
            }
            &:hover {
              background: #e4e4e4;
              background: rgba(228, 228, 228, 0.6);
              // opacity: 0.6;
              border-radius: 7.5px;
              .comment-more-action {
                opacity: 1;
              }
            }
          }
          .child-items {
            margin-left: 67.5px;
            width: calc(100% - 67.5px);
            .comment-child-item {
              padding: 7.5px 11.25px;
              margin-top: 6px;
              .profile-image {
                width: 37.5px;
                height: 37.5px;
                border-radius: 100%;
                vertical-align: middle;
              }
              .comment-content {
                margin-left: 7.5px;
                width: calc(100% - 187px);
                display: inline-block;
                vertical-align: middle;
                .user-name {
                  font-weight: 600;
                  font-size: 15px;
                  color: #3a92ff;
                  letter-spacing: 0;
                }
                .comment-text {
                  font-size: 16px;
                  color: #000000;
                  letter-spacing: 0;
                  margin: 0 0 0 10px;
                }
              }
              .right-section {
                width: 135px;
                text-align: right;
                vertical-align: middle;
                display: inline-block;
                .comment-more-action {
                  opacity: 0;
                  .more-btn {
                    width: 30px;
                    min-width: 30px;
                    display: inline-block;
                    vertical-align: middle;
                    background-color: transparent !important;
                    box-shadow: none;
                    margin: 0;
                    color: #7a7a7a;
                    .btn__content {
                      padding: 0;
                    }
                    .icon {
                      margin: 0;
                      color: #444444;
                      font-size: 22.5px;
                    }
                  }
                  .track-menu-item {
                  }
                }
                .comment-time {
                  font-size: 15px;
                  color: #bcbcbc;
                  letter-spacing: 0;
                }
              }
              &:hover {
                background: #e4e4e4;
                opacity: 0.6;
                border-radius: 7.5px;
                .comment-more-action {
                  opacity: 1;
                }
              }
            }
          }
        }
        .loadmore-btn {
          margin-top: 15px;
        }
      }
    }
    .album-tracks-section {

      .album-track-item {
        padding: 6px 11.25px;

        .track-name {
          display: inline-block;
          max-width: 500px;
          min-width: 75px;
          padding-left: 3.75px;
          line-height: 36px;
          font-size: 14px;
          color: #ffffff;
          letter-spacing: 0;
          vertical-align: middle;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;

          .track-index {
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 0;
            vertical-align: middle;
          }
          .track-user-name {
            font-weight: 900;
            color: #ffffff;
          }
        }
        .action-btn {
          background-color: transparent !important;
          box-shadow: none;
          margin: 0;
          color: rgba(255, 255, 255, 0.5);
          min-width: 36px;
          .btn__content {
            padding: 0;
          }
          .icon {
            color: rgba(255, 255, 255, 0.5);
          }
          img {
            height: 11.25px;
            padding-right: 3.75px;
          }
        }
        .track-actions {
          float: right;
          display: inline-block;
          opacity: 0;
          .action-btn {
            background-color: transparent !important;
            box-shadow: none;
            margin: 0;
            color: rgba(255, 255, 255, 0.5);
            cursor: default;
            min-width: 78px;
            .btn__content {
              padding: 0;
            }
            .icon {
              color: rgba(255, 255, 255, 0.5);
            }
            img {
              height: 11.25px;
              padding-right: 3.75px;
            }
          }
        }
        .right-section {
          float: right;
          .track-more-action {
            opacity: 0;
            .more-btn {
              width: 37.5px;
              min-width: 37.5px;
              display: inline-block;
              vertical-align: middle;
              background-color: transparent !important;
              box-shadow: none;
              margin: 0;
              color: rgba(255, 255, 255, 0.5);
              .btn__content {
                padding: 0;
              }
              .icon {
                margin: 0;
                font-size: 22.5px;
              }
            }
            .track-menu-item {
            }
          }
          .track-length {
            display: inline-block;
            vertical-align: middle;
            font-size: 15px;
            color: rgba(255, 255, 255, 0.5);
            letter-spacing: 0;
          }
        }
        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          .track-actions {
            opacity: 1;
          }
          .right-section {
            .track-more-action {
              opacity: 1;
            }
          }
        }
        &.selected {
          background-color: rgba(255, 255, 255, 0.1);
          .track-actions {
            opacity: 1;
          }
          .right-section {
            .track-more-action {
              opacity: 1;
            }
          }
        }
      }
    }
  }
  .album-recent-page {
    padding-top: 0;
    padding-bottom: 0px;

    .recent-title {
      padding: 0 11.25px 15px 11.25px;
      // margin-bottom: 20px;
      border-bottom: 0px solid #c3c3c3;
      font-weight: 700;
      font-size: 24px;
      color: #000000;
      letter-spacing: -1.5px;
      font-family: 'Work Sans';
    }
    .recent-content {
      .card-container {
        min-width: 184px;
        margin-bottom: 0;
        padding: 0 !important;
        // margin-top: 30px;

        .product-actions {
          pointer-events: none;
        }
        /deep/.product-actions {
          pointer-events: none;
        }
      }
    }
  }

  .secondary-album-details {
    // background-color: red;
    background-color: #fafafa;
    padding: 65px;
    padding-top: 40px;

    .album-merch-section {
      @extend .sectionCard;
      margin-top: 30px;
      cursor: pointer;
      .title {
        color: white;
        font-weight: 300;
        font-size: 24px !important;
        letter-spacing: -0.6px !important;
        border-bottom: 1px solid rgba(215, 215, 215, 0.2);
        padding-bottom: 8px;
        margin-bottom: 16px;
      }
      .merch-detail-section {
        margin-top: 10px;
        background-color: transparent;
        padding: 0;
        border-radius: 3px;
        .merch-avatar {
          width: 100%;
          height: 200px;
          display: inline-block;
          vertical-align: middle;
          background-size: contain;
          background-position: center;
          overflow: hidden;
          border-radius: 5px;
          border: 3px solid white;
        }
        .info-section {
          vertical-align: middle;
          padding-left: 10px;
          .merch-name {
            display: block;
            font-family: 'Work Sans';
            font-weight: 600;
            font-size: 18px;
            letter-spacing: -0.7px;
            cursor: pointer;
            width: 250px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
          }
          .merch-price {
            display: block;
            font-weight: bolder;
            letter-spacing: -0.6px;
            font-size: 16px;
            cursor: pointer;
          }
          .merch-status-icon {
            width: 15px;
            margin-left: 20px;
            cursor: pointer;
          }
          .link-btn {
            display: block;
            color: rgba(255, 255, 255, 0.52);
            font-size: 16px;
            letter-spacing: -0.6px;
            cursor: pointer;
          }
        }
      }
    }

    .album-reposted-section {
      @extend .sectionCard;

      & .__title {
        // margin-left: 20px;
        // margin-top: 8px;
      }

    }
  }
}

.dialog--scrollable > .card > .card__text {
  margin-left: 12px;
  padding-right: 36px;
}

.album-dialog-body.card {
  padding-bottom: 10px;
  overflow-x: hidden;

  .card__title {
    font-size: 28px;
    font-weight: 700;
    // color: rgba(0, 0, 0, 0.5);
    letter-spacing: -1px;
    padding-left: 28px;
    padding-bottom: 8px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(195, 195, 195, 0.25);
    font-family: 'Work Sans';
  }
  .card__text {
    .album-info-label {
      // margin-top: 20px;
      font-weight: 600;
      font-size: 15px;
      font-family: 'Work Sans';
      letter-spacing: -0.1px;
      padding-top: 20px;
    }
    .album-info-text {
      font-size: 14px;
      // color: rgba(255, 255, 255, 0.5);
      white-space: pre-wrap;
      font-family: 'Work Sans';
      letter-spacing: -0.2px;

      .collaborator-info,
      .contributor-info {
        padding-left: 0;
      }
      .sampling-info {
        padding-left: 0;
        // label {
        //   font-weight: 500;
        // }
      }
    }
  }
}

.dialog.collaborators-confirm-dialog {
  width: 700px;

  .card {
    .card__title.headline {
      font-size: 24px !important;
      font-weight: 700;
      font-family: 'Work Sans';
      padding-left: 50px;
      padding-top: 50px;

      .icon {
        color: #ff0000;
      }
    }

    .card__text {
      font-size: 20px;
      letter-spacing: 0;
      padding-left: 50px;
      padding-right: 50px;
    }
  }
}
