.artist-card {
  width: 100%;

  .item-info {
    position: relative;

    .artist-info-section {
      position: relative;
      padding: 0;
      margin-top: 7.5px;

      .artist-cover {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        border-radius: 100%;
        overflow: hidden;
        background-position: center;
      }

      .artist-name {
        text-align: center;
        font-size: 18px;
        font-weight: 500;
        margin: 15px 0;
        height: 30px;
        color: #000000;
        letter-spacing: 0;
      }

      .follow-section {
        padding-top: 5px;
        text-align: center;
        background-color: #ffffff;

        .follow-btn {
          width: 88.5px;
          height: 40px;
          box-shadow: none;
          text-transform: uppercase;
          margin: 7.5px 5.25px 10px 0px;
          color: #fff;
          border: 1px solid #377af9;
          background-color: #fff;
          border-radius: 75px;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: -0.5px;
          min-width: 100px;
          &.follow {
            color: #fff !important;
            border: 1px solid #3a92ff;
            background-color: #417ef2;
          }
          &.following {
            color: #333 !important;
            border: 1px solid #333;
            &:hover {
              color: #fff !important;
              border: 1.5px solid #dc3546;
              background: #fe2020;
            }
          }
        }
      }

      .artist-actions {
        width: 100%;
        height: 100%;
        // background: rgba(0, 0, 0, 0.86);
        position: absolute;
        padding: 0;
        left: 0;
        top: 0;
        opacity: 0;
        // cursor: pointer;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;

        &:hover {
          opacity: 1;
        }

        & > a > div {
          z-index: 1;
        }

        .avatar-cover {
          position: relative;
          background: rgba(0, 0, 0, 0.66);
          width: 100%;
          padding-bottom: 100%;
          border-radius: 100%;

          .hover-title {
            position: absolute;
            width: 100%;
            top: 50%;
            margin-top: -9px;
            text-align: center;
            color: #fff;
            font-size: 18px;
          }
        }

        .action-btn {
          display: block;
          border: none;
          border-radius: 15px;
          background: none !important;
          text-transform: none;
          box-shadow: none;
          height: 30px;
          font-size: 15px;
          letter-spacing: 0;
          .btn__content {
            float: left;
          }
          &.height {
            height: 60px;
          }
        }
      }

      .label-user-avatar {
        width: 30%;
        padding-bottom: 30%;
        margin: 10px auto;
        background-size: contain;
        border-radius: 100%;
        background-position: center;
        @media (max-width: 1200px) {
          margin-top: 2px;
          margin-bottom: 2px;
          display: block;
        }
        @media (max-width: 1130px) {
          display: none;
        }
        @media (max-width: 1012px) {
          margin-top: 2px;
          display: block;
        }
        @media (max-width: 910px) {
          display: none;
        }
        @media (max-width: 809px) {
          margin-top: 0;
          display: block;
        }
        @media (max-width: 735px) {
          margin-top: 5px;
        }
        @media (max-width: 679px) {
          margin-top: 3px;
        }
        @media (max-width: 607px) {
          margin-top: 10px;
          width: 35%;
          padding-bottom: 35%;
        }
        @media (max-width: 445px) {
          display: none;
        }
        @media (max-width: 404px) {
          margin-top: 20px;
          width: 40%;
          padding-bottom: 40%;
          display: block;
        }
        @media (max-width: 300px) {
          margin-top: 10px;
          width: 35%;
          padding-bottom: 35%;
        }
        @media (max-width: 264px) {
          width: 30%;
          padding-bottom: 30%;
        }
        @media (max-width: 235px) {
          display: none;
        }

        @media (min-width: 1580px) {
          width: 35%;
          padding-bottom: 35%;
          margin-top: 15px;
        }
      }
      .label-username {
        padding: 0 10px;
        text-align: center;
        font-weight: 700;
        font-size: 20px;
        color: #ffffff;
        letter-spacing: -0.6px;
        @media (max-width: 607px) {
          margin-top: 20px;
        }
        @media (max-width: 500px) {
          margin-top: 0;
        }
        @media (max-width: 404px) {
          margin-top: 20px;
        }
      }
      .label-description {
        padding: 0 10px;
        text-align: center;
        font-size: 15px;
        color: #ffffff;
        letter-spacing: -0.6px;
        line-height: 15px;
        @media (max-width: 404px) {
          margin-top: 10px;
        }
      }
      .label-actions-section {
        text-align: center;
        position: absolute;
        bottom: 10px;
        width: 100%;
        @media (max-width: 404px) {
          margin-bottom: 20px;
        }
        @media (max-width: 300px) {
          margin-bottom: 10px;
        }
        @media (min-width: 1580px) {
          margin-bottom: 10px;
        }
        .action-btn {
          display: inline-block !important;
          @media (max-width: 1376px) {
            margin: 5px;
          }
          @media (max-width: 1300px) {
            min-width: 50px;
            margin: 5px;
          }
          @media (max-width: 1200px) {
            min-width: 50px;
            margin: 2px 2px 0;
          }
          @media (max-width: 1130px) {
            min-width: 100px;
          }
          @media (max-width: 1012px) {
            min-width: 50px;
            margin: 5px 5px 0;
          }
          @media (max-width: 910px) {
            min-width: 100px;
          }
          @media (max-width: 809px) {
            min-width: 50px;
            margin: 5px 5px 0;
          }
          @media (max-width: 735px) {
            margin-bottom: 10px;
          }
          @media (max-width: 679px) {
            min-width: 50px;
            margin-bottom: 0;
          }
          @media (max-width: 404px) {
            min-width: 100px;
          }
          @media (max-width: 264px) {
            margin-bottom: 0;
          }
          .btn__content {
            float: initial !important;
          }
          &.accept {
            background: #5bad00 !important;
          }
          &.deny {
            background: #dc3545 !important;
          }
        }
      }
    }
    .album-detail {
      margin-top: 15px;
      .album-name {
        margin: 0;
        font-size: 15px;
        letter-spacing: -0.6px;
      }
      .album-posted-date {
        margin: 0;
        // text-align: center;
        opacity: 0.5;
        font-size: 15px;
        color: #8e8e8e;
        letter-spacing: -0.6px;
      }
    }
  }
}
