.page.attendee-page {
  img.site-logo {
    width: 200px;
  }

  img.page-logo {
    width: 200px;
  }

  p {
    font-size: 16px;
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    // font-size: 15px;
    // color: #4A4A4A;
    // letter-spacing: 0;
  }

  .input-group--select .input-group__input {
    min-height: 40px;
  }

  .input-group {
    label {
      height: 40px;
      line-height: 40px;
    }
  }

  button {
    width: 100%;
    height: 40px;
  }
}

.dialog.attendee-confirm-dialog {
  background-color: #FFFFFF;

  img.site-logo {
    width: 200px;
  }

  img.page-logo {
    width: 100px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
