.page.auth-page {
  .logo {
    // width: 200.25px;
    height: 40px;
    margin-top: 90px;
  }
  h4 {
    font-weight: 300;
    font-size: 38px;
    color: #2D2D2D;
    letter-spacing: -3.18px;
    margin-top: 60px;
    padding-bottom: 20px;
  }
}

.page.auth-page.auth-login-page {
  width: 320px;
  margin: 0 auto;
  input[type=text],
  input[type=email],
  input[type=password] {
    background: #FFFFFF;
    border: 0.75px solid #D2D2D2;
    border-radius: 3.75px;
    height: 45px;
    width: 300px;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding: 0 15px;
  }
  .email {
    margin-top: 22.5px;
  }
  .password {
    margin-top: 7.5px;
  }
  .regular-checkbox {
    margin-top: 14px;
    margin-bottom: 0p;
    margin-left: 0;
  }
  a {
    font-weight: 600;
    font-size: 14px !important;
    color: #3A92FF;
    letter-spacing: 0;
    text-decoration: none;
    display: block;
    margin-top: 18px;    
  }
  .forgot-password {
    margin-top: 15px;
    cursor: pointer;
  }

  .login-button {
    height: 40.5px;
    width: 300px;
    margin: 0 auto;
    background: #3A92FF !important;
    border-radius: 75px;
    box-shadow: none;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: none;
  }
  .or-divider {
    margin-top: 30px;
  }
  .or {
    font-size: 13.5px;
    color: #262626;
    letter-spacing: 0;
    margin-bottom: 0px;
  }
  .divider {
    margin: 9px 0px;
    background-color: #D0D0D0;
  }

  .create-account {
    margin-top: 11.25px;
    cursor: pointer;
  }
}

.page.auth-page.auth-register-as-page {
  // width: 397.5px;
  margin: 24px auto 0;
  position: relative;
  .avatar {
    width: 187.5px;
    height: 187.5px;
    border-radius: 93.75px;
  }    
  .listener-area,
  .artist-area {
    width: 187.5px;
    // position: absolute;
    display: inline-block;
    margin: 0 10px;
    // top: 0px;
    // left: 0px;
    a {
      cursor: pointer;
    }
  }
  .artist-area {
    left: 210px;
  }
  a {
    font-weight: 300;
    font-size: 28px;
    color: #333;
    letter-spacing: -1.5px;
    text-decoration: none;
    font-family: 'Work Sans';
  }
}

.page.auth-page.auth-register-header {
  width: 320px;
  margin: 45px auto 0;
  .logo {
    // width: 200.25px;
    height: 40px;
    margin-right: 14px;
    margin-top: 28px;
  }
  h4 {
    font-weight: 300;
    font-size: 34px;
    color: #2D2D2D;
    letter-spacing: -3.18px;
    margin-top: 40px;
    width: 307.5px;
  }
  &.artist {
    margin: 100px auto 0;
  }
}

.page.auth-page.auth-register-page {
  width: 320px;
  margin: 0 auto;
  .error--text {
    position: absolute;
    top: 20px;
    right: -95px;
    width: 100px;
  }
  .avatar-area {
    background: #FAFAFA;
    border: 0.75px solid #D2D2D2;
    border-radius: 3.75px;
    width: 300px;
    height: 90px;
    margin: 28.5px auto 0;
    position: relative;
    .avatar {
      position: absolute;
      top: 7.5px;
      left: 15px;
      background: #FFFFFF;
      border: 0.75px solid #E9E9E9;
      width: 75px;
      height: 75px;
      border-radius: 37.5px;
    }
    .upload-caption {
      position: absolute;
      top: 21px;
      left: 97.5px;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
    }
    .avatar-upload {
      position: absolute;
      top: 46.5px;
      left: 97.5px;      
      .avatar-file {
        width: 0.0.75px;
        height: 0.0.75px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }
      .avatar-file + label {
        background: #FFFFFF;
        border: 0.75px solid #DFDFDF;
        box-shadow: inset 0 -1.5px 2.25px 0 rgba(0,0,0,0.10);
        border-radius: 2.25px;
        font-size: 13.5px;
        color: #000000;
        letter-spacing: 0;
        padding: 1.5px 10.5px 0.75px;
        display: inline-block;
      }
      .avatar-file:focus + label,
      .avatar-file + label:hover {
        box-shadow: inset 0 0.75px 1.5px 0 rgba(0,0,0,0.10);        
      }
    }
  }

  input[type=text],
  input[type=email],
  input[type=password] {
    margin-top: 7.5px;
    background: #FFFFFF;
    border: 0.75px solid #D2D2D2;
    border-radius: 3.75px;
    height: 45px;
    width: 300px;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding: 0 15px;
  }
  .regular-checkbox {
    margin-top: 11.25px;
  }
  a {
    font-weight: 600;
    font-size: 13.5px;
    color: #3A92FF;
    letter-spacing: 0;
    text-decoration: none;
  }
  .create-account-button {
    width: 300px;
    height: 40.5px;
    margin: 0 auto;
    text-transform: none;
    box-shadow: none;
    background: #3A92FF !important;
    border-radius: 75px;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
  }
  &.artist {
    width: 100%;
    text-align: center;
    margin-top: 40px;
    .field-title {
      font-size: 15px;
      color: #B0B0B0;
      letter-spacing: 0;
    }
    input[type=text],
    input[type=email],
    input[type=password] {
      height: 35px;
      width: 300px;
      margin-top: 0;
      margin-bottom: 15px;
    }
    .info-section {
      width: 346px;
      display: inline-block;
      text-align: left;
      vertical-align: top;
      .info-title {
        font-size: 28px;
        color: #262626;
        letter-spacing: 0;
        vertical-align: top;
        display: block;
      }
      .info-description {
        font-size: 15px;
        color: #262626;
        letter-spacing: 0;
      }
    }
    .register-section {
      width: 346px;
      display: inline-block;
      padding-left: 40px;
      border-left: 0.75px solid rgba(0, 0, 0, 0.30);
    }
  }
}

.page.auth-page.social-verify-page {
  .page-header {
    width: 320px;
    margin: 90px auto 0;
    .logo {
      // width: 200.25px;
      height: 40px;
    }
    h4 {
      font-weight: 600;
      font-size: 28px;
      color: #2D2D2D;
      letter-spacing: -2px;
      margin-top: 65px;
      font-family: 'Work Sans';
    }
  }

  .page-content {
    padding-top: 30px;
    width: 50%;
    margin: 0 auto;
    p {
      font-weight: 400;
      font-size: 16px;
      font-family: 'Work Sans';
    }
    hr {
      width: 300px;
      margin: 30px auto 30px auto;
      border: none;
      border-top: 1px solid #ccc;
    }
    .btn {
      width: 300px;
      background: #3A92FB !important;
      font-weight: 600;
      font-size: 15px;
      color: rgb(255, 255, 255);
      letter-spacing: 0px;
      text-transform: none;
    }
    a {
      font-weight: 600;
      font-size: 18px;
      font-family: 'Work Sans';
      color: #3A92FF;
      letter-spacing: 0;
      display: block;
    }
    .goto-login {
      margin-top: 75px;
    }
  }
}

.page.auth-page.auth-forgot-page {
  width: 320px;
  margin: 0 auto;

  input[type=text],
  input[type=email] {
    background: #FFFFFF;
    border: 0.75px solid #D2D2D2;
    border-radius: 3.75px;
    height: 45px;
    width: 300px;
    margin-top: 22.5px;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding: 0 15px;
  }
  a {
    font-weight: 600;
    font-size: 13.5px;
    color: #3A92FF;
    letter-spacing: 0;
    text-decoration: none;
    display: block;
  }
  .reset-btn {
    margin: 15px auto 0 auto;
    background: #3A92FF !important;
    border-radius: 75px;
    height: 37.5px;
    width: 300px;
    box-shadow: none;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: none;
  }
  .or-divider {
    margin-top: 30px;
  }
  .or {
    font-size: 13.5px;
    color: #262626;
    letter-spacing: 0;
    margin-bottom: 0px;
  }
  .divider {
    margin: 9px 0px;
    background-color: #D0D0D0;
  }
  .sign-in {
    margin-top: 11.25px;
  }
}

.page.auth-page.auth-reset-page {
  width: 320px;
  margin: 0 auto;

  input[type=text],
  input[type=password] {
    background: #FFFFFF;
    border: 0.75px solid #D2D2D2;
    border-radius: 3.75px;
    height: 45px;
    width: 300px;
    margin-top: 22.5px;
    font-size: 15px;
    color: #4A4A4A;
    letter-spacing: 0;
    padding: 0 15px;
  }
  a {
    font-weight: 600;
    font-size: 13.5px;
    color: #3A92FF;
    letter-spacing: 0;
    text-decoration: none;
    display: block;
  }
  .reset-btn {
    margin: 15px auto 0 auto;
    background: #3A92FF !important;
    border-radius: 75px;
    height: 37.5px;
    width: 300px;
    box-shadow: none;
    font-weight: 600;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: 0;
    text-transform: none;
  }
  .or-divider {
    margin-top: 30px;
  }
  .or {
    font-size: 13.5px;
    color: #262626;
    letter-spacing: 0;
    margin-bottom: 0px;
  }
  .divider {
    margin: 9px 0px;
    background-color: #D0D0D0;
  }
  .sign-in {
    margin-top: 11.25px;
  }
}

.page.auth-page.auth-twitter-page {
  .page-header {
    width: 320px;
    margin: 46.25px auto 0;
    .logo {
      // width: 200.25px;
      height: 37px;
    }
    h4 {
      font-weight: 300;
      font-size: 28px;
      font-family: 'Work Sans';
      color: #2D2D2D;
      letter-spacing: -3.18px;
      margin-top: 13.75px;
      text-transform: uppercase;
      span {
        font-weight: 700;
      }
    }
  }

  .page-content {
    // width: 320px;
    max-width: 800px;
    margin: 0 auto;

    h5 {
      font-size: 24px;
      font-weight: 600;
      color: #2D2D2D;
      font-family: 'Work Sans';
      padding-left: 8px;
      letter-spacing: -1.5px;
      margin-top: 18px; 
      span {
        text-transform: capitalize;
      }
    }

    .input-group {
      padding: 0;
      .input-group--select__autocomplete {
        background-color: transparent !important;
        padding-left: 5px;
      }
      .input-group__input {
        height: 45px;
      }
      .input-group__details {
        display: none;
      }
    }

    input[type=text],
    input[type=email],
    textarea {
      background: #FFFFFF;
      border: 0.75px solid #D2D2D2;
      border-radius: 3.75px;
      height: 45px;
      width: 100%;
      font-size: 15px;
      color: #4A4A4A;
      letter-spacing: 0;
      padding: 0 15px;
    }
    
    textarea {
      resize: none;
      width: 100%;
      height: 90px;
      padding: 10px 15px;
    }

    .btn {
      display: inline-block;
      margin-bottom: 120px;
      margin-top: 15px;
      background: #3A92FF !important;
      border-radius: 75px;
      height: 37.5px;
      width: 300px;
      box-shadow: none;
      font-weight: 600;
      font-size: 15px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-transform: none;
    }
  }
}

.dialog.attendee-confirm-dialog {
  background-color: #FFFFFF;

  img.site-logo {
    width: 200px;
  }

  img.page-logo {
    width: 100px;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 16px;
  }
}
