.page.browser-page {
  text-align: center;
  img {
    height: 40px;
    margin: 150px 0 60px 0;
  }
  h2 {
    font-size: 36px;
  }
  p {
    font-size: 16px;
  }
  ul {
    display: inline-block;
    margin-top: 30px;
    list-style-type: none;
    li {
      display: inline-block;
      a {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-size: contain !important;
        &.chrome {
          background: url('/static/images/img_browser_chrome.png') no-repeat center center;
        }
        &.firefox {
          background: url('/static/images/img_browser_firefox.png') no-repeat center center;
        }
        &.brave {
          background: url('/static/images/img_browser_brave.png') no-repeat center center;
        }
        &.opera {
          background: url('/static/images/img_browser_opera.png') no-repeat center center;
        }
        &.yandex {
          background: url('/static/images/img_browser_yandex.png') no-repeat center center;
        }
      }
    }
    li + li {
      margin-left: 30px;
    }
  }
}
