.page.cart-page {
  .card {
    min-height: 375px;
  }

  .orders-status-section {
    padding: 30px 22.5px 37.5px;
    position: absolute;
    top: 0;
    right: 0;
    width: 262.5px;
    background: #F6F6F6;
    .status-row {
      padding-bottom: 18.75px;
      // display: block;
      .status-title {
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        // float: left;
        &.value {
          float: right;
        }
      }
    }
    .total-row {
      border-top: 0.75px solid #E4E4E4;
      padding-top: 15px;
      display: flow-root;
      .status-title {
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
        float: left;
        &.value {
          font-size: 22.5px;
          color: #000000;
          letter-spacing: 0;
          float: right;
        }
      }
    }
    .action-row {
      padding-top: 15px;
      text-align: center;
      .checkout-btn {
        width: 217.5px;
        height: 37.5px;
        box-shadow: none;
        text-transform: none;
        margin: 0px;
        background: #3A92FF !important;
        border-radius: 75px;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
  }

  .order-item {
    // margin-bottom: 22.5px;
    width: calc(100% - 262.5px);
    .order-section {
      .order-content-section {
        background: #FFFFFF;
        border: 1px solid #D5D5D5;
        margin-right: 30px;
        .product-cover-image {
          width: 97.5px;
          height: 97.5px;
          background: #FFF;
          border-radius: 7.5px;
          // margin: 7.5px 7.5px 3px;
          margin: 7.5px;
          background-position: center;
          background-size: cover;
        }
        .product-content {
          position: absolute;
          top: 15px;
          left: 116.25px;
          width: calc(100% - 116.25px);
          padding-right: 22.5px;
          .product-content-row {
            .product-name {
              font-size: 14px;
              color: #000000;
              letter-spacing: -0;
            }
            .product-status {
              margin-left: 6px;
              padding: 0px 10px;
              border-radius: 10px;
              line-height: 20px;
              color: #FFFFFF;
            }
            .product-count {
              float: right;
              padding: 0 11.25px;
              font-size: 15px;
              color: #000000;
              letter-spacing: 0;
            }
            .product-count-adjust-btn {
              float: right;
              margin: 0px;
              box-shadow: none !important;
              width: 19.5px;
              height: 19.5px;
              min-width: 0px;
              background: #FFFFFF !important;
              border: 0.75px solid #D1D1D1 !important;
              border-radius: 3.75px;
              .btn__content {
                i {
                  color: #D1D1D1;
                  font-size: 18px;
                }
              }
              &.active {
                border: 0.75px solid #3A92FF !important;
                border-radius: 1.5px;
                color: #3A92FF;
                .btn__content {
                  i {
                    color: #3A92FF;
                    font-size: 18px;
                  }
                }
              }
            }
            .user-name {
              font-size: 15px;
              color: #8E8E8E;
              letter-spacing: 0;
            }
            .product-price {
              font-weight: 700;
              font-size: 18px;
              color: #000000;
              letter-spacing: 0;
            }
            .order-detail-btn {
              float: right;
              padding-right: 11.25px;
              margin-top: 11.25px;
              font-size: 14px;
              color: #3A92FF;
              letter-spacing: 0;
              border-right: 0.75px solid #DBDBDB;
            }
            .message-buyer-btn {
              float: right;
              padding-left: 11.25px;
              margin-top: 11.25px;
              font-size: 14px;
              color: #3A92FF;
              letter-spacing: 0;
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .order-history-item {
    margin-bottom: 40px;
    .profile-section {
      .profile-content-section {
        margin-right: 30px;
        width: calc(100% - 262.5px);
        .profile-avatar {
          width: 37.5px;
          height: 37.5px;
          display: inline-block;
          .order-item-profile-avatar {
            border: 0.75px solid #CACACA;
            width: 37.5px;
            height: 37.5px;
            border-radius: 100%;
            .activity-item-profile-cover {
              left: -15px;
            }
          }
        }
        .profile-content {
          position: absolute;
          top: 10px;
          left: 50px;
          .user-name {
            font-size: 15px;
            color: #000000;
            letter-spacing: 0;
          }
          .order-detail-text {
            font-size: 15px;
            color: #000000;
            letter-spacing: 0;
          }
        }
        .profile-actions {
          position: absolute;
          right: 0;
          top: 10px;

          .order-detail-btn {
            padding-right: 11.25px;
            margin-top: 3.75px;
            font-size: 15px;
            color: #3A92FF;
            letter-spacing: 0;
            border-right: 0.75px solid #DBDBDB;
          }

          .message-buyer-btn {
            padding-left: 11.25px;
            margin-top: 3.75px;
            font-size: 15px;
            color: #3A92FF;
            letter-spacing: 0;
            cursor: pointer;
          }

          .order-date {
            padding-left: 36px;
            font-size: 14px;
            color: #959595;
            letter-spacing: 0;
          }  
        }
      }
      .status-section {
        width: 262.5px;
      }
    }
    .order-section {
      padding-top: 5px;

      .order-content-section {
        width: calc(100% - 262.5px);
        background: #FFFFFF;
        border: 1px solid #D5D5D5;
        margin-right: 30px;

        .product-cover-image {
          width: 75px;
          height: 75px;
          background: #D5D5D5;
          border-radius: 7.5px;
          // margin: 7.5px 7.5px 3px;
          margin: 7.5px;
          background-position: center;
          background-size: cover;
        }

        .product-content {
          position: absolute;
          top: 10px;
          left: 93.75px;
          width: calc(100% - 93.75px);
          padding-right: 22.5px;

          .product-content-row {
            .product-name {
              font-size: 15px;
              color: #000000;
              letter-spacing: 0;
            }
            .product-count {
              float: right;
              font-size: 15px;
              color: #000000;
              letter-spacing: 0;
            }
            .product-price {
              font-weight: 700;
              font-size: 18px;
              color: #000000;
              letter-spacing: 0;
            }
            // .product-link {
            //   float: right;
            //   margin-top: 5px;
            //   color: #3A92FF;
            //   cursor: pointer;
            // }
          }
        }

        .menu {
          position: absolute;
          right: 50px;
          bottom: 5px;
          .btn {
            background: none !important;
            border: none !important;
            width: 37.5px;
            min-width: 37.5px;
            box-shadow: none;
            right: -45px;
            top: 5px;
            color: #888;
            .btn__content {
              padding: 0;
            }
            i {
              margin: 0;
            }
          }
          .img {
            font-size: 13.5px;
            color: #000000;
            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
      .order-status-section {
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F6F6F6;
        width: 262.5px;
        &.shipped {
          background: #0ea958;
          cursor: pointer;
          color: #FFFFFF;
        }
        &.digital {
          background-color: transparent;
          border: 1px solid #D5D5D5;
          // .file_name {
          //   position: relative;
          //   width: 190px;
          //   margin: 20px 40px 0 20px;
          //   font-size: 16px;
          // }
          // .file_name label {
          //   display: block;
          //   width: 100%;
          //   white-space: nowrap;
          //   text-overflow: ellipsis;
          //   overflow: hidden;
          // }
          // .file_name:after {
          //   content: attr(data-filetype);
          //   position: absolute;
          //   left: 100%;
          //   top: 0;
          // }

          label {
            display: block;
            max-width: 215px;
            height: 20px;
            line-height: 20px;
            text-align: center;
            white-space: nowrap;
            overflow: hidden;
            font-size: 16px;
          }
          span {
            display: block;
            margin-top: 3px;
            color: #3A92FF;
            cursor: pointer;
          }
        }
        .order-status-text {
          // margin: 12.75px 0 4.5px;
          margin: 0;
          // padding-top: calc(20% - 16px);
          font-size: 15px;
          color: #000000;
          letter-spacing: 0;
        }
        .order-status-btn {
          margin: 0;
          width: 112.5px;
          height: 37.5px;
          text-transform: none;
          border: none !important;
          box-shadow: none !important;
          border-radius: 75px;
          font-weight: 600;
          font-size: 15px;
          color: #FFFFFF;
          letter-spacing: 0;
          &.ship {
            background: #3A92FF !important;
          }
          &.shipped {
            background: #5BAD00 !important;
          }
        }
      }
    }
  }

  .ys-dialog {
    width: 800px;
    background-color: #FFFFFF;

    .user-avatar {
      width: 80px;
      height: 80px;
      margin: 0 auto;
      border-radius: 100%;
      background-color: #FAFAFA;
      overflow: hidden;
      background-size: cover;
      background-position: center;
    }

    .user-name {
      color: #000000;
      font-family: 'Work Sans';
      font-size: 18px;
      font-weight: 600;
      letter-spacing: 0;
      text-align: center;
    }

    .product-cover {
      width: 240px;
      height: 240px;
      margin: 0 auto;
      background-color: #FAFAFA;
      overflow: hidden;
      background-size: cover;
      background-position: center;
    }

    .product-name {
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 20px;
      font-weight: 600;
    }

    label {
      font-size: 16px;
      color: #BBBBBB;
      span {
        color: #121212;
      }
    }

    h3 {
      text-align: center;
    }

    h4 {
      padding: 0;
      font-size: 16px;
      font-weight: 400;
    }

    .input-group__details {
      display: none;
    }

    textarea {
      width: 100%;
      height: 100px;
      padding: 10px 15px;
      border: 0.75px solid #D2D2D2;
      border-radius: 5px;
      resize: none;
    }

    p {
      font-size: 12px;
    }
  }
}

.dialog.tracking-info-dialog {
  .product {
    display: flex;
    flex: 1 1 0;
    height: 70px;
    margin: 0 0 20px 0;
    align-items: center;
    .product-cover {
      width: 70px;
      height: 70px;
      background-position: center;
      background-size: cover;
    }
    .product-info {
      margin-left: 10px;
      .product-name {
        font-size: 14px;
      }
      .product-owner {
        color: #1976D2;
        font-size: 14px;
      }
    }
  }
}
