.dashboard-page {
    .no-chart {
        min-height: 200px;
    }

    .d-nav-active {
        background: #000000;
        border-radius: 50px;
        
        label {
            color: #ffffff !important;
            padding: 5px 20px !important;
            font-weight: 500;
        }
    }

    .inner-tab-action {
        .action_content {
            text-align: left;
            cursor: pointer;
            padding: 10px;
            border: 1px solid #cccccc;

            .action_value {
                font-size: 18px;
                font-weight: 700;
            }

            .action_title {}
        }

        &.inner-tab-active {
            .action_content {
                border: 1px solid #5F78FF;
            }
        }
    }

    .chart-header-tabs {
        li {
            label {
                font-size: 13px;
            }
        }
    }

    .col-summary-section {
        margin-top: 40px;

        .col-summary {
            &-frame {
                border: 1px solid #cccccc;
                border-radius: 12px;
                
                &-header {
                    padding: 20px 20px;
                    border-bottom: 1px solid #cccccc;
                }
                &-body {
                    padding: 20px;
                    height: 430px;
                    overflow-y: auto;

                    .pie-chart {
                        /deep/.apexcharts-canvas {
                            margin-top: -40px;
                            // border: 2px solid;
                            // height: 100% !important;

                            .apexcharts-legend {
                                flex-direction: column;
                                // top: 200px !important;

                                .apexcharts-legend-series {
                                    margin-bottom: 10px !important;
                                }
                            }
                        }
                    }

                    .col-listing {
                        display: flex;
                        align-items: center;
                        margin-bottom: 12px;

                        &.__round {
                            ._thumbnail {
                                border-radius: 100%;
                            }
                            
                        }

                        ._thumbnail {
                            width: 40px;
                            height: 40px;
                            background-color: #cccccc;
                            margin-right: 20px;
                        }
                    }
                }
            }
        }
    }
}