.earn-money-sticker,
.earn-money-sticker--play {
  position: fixed;
  // bottom: 110px;
  bottom: 20px;
  right: 20px;
  z-index: 20;
  border-radius: 10px;
  padding: 6px 24px 16px 24px;
  background-color: #F8F8F8;
  h3 {
    margin: 10px 0px -10px 0px;
    font-size: 22px;
    font-weight: 900;
  }
  p {
    margin: 5px 0px;
    font-size: 17px;
  }
  .btn__content {
    text-transform: capitalize;
  }
}

.earn-money-sticker {
  display: none;
}

.earn-money-sticker--play {
  bottom: 110px;
}