.my-genre-dialog {
  background-color: #121212;
  max-width: 1250px !important;
  width: 1250px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-radius: 4px;

  &.onMobile {
    background-color: #ffffff;
    width: auto !important;
    
    ._title {
      color: #000000;
    }
    ._subtitle p {
      color: #000000;
    }
    .genre {
      .pgs-wrapper {
        .pgs {
          padding-bottom: 68px;

          .pgs-inner-wrapper {
            background-color: unset !important;
            border: 1px solid #9d9999;
            border-radius: 4px;
            
            .pgs__title {
              color: #2E3B52;
            }
            &._checked {
              background-color: #EEF6FF !important;
              border: 1px solid #3083FF;
              color: #000000 !important;
              display: flex;
              justify-content: space-between;
              align-items: center;

              ._selected {
                font-weight: bold;
              }

              &._checked {
                .pgs__title {
                  margin-bottom: 0;
                  
                  label {
                    font-weight: 900;
                    color: #000000;
                  }

                }
                .pgs__description span {
                  color: #000000;
                  padding-left: 0;
                }
              }
            }

            .pgs__description span {
              background-color: unset !important;
              color: #000000;
            }
          }
        }
      }

      ._save-section {
        position: sticky;
        bottom: -21px;
        text-align: center;
        background-color: #ffffff;
        width: 100%;
        padding: 10px 0;
      }
    }
  }

  .regular-checkbox {
    label {
      font-size: 16px !important;
      color: #fff;
      font-weight: 300;
    }
  }

  .flex.sm3 {
    flex-basis: 40%;
    max-width: 50%;
  }

  .genre {
    position: relative;
    & > h3 {
      font-size: 28px;
      letter-spacing: 0px;
      line-height: 32px;
      color: #fff;
      font-family: Avenir, Arial !important;
      font-weight: 900;
    }
    & > p {
      // margin: 10px 0 10px 10px;
      font-size: 16px;
    }
    & > .update-btn {
      // position: absolute;
      // top: 25px;
      // right: 0px;
      border-radius: 50px;
      box-shadow: none;
      font-family: Avenir, Arial !important;
      font-size: 16px;
      font-weight: 600;
    }
    & > .pgs_area {
      height: 330px;
      overflow-y: auto;
    }

    p {
      margin-bottom: 0;
      color: #fff;
      font-weight: 200;
    }

    b,
    strong {
      font-family: Avenir, Arial !important;
      font-weight: 900;
    }

    .pgs-wrapper {
      display: inline-block;
      width: 16.66666666666666%;
      padding: 0px 5px 0px;
      .pgs {
        position: relative;
        padding-bottom: 38%;
        .pgs-inner-wrapper {
          position: absolute;
          width: 100%;
          // height: 100%;
          padding: 10px 10px;
          color: #ffffff;
          // filter: brightness(1.2);
          cursor: pointer;
          font-size: 14px;
          font-weight: 600;
          .pgs-inner {
            position: relative;
            width: 100%;
            height: 100%;
            .pgs__title {
              margin-bottom: 10px;
              label {
                font-size: 13px;
                font-weight: 600;
                color: #000;
                word-break: break-word;
                font-family: 'Montserrat';
              }
              span {
                display: inline-block;
                margin-left: 5px;
                font-size: 14px;
                font-weight: 500;
              }
            }
            .pgs__description {
              span {
                padding: 0 5px;
                font-size: 13px;
                font-weight: 400;
                word-break: break-word;
                cursor: pointer;
                border-radius: 10px;
                background: rgba(0, 0, 0, 0.16);
                padding-left: 8px;
                padding-right: 8px;
                padding-top: 4px;
                padding-bottom: 4px;
                &:hover {
                  border-radius: 10px;
                  background: rgba(21, 21, 21, 0.8);
                  padding-left: 8px;
                  padding-right: 8px;
                  padding-top: 4px;
                  padding-bottom: 4px;
                }
              }
            }
            .pgs__content {
              font-size: 32px;
              line-height: 32px;
              text-align: center;
              .upload-info {
                position: absolute;
                left: 0;
                bottom: 0;
                label {
                  display: none;
                  text-align: left;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 20px;
                }
                span {
                  display: none;
                  text-align: left;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: 0;
                }
              }
              .pgs__image {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 32px;
                height: 32px;
              }
              .pgs__badge {
                position: absolute;
                right: -3px;
                bottom: -9px;
                width: 28px;
                height: 28px;
                border-radius: 16px;
                cursor: pointer;

                &.check-o {
                  display: none;
                  background: url('/static/images/ic_check_o.png') no-repeat
                    center center;
                  background-size: contain;
                  opacity: 0.7;
                }

                &.check {
                  display: none;
                  background: url('/static/images/ic_check.png') no-repeat
                    center center;
                  background-size: contain;
                }
              }
            }
          }
          &.bg-color-0 {
            background-color: #f43374;
          }
          &.bg-color-1 {
            background-color: #e12d84;
          }
          &.bg-color-2 {
            background-color: #ce2894;
          }
          &.bg-color-3 {
            background-color: #b823a4;
          }
          &.bg-color-4 {
            background-color: #9f21b4;
          }
          &.bg-color-5 {
            background-color: #8021c4;
          }
          &.bg-color-6 {
            background-color: #55c6d5;
          }
          &.bg-color-7 {
            background-color: #54b8de;
          }
          &.bg-color-8 {
            background-color: #4faae7;
          }
          &.bg-color-9 {
            background-color: #469cf0;
          }
          &.bg-color-10 {
            background-color: #388ef8;
          }
          &.bg-color-11 {
            background-color: #5622d4;
          }
          &.bg-color-12 {
            background-color: #54d5cc;
          }
          &.bg-color-13 {
            background-color: #63bacf;
          }
          &.bg-color-14 {
            background-color: #699ed0;
          }
          &.bg-color-15 {
            background-color: #6b83d2;
          }
          &.bg-color-16 {
            background-color: #6867d3;
          }
          &.bg-color-17 {
            background-color: #6148d4;
          }
        }
      }
    }

    & > .genre-container {
      display: flex;
      .pgs-wrapper {
        width: 175px !important;
      }
      .genre__content {
        width: 840px;
        padding: 5px 0 25px 50px;
        h5 {
          margin: 24px 0 10px 10px;
          color: #fff;
          font-size: 24px;
          font-weight: 800;
          font-family: avenir;
        }
        .input-group:not(.input-group--error) label {
          color: #e0e0e0;
        }
        .input-group.input-group--selection-controls
          .input-group__input
          .icon--selection-control {
          color: #e0e0e0;
        }
      }
    }
  }
}
