.my-genre-dialog {
  max-width: 1250px !important;
  width: 1250px !important;
  // z-index: 99;
  // position: fixed;
  // top: 50%;
  // left: 50%;
  // width: 800px;
  // height: 570px;
  // margin: -320px 0 0 -400px;
  // padding: 10px 10px;
  // border-radius: 5px;
  background-color: #1a1919;
  padding-left: 40px !important;
  padding-right: 40px !important;
  padding-top: 20px !important;
  padding-bottom: 20px !important;
  border-radius: 4px;
  height: 730px;

  .ma-2 {
      margin: 8px 8px 30px 8px !important;
  }

  .regular-checkbox {
      label {
      font-family: 'Open Sans',sans-serif !important;
      font-size: 16px !important;
      color: #fff;
      font-weight: 300;
    }
  }

  .flex.sm3 {
      flex-basis: 40%;
      max-width: 50%;
  }

  .genre {
    position: relative;
    & > h3 {
      font-size: 42px;
      letter-spacing: -1px;
      line-height: 32px;
      color: #fff;
      font-family: Avenir,Arial !important;
      font-weight: 900;
    }
    & > p {
      // margin: 10px 0 10px 10px;
      font-family: Avenir,Arial !important;
    }
    & > .update-btn {
      position: absolute;
      top: 25px;
      right: 0px;
      border-radius: 50px;
      box-shadow: none;
      font-size: 18px;
      font-family: Avenir,Arial !important;
    }
    & > .pgs_area {
      height: 540px;
      overflow-y: scroll;
    }

    p {
      color: #fff;
      font-weight: 200;
    }

    b, strong {
    font-family: Avenir,Arial !important;
    font-weight: 900;
    }

    .pgs-wrapper {
      display: inline-block;
      width: 16.66666666666666%;
      padding-top: 8px;
      padding-left: 5px;
      padding-right: 5px;
      padding-bottom: 1px;
      .pgs {
        position: relative;
        padding-bottom: 68%;
        .pgs-inner-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          padding: 10px 10px;
          color: #FFFFFF;
          // filter: brightness(1.2);
          cursor: pointer;
          font-size: 16px;
          font-weight: 600;
          .pgs-inner {
            position: relative;
            width: 100%;
            height: 100%;
            .pgs__title {
              label {
                font-size: 16px;
                font-weight: 700;
                word-break: break-word;
                font-family: 'Montserrat';
              }
              span {
                display: inline-block;
                margin-left: 5px;
                font-size: 14px;
                font-weight: 500;
              }
            }
            .pgs__description {
              span {
                padding: 0 5px;
                font-size: 13px;
                font-weight: 400;
                word-break: break-word;
                cursor: pointer;
                &:hover {
                  border-radius: 10px;
                  background: rgba(0, 0, 0, 0.2);
                  padding-left: 8px;
                  padding-right: 8px;
                  padding-top: 4px;
                  padding-bottom: 4px;
                }
              }
            }
            .pgs__content {
              font-size: 32px;
              line-height: 32px;
              text-align: center;
              .upload-info {
                position: absolute;
                left: 0;
                bottom: 0;
                label {
                  display: block;
                  text-align: left;
                  font-size: 18px;
                  font-weight: 600;
                  line-height: 20px;
                }
                span {
                  display: block;
                  text-align: left;
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 20px;
                  letter-spacing: -1px;
                }
              }
              .pgs__image {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 32px;
                height: 32px;
              }
              .pgs__badge {
                position: absolute;
                right: -3px;
                bottom: -3px;
                width: 32px;
                height: 32px;
                border-radius: 16px;
                cursor: pointer;

                &.check-o {
                  background: url('/static/images/ic_check_o.png') no-repeat center center;
                  background-size: contain;
                  opacity: .5;
                }

                &.check {
                  background: url('/static/images/ic_check.png') no-repeat center center;
                  background-size: contain;
                }
              }
            }
          }
          &.bg-color-0 { background-color: #F43374; }
          &.bg-color-1 { background-color: #E12D84; }
          &.bg-color-2 { background-color: #CE2894; }
          &.bg-color-3 { background-color: #B823A4; }
          &.bg-color-4 { background-color: #9F21B4; }
          &.bg-color-5 { background-color: #8021C4; }
          &.bg-color-6 { background-color: #55C6D5; }
          &.bg-color-7 { background-color: #54B8DE; }
          &.bg-color-8 { background-color: #4FAAE7; }
          &.bg-color-9 { background-color: #469CF0; }
          &.bg-color-10 { background-color: #388EF8; }
          &.bg-color-11 { background-color: #5622D4; }
          &.bg-color-12 { background-color: #54D5CC; }
          &.bg-color-13 { background-color: #63BACF; }
          &.bg-color-14 { background-color: #699ED0; }
          &.bg-color-15 { background-color: #6B83D2; }
          &.bg-color-16 { background-color: #6867D3; }
          &.bg-color-17 { background-color: #6148D4; }
        }
      }
    }

    & > .genre-container {
      display: flex;
      .pgs-wrapper {
        width: 175px !important;
      }
      .genre__content {
        width: 840px;
        padding: 5px 0 25px 10px;
        h5 {
          margin: 24px 0 10px 10px;
          color: #fff;
          font-size: 24px;
          font-weight: 800;
          font-family: avenir;
        }
        .input-group:not(.input-group--error) label {
          color: #e0e0e0;
        }
        .input-group.input-group--selection-controls .input-group__input .icon--selection-control {
          color: #e0e0e0;
        }
      }
    }
  }
}
