.page.landing-page {
  padding-top: 0 !important;

  .card {
    background: #FFFFFF;
    box-shadow: none;

    label {
      display: block;
      padding: 50px 0 20px 0;
      font-size: 55px;
      font-weight: 600;
      line-height: 50px;
      letter-spacing: -3px;
      color: #111;
      font-family: 'Work Sans';
      width: 400px;
    }

    p {
      font-size: 22px;
      font-weight: 300;
      line-height: 30px;
      width: 490px;
      padding-top: 16px;
    }

    &__media {
      height: 450px !important;
      margin-left: -16px;
      margin-right: -50px;
      &__background {
        background-size: auto 100% !important;
      }
    }
  }
  .card.left-content-card {
    .card__content {
      padding-right: 130px;
      width: 500px;
      margin-left: -100px;
    }
    .card__media {
      &__background {
        background-position: left top !important;
      }
    }
  }
  .card.right-content-card {
    .card__content {
      padding-left: 130px;
      width: 500px;
    }
    .card__media {
      &__background {
        background-position: right top !important;
      }
    }
  }

  .application .theme--dark.btn {
        font-size: 16px!important;
        padding: 20px;
  }

  .container.grid-list-lg .layout .flex {
      padding: 8px;
      padding-bottom: 140px;
  }

  .btn:not(.btn--depressed) {
      width: 150px;
      height: 50px;
      font-size: 20px;
      font-weight: 700;
      font-family: 'Work Sans';
      letter-spacing: -.5px;
  }

.container.grid-list-lg {
  padding: 16px;
  padding-top: 50px;
}

  .section {
    &__header {
      padding: 89px 0 0 0;
      text-align: center;
      h3 {
        position: relative;
        display: inline-block;
        margin: 0 0 10px 0;
        padding: 0 10px;
        font-size: 55px;
        line-height: 40px;
        font-family: 'Work Sans';
        letter-spacing: -3px;
      }
      label {
        z-index: 2;
        position: relative;
      }
      span {
        z-index: 1;
        position: absolute;
        display: inline-block;
        left: 0px;
        bottom: 5px;
        width: 100%;
        height: 10px;

        &.bg-color-1 {
          background-color: #65FFC2;
        }
        &.bg-color-2 {
          background-color: #FFD865;
        }
        &.bg-color-3 {
          background-color: #65FF71;
        }
        &.bg-color-4 {
          background-color: #65DAFF;
        }
      }
      p {
        font-size: 22px;
        line-height: 28px;
        padding-top: 18px;
        margin-bottom: 60px;
      }
    }
  }
  .section.ethical-section {
    margin-top: -200px;
    padding: 10px 15px 10px 15px;
    background-color: #FFFFFF;
    border-radius: 5px;

    .my-card {
      position: relative;
      margin: 20px 10px 20px 50px;
      // padding: 20px 0px 20px 40px;
      background: none;
      box-shadow: none;

      .my-card__title {
        font-size: 20px;
        font-weight: 600;
        font-family: 'Work Sans';
        letter-spacing: -.5px;
      }
      .my-card__subtitle {
        font-size: 18px;
        font-weight: 600;
      }
      .my-card__text {
        margin-top: 10px;
        font-size: 15px;
      }

      .o-out {
        position: absolute;
        top: 2px;
        left: -27px;
        width: 16px;
        height: 16px;
        border-radius: 15px;
        .o-in {
          width: 10px;
          height: 10px;
          margin: 3px 3px;
          border-radius: 10px;
        }

        &.bg-color-1 {
          background-color: #AAD0FE;
          .o-in {
            background-color: #3A92FF;
          }
        }
        &.bg-color-2 {
          background-color: #FF9DBE;
          .o-in {
            background-color: #F43374;
          }
        }
        &.bg-color-3 {
          background-color: #C8FFF3;
          .o-in {
            background-color: #50E3C2;
          }
        }
        &.bg-color-4 {
          background-color: #E6C2FF;
          .o-in {
            background-color: #8021C4;
          }
        }

        &.bg-color-5 {
          background-color: #CDB8FF;
          .o-in {
            background-color: #5622D4;
          }
        }

        &.bg-color-6 {
          background-color: #C8F0FF;
          .o-in {
            background-color: #54B8DE;
          }
        }
      }
    }
  }

  .page__header {
    padding: 30px 0 300px 0;
        background-image: linear-gradient(to left bottom, #040024, #3c0c48, #840053, #c70040, #f30000);
    color: #FFFFFF;
    padding-top: 100px;
    h3 {
      margin: 110px 0 60px 0;
      font-size: 90px;
      line-height: 40px;
      font-family: 'Work Sans';
      letter-spacing: -3px;
      font-weight: 700;
    }
    p {
      margin: 0 0 40px 0;
      font-size: 22px;
      line-height: 32px;
    }
  }

  .page__footer {
    padding: 200px 0 120px 0;
    // background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url("/static/images/bg_landing_footer_01.png") center top / cover no-repeat;
    background: url("/static/images/bg_landing_footer.png") center top / cover no-repeat;
    h3 {
      margin: 10px 0 10px 0;
      font-size: 45px;
      line-height: 40px;
      color: #FFFFFF;
      font-family: 'Work Sans';
      letter-spacing: -2px;
      padding-bottom: 36px;
    }
    footer {
      bottom: 15px;
      & > * {
        color: #FFFFFF !important;
      }
    }
  }
}

@media only screen and (max-width: 1068px) {
}

@media only screen and (max-width: 735px) {
}
