.page.main-landing-page {
  position: relative;

  ul {
    position: absolute;
    left: 50%;
    margin-left: -84px;
    transition: top 0.5s;
    list-style: none;
    text-align: center;
    li {
      display: inline-block;
      opacity: 0.25;
      margin: 0 10px;
      cursor: pointer;
      &:before {
        content: "\2022";
        color: #0043ff;
        font-size: 36px;
        line-height: 1;
      }
      &.active {
        opacity: 0.9;
      }
    }
  }

  .slides-container {
    width: 400%;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
  }

  .slide {
    width: 25%;
    float: left;
    margin-bottom: 100px;
    .slide__content {
      display: table;
      width: 100%;

      & > div {
        display: table-cell;
        vertical-align: middle;
        img {
          width: 100%;
          max-width: 1200px;
        }
      }

      p {
        display: table-cell;
        min-width: 500px;
        // width: 550px;
        margin: 0;
        padding-left: 40px;
        vertical-align: middle;
        font-size: 50px;
        font-weight: 900;
        font-family: 'Monsterrat', sans-serif;
        letter-spacing: -2px;
        line-height: 66px;
      }
    }
  }

  .slide.slide-4 img {
    width: 100%;
  }
}
