.page.main-landing-page {
  .slide {
    img {
      display: inline-block;
      width: 70%;
      vertical-align: middle;
      &.promote {
        width: 100%;
      }
    }
    p {
      display: inline-block;
      width: 29%;
      margin: 0;
      padding-left: 15px;
      font-size: 32px;
      font-weight: 900;
    }
  }
}
