.page.main-landing-page {
  .slide {
    display: table;
    width: 100%;

    & > div {
      display: table-cell;
      vertical-align: middle;
      img {
        width: 100%;
        max-width: 1000px;
        &.promote {
          max-width: 1400px;
          margin: auto;
          display: block;
        }
      }  
    }

    p {
      display: table-cell;
      min-width: 500px;
      margin: 0;
      padding-left: 30px;
      vertical-align: middle;
      font-size: 56px;
      font-weight: 900;
      font-family: 'Monsterrat', sans-serif;
      letter-spacing: -2px;
      line-height: 66px;
    }
  }

  .slick-slider {
    margin: 10px 0 50px;
  }

  .slick-dots {
    bottom: -50px;
    li {
      margin: 0 10px;
      button:before {
        font-size: 18px;
        color: #0043ff;
      }
    }
  }
}
