.page.manage-page {
  .page-title {
    // color: #FFFFFF;
  }
  .manage-tab {
    position: relative;
    .tabs {
      .tabs__bar {
        .tabs__wrapper.tabs__wrapper--scrollable {
          margin: 0;
          .tabs__li {
            margin-right: 30px;
            .tabs__item {
              padding: 0;
              text-transform: none;
              font-size: 20px;
              color: #8E8E8E;
              letter-spacing: -1px;
              font-weight: 500;
              font-family: 'Work Sans'!important;
              &.tabs__item--active {
                color: #000000;
              }
            }
          }
        }
      }
      .tabs__items {
        border: none;
        margin-top: 28px;
      }
    }
    .card.card--flat {
      background: none;
      border: none;
    }
    .menu {
      position: absolute;
      top: 0;
      right: 0;
      .menu__activator .btn {
        margin: 0;
        height: 37.5px;
        background: rgba(255,255,255,0.10) !important;
        border: 1.5px solid rgba(255,255,255,0.30) !important;
        border-radius: 3.75px;
        // transform: rotate(-180deg);
        // border: 2.25px solid #FFFFFF;
        font-size: 15px;
        // color: #000000 !important;
        letter-spacing: -0.6px;
        box-shadow: none;
        text-transform: none;
        width: 120px;
      }
    }
  }

  .tabs__item {
    padding: 0 !important;
    text-transform: none;
    font-weight: 700;
    font-size: 15px;
    // color: #000000 !important;
    letter-spacing: -0.6px;
  }
}

