.merch-section {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  z-index: 15;
  .dismiss-section {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .popup-section {
    max-width: 1000px;
    margin-top: calc(50vh - 350px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 20;
    background: #FFFFFF;
    box-shadow: 0 30px 55.5px 0 rgba(0,0,0,0.30);
    border-radius: 7.5px;
    padding: 37.5px 11.25px 30px;
    .image-section {
      max-width: 60%;
      height: 540px;
      padding: 0 30px 0px 36px;

      .product-carousel {
        border-radius: 7.5px;
        height: 0;
        padding-bottom: 100%;
        .carousel__item {
          position: absolute;
          top: 0;
          left: 0;
          width: 500px;
          height: 500px;
          background-size: cover;
          background-position: center;
        }
        .carousel__right {
          left: 260px;
          top: 95%;
        }
        .carousel__left {
          left: 185px;
          top: 95%;
        }
      }
      .product-cover-image {
        height: 500px !important;
        width: 500px !important;
        background-size: cover;
        background-repeat: no-repeat;
        background: #D5D5D5;
        border-radius: 10px;
        background-position: center;
        overflow: hidden;
      }
    }
    .info-section {
      padding: 0 11.25px;
      .profile-section {
        .avatar-image {
          width: 60px;
          height: 60px;
          border-radius: 100%;
          background-size: cover;
          display: inline-block;
          vertical-align: middle;
          overflow: hidden;
          background-position: center;
          .activity-item-profile-cover {
            margin-left: -11.25px;
          }
        }
        .profile-content {
          display: inline-block;
          width: 250px;
          vertical-align: middle;
          padding-left: 10px;

          .profile-title {
            font-size: 14px;
            line-height: 24px;
            color: #777;
          }
          .user-name {
            margin: 0;
            cursor: pointer;
            font-size: 20px;
            line-height: 20px;
            color: #000000;
            letter-spacing: -1px;
            font-family: 'Work Sans';
          }
        }
      }
      .item-section {
        padding-top: 20px;
        padding-bottom: 58.5px;
        .item-name {
          text-align: left;
          margin: 0;
          font-size: 18px;
          color: #000000;
          letter-spacing: -1px;
          font-family: 'Work Sans';
        }
        .item-price {
          text-align: left;
          margin: 0;
          font-weight: 600;
          font-size: 30px;
          color: #000000;
          letter-spacing: -1.8px;
          margin-top: -4px;
          font-family: 'Work Sans';
        }
        .item-description {
          max-height: 200px;
          overflow-y: scroll;
          margin-bottom: 22.5px;
          padding-top: 5.25px;
          text-align: left;
          font-size: 15px;
          color: #777;
          letter-spacing: 0;
          margin-left: 0;
        }
        .add-to-cart-btn {
          text-transform: none;
          box-shadow: none;
          height: 50px;
          width: 100%;
          margin: 18px 0 0;
          background: #3A92FF !important;
          border-radius: 75px;
          font-weight: 600;
          font-size: 15px;
          color: #FFFFFF;
          letter-spacing: 0;
        }
      }
    }
    .carousel__controls{
      display: none;
      background: transparent;
    }
    .theme--dark.btn {
      color: #707070
    }
    .carousel {
      box-shadow: none;
    }

    .policy-section {
      height: 380px;
      .tabs {
        height: 380px;
        .tabs__item {
          color: #333 !important;
        }
        .tabs__items {
          height: 290px;
          overflow-y: auto;

          .card {
            background: transparent;
          }
        }
      }
    }

    .actions-section {
      display: flex;
      padding-top: 20px;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      border-top: 1px solid #e7e7e7;
      .action-btn-wrapper {
        display: flex;
        .action-btn {
          vertical-align: middle;
          cursor: pointer;
          font-size: 16px;
          color: #3A92FF;
          letter-spacing: 0;
          padding-right: 24px;
          &.right-border {
            border-right: 0.75px solid #DBDBDB;
          }
          &.left-border {
            border-left: 0.75px solid #DBDBDB;
          }
        }
        .action-btn.policy {
          margin-left: 20px;
        }
        .action-btn.repost {
          span.chip {
            .chip__content {
              padding: 18px 6px;
            }
          }
        }
        .action-btn.share {
          margin: 0 20px;
          span.chip {
            .chip__content {
              padding: 18px 10px;
            }
          }
        }
      }
    }
  }
}
