.page.messages-page {
  .messages-stop-music-section {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: 15;
    text-align: center;
    .popup-section {
      max-width: 375px;
      padding-top: 67.5px;
      padding-bottom: 52.5px;
      margin-top: calc(50vh - 285px);
      margin-left: auto;
      margin-right: auto;
      background: #FFFFFF;
      box-shadow: 0 30px 55.5px 0 rgba(0,0,0,0.30);
      border-radius: 7.5px;
      .popup-image {
      }
      .popup-title {
        padding: 45px 15px 0;
        margin: 0;
        font-size: 22.5px;
        color: #000000;
        letter-spacing: 0;
      }
      .popup-text {
        padding: 7.5px 30px 45px;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
      }
      .gotta-btn {
        width: 248.25px;
        height: 37.5px;
        margin: 0;
        box-shadow: none;
        text-transform: none;
        background: #3A92FF !important;
        border-radius: 75px;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
  }
	.messages-page-header {
		margin-bottom: 11.25px;
    .menu {
      padding-top: 11.25px;
      i {
      	color: #c5c5c5;
      }
      .menu__activator .btn {
        margin: 0;
        height: 37.5px;
				background: #FFFFFF !important;
				border: 1.5px solid #E1E1E1 !important;
				border-radius: 3.75px;        
				/* Line: */
        // transform: rotate(-180deg);
        // border: 2.25px solid #FFFFFF;
        font-size: 15px;
        color: #000;
        letter-spacing: -0.6px;
        box-shadow: none;
        text-transform: none;
        width: 127.5px;

				
      }
    }
    .settings-text {
      cursor: pointer;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
    }
    .settings-icon {
      color: #3A92FF;
    }
	}
	.messages-page-content {
		// border-top: 0.75px solid #e1e1e1;
    .message-rooms-section {
      // background: #FFFFFF;
      height: calc(100vh - 201.75px);
      border: 0.75px solid #E1E1E1;
      .header-section {
        width: 100%;
        height: 75px;
        border-bottom: 0.75px solid #E1E1E1;
        position: relative;
        .header-title {
          display: flex;
          width: 100%;
          height: 100%;
          padding: 0 20px;
          justify-content: space-between;
          align-items: center;
          label {
            font-size: 18px;
            font-weight: 700;
            color: #212121;
            font-family: 'Work Sans';
          }
          span {
            font-size: 14px;
            color: #B0B0B0;
          }
        }
        // & > i {
        //   line-height: 75px;
        //   margin-left: 10px;
        //   font-size: 36px;
        // }
        .search-box {
          padding: 22.5px 11.25px;
          width: calc(100% - 41.25px);
          height: 30px;
          .search-container {
            // width: 375px;
            vertical-align: middle;
            white-space: nowrap;
            position: relative;

            .icon{
              position: absolute;
              left: 0;
              top: 50%;
              margin-left: 8px;
              margin-top: 6px;
              z-index: 1;
            }
            input.search-field{
              // width: 375px;
              width: 100%;
              height: 30px;
              background: #F3F3F3;
              float: left;
              padding-left: 30px;
              padding-right: 15px;
              -webkit-border-radius: 75px;
              -moz-border-radius: 75px;
              border-radius: 75px;
              font-size: 15px;
              // color: #ABABAB;
              text-align: center;
              letter-spacing: -0.6px;
              // border: 0.75px solid #929292;
              // -webkit-transition: background .55s ease;
              // -moz-transition: background .55s ease;
              // -ms-transition: background .55s ease;
              // -o-transition: background .55s ease;
              // transition: background .55s ease;
              &:focus, &:hover, &:active {
                outline: none;
                // background: rgba(150, 150, 150, 0.2);
              }
              &::-webkit-input-placeholder {
                color:#ABABAB;
              }
              &:-moz-placeholde {
                color:#ABABAB;
              }
              &::-moz-placeholder {
                color:#ABABAB;
              }
              &:-ms-input-placeholder {
                color:#ABABAB;
              }
            }
          }
        }
        .more-menu.menu {
          position: absolute;
          top: 22.5px;
          right: 11.25px;
          width: 30px;
          height: 30px;
          margin: 0;
          .btn {
            width: 30px;
            height: 30px;
            min-width: 30px;
            margin: 0;
            background: transparent !important;
            // background-color: rgba(255, 255, 255, 0.5) !important;
            box-shadow: none;
            border: 1px solid #FFF !important;
            border-radius: 75px;
            color: #696969;
            .btn__content {
              padding: 0;
              i {
                margin: 0;
                color: #696969;
              }
            }
          }
          .img {
            font-size: 13.5px;
            color: #000000;
            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
      .content-section {
        max-height: calc(100vh - 277.5px);
        overflow-x: hidden;
        overflow-y: scroll;
        position: relative;
        .message-room-item {
          padding: 11.25px;
          position: relative;
          cursor: pointer;
          .avatar-area {
            width: 37.5px;
            height: 37.5px;
            display: inline-block;
            vertical-align: middle;
            .avatar-image {
              width: 37.5px;
              height: 37.5px;
              border-radius: 100%;
              background-size: cover;
              overflow: hidden;
              background-position: center;
              .activity-item-profile-cover {
                left: 0px;
              }

            }
          }
          .detail-area {
            width: calc(100% - 120px);
            display: inline-block;
            vertical-align: middle;
            margin-left: 4.5px;
            .user-name {
              // display: block;
              font-weight: 400;
              font-size: 14px;
              color: #000000;
              letter-spacing: 0;
              cursor: pointer;
            }
            .short-message {
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              font-size: 15px;
              color: #777;
              letter-spacing: 0;
              cursor: pointer;
            }
          }
          .messaged-time {
            position: absolute;
            top: 12.5px;
            right: 11.25px;
            width: 80px;
            text-align: right;
            font-size: 12px;
            color: #9F9F9F;
            letter-spacing: 0;
            cursor: pointer;
          }
          &.new {
            background: #F6FAFF;
            .detail-area {
              .short-message {
                font-weight: 700;
                color: #000000;
              }
            }
            .messaged-time {
              font-weight: 700;
              color: #3A92FF;
            }
          }
          &.selected {
            background: #F8F8F8;
            width: 99.9%;
          }
        }
      }
    }
    .message-content-section {
      // background: #FFFFFF;
      height: calc(100vh - 201.75px);
      border: 0.75px solid #E1E1E1;
      position: relative;
      border-left-width: 0;
      .header-section{
        width: 100%;
        height: 75px;
        border-bottom: 0.75px solid #E1E1E1;
        position: relative;
        background: rgba(192, 192, 192, 0.08);
        .user-name {
          padding-top: 15.75px;
          margin: 0;
          font-weight: 600;
          font-size: 15px;
          color: #000000;
          letter-spacing: 0;
          text-align: center;
        }
        .messaged-time {
          // padding-top: 3.75px;
          margin: 0;
          font-size: 13.5px;
          color: #9F9F9F;
          letter-spacing: 0;
          text-align: center;
        }
        .more-menu.menu {
          position: absolute;
          top: 22.5px;
          right: 15px;
          width: 30px;
          height: 30px;
          margin: 0;
          .btn {
            width: 30px;
            height: 30px;
            min-width: 30px;
            margin: 0;
            background: transparent !important;
            // background-color: rgba(255, 255, 255, 0.5) !important;
            box-shadow: none;
            border: 1px solid #FFF !important;
            border-radius: 75px;
            color: #696969;
            .btn__content {
              padding: 0;
              i {
                margin: 0;
                color: #696969;
              }
            }
          }
          .img {
            font-size: 13.5px;
            color: #000000;
            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
      .message-list-section {
        width: calc(100% - 1px);
        max-height: calc(100vh - 337.5px);
        overflow-x: hidden;
        overflow-y: scroll;
        padding-bottom: 22.5px;
        margin-bottom: 60px;
        background-image: -ms-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
        background-image: -moz-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
        background-image: -o-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(243, 243, 243, 0.61)), color-stop(60, #FFFFFF));
        background-image: -webkit-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
      }
      .send-message-section {
        position: absolute;
        bottom: 0;
        left: 0;
        width: calc(100% - 1px);
        height: 60px;
        border-top: 0.75px solid #E1E1E1;
        // border-right: 0.75px solid #E1E1E1;
        .message-input-box {
          border: none;
          width: 100%;
          padding: 28px 26.25px;
          padding-right: 150.5px;
          font-size: 16px;
          letter-spacing: -0.2px;
          &:focus, &:hover, &:active {
            outline: none;
            // background: rgba(150, 150, 150, 0.2);
          }
          &::-webkit-input-placeholder {
            color:#ABABAB;
          }
          &:-moz-placeholde {
            color:#ABABAB;
          }
          &::-moz-placeholder {
            color:#ABABAB;
          }
          &:-ms-input-placeholder {
            color:#ABABAB;
          }
        }
        .show-emoji-box-btn {
          position: absolute;
          width: 30px;
          min-width: 30px;
          height: 30px;
          right: 110px;
          bottom: 13.5px;
          margin: 0;
          text-transform: none;
          box-shadow: none;
          background: #FFFFFF;
          border: 0.75px solid #DDDDDD;
          border-radius: 75px;
          font-size: 15px;
          color: #9B9B9B;
          letter-spacing: -0.6px;
          &.selected {
            background: #3A92FF;
            border: none;
            color: #FFFFFF;
          }
        }
        .send-message-btn {
          position: absolute;
          width: 72.75px;
          height: 30px;
          right: 15px;
          bottom: 13.5px;
          margin: 0;
          text-transform: none;
          box-shadow: none;
          background: #14c45a;
          border: 0 solid #07b84d;
          border-radius: 75px;
          font-size: 15px;
          color: #fff;
          letter-spacing: -0.6px;
        }
        .emoji-picker {
          position: absolute;
          bottom: 60px;
          right: 110px;
        }
        .theme--light .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
          background-color: rgb(241, 241, 241)!important;
        }
      }
    }
    .requests-section {
      // background: #FFFFFF;
      height: calc(100vh - 201.75px);
      border: 0.75px solid #E1E1E1;
      border-left: none;
      .header-section {
        width: calc(100% - 1px);
        height: 75px;
        border-top: 0.75px solid #E1E1E1;
        border-bottom: 0.75px solid #E1E1E1;
        background: #FFF;
        text-align: center;
        .section-title {
          margin: 0;
          padding-top: 3px;
          font-size: 15px;
          color: #000000;
          letter-spacing: -0.6px;
        }
        .option-area {
          .request-option-btn {
            border-radius: 75px;
            text-transform: none;
            box-shadow: none;
            background-color: transparent;
            font-size: 15px;
            color: #000000;
            letter-spacing: -0.6px;
            height: 30px;
            &.selected {
              background: #3A92FF;
              color: #FFFFFF;
            }
          }
        }
      }
      .content-section {
        max-height: calc(100vh - 277.5px);
        padding-top: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        .request-item {
          padding: 4px 12px;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
          &.selected {
            background-color: rgba(0, 0, 0, 0.1);
          }
          &.banned {
            cursor: default;
            &:hover {
              background-color: rgba(255, 0, 0, 0.05);
              background-image: url('/static/images/ic_ban.png');
              background-position: 260px 10px;
              background-size: 15px 15px;
            }
          }
          .avatar-area {
            width: 60px;
            height: 60px;
            display: inline-block;
            vertical-align: middle;
            .avatar-image {
              width: 60px;
              height: 60px;
              border-radius: 3.75px;
              background-size: cover;
            }
          }
          .detail-area {
            width: calc(100% - 80px);
            padding-left: 11.25px;
            display: inline-block;
            vertical-align: middle;
            .item-name {
              display: block;
              font-size: 15px;
              color: #000000;
              letter-spacing: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: inherit;
            }
            .user-name {
              display: block;
              opacity: 0.5;
              font-size: 15px;
              color: #000000;
              letter-spacing: -0.6px;
              cursor: inherit;
            }
          }
        }
      }
    }
	}
}

.message-item {
  padding: 3.75px 15px 0px;
  .messaged-time {
    text-align: center;
    font-size: 13.5px;
    color: #9F9F9F;
    letter-spacing: 0;
    margin-bottom: 17.5px;
  }
  .message-section {
    .user-avatar-image {
      width: 60px;
      height: 60px;
      display: inline-block;
      overflow: hidden;
      background-size: cover;
      border-radius: 100%;
      vertical-align: bottom;
      .activity-item-profile-cover {
        margin-left: -11.25px;
        // top: 20.25px;
      }

    }
    .message-content {
      border-radius: 22.5px;
      display: inline-block;
      padding: 7.5px 18.75px;
      max-width: calc(100% - 82.5px);
      &.text {
        .text-message {
          width: 100%;
          word-break: break-word;
          white-space: pre-line;
          font-size: 16px;
          letter-spacing: -0.5px;
          font-family: 'Work Sans';
        }
      }
      &.request {
        padding: 11.25px 18.75px 22.5px;
        width: 350px;
        .repost-status-section {
          .status-title {
            font-size: 15px;
            margin-right: 3px;
            letter-spacing: -0.6px;
          }
          .status-btn {
            // text-transform: none;
            text-transform: capitalize;
            box-shadow: none;
            background: #3A92FF !important;
            border-radius: 75px;
            font-size: 16px;
            letter-spacing: -0.6px;
            margin-right: 0;
            margin-left: 0;
            height: 36px;
            min-width: 60px;
            &.accepted {
              background: #14c45b !important;
            }
            &.denied {
              background: #ef494c !important;
            }
            &.pending {}
          }
          &.label {
            margin-top: 20px;
            padding-top: 15px;
          }
        }
        .content-section {
          .label-message-section {
            margin-bottom: 10px;
            padding-bottom: 15px;
            .label-message {
              max-width: 400px;
              font-size: 16px;
              margin-right: 3px;
              letter-spacing: -0.6px;
              font-family: 'Work Sans';
            }
          }
          .repost-item-image {
            width: 100px;
            height: 100px;
            border-radius: 3.75px;
            display: inline-block;
            vertical-align: middle;
            background-size: cover;
            background-position: center;
            overflow: hidden;
            .play-btn {
              width: 37.5px;
              height: 37.5px;
              min-width: 37.5px;
              background: transparent !important;
              box-shadow: none;
              color: rgba(0,0,0,0.50);
              border-radius: 100%;
              margin: 11.25px;
              img {
                width: 37.5px;
                height: 37.5px;
              }
            }
            &.avatar {
              border-radius: 30px;
            }
          }
          .info-section {
            display: inline-block;
            vertical-align: middle;
            padding-left: 7.5px;
            max-width: calc(100% - 67.5px);
            width: 150px;
            .item-title {
              display: block;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              font-weight: 700;
              font-size: 15px;
              letter-spacing: -.8px;
              font-family: 'Work Sans';
            }
            .item-user {
              display: block;
              opacity: 0.5;
              font-size: 15px;
              letter-spacing: -0.6px;
            }
          }
          .artist-list {
            padding-top: 20px;
            margin-top: 10px;

            .artist {
              font-size: 15px;
              letter-spacing: -0.6px;

              span:last-child {
                float: right;
              }
            }
          }
        }
      }
    }
  }

  .message-section + .message-section {
    margin-top: 10px;
    padding-bottom: 24px;
  }
}

.message-item.self {
  .message-section {
    // text-align: right;

    .user-avatar-image {
      float: right;
    }

    .message-content {
      float: right;
      text-align: left;
      background: #f1f1f1;
      margin-right: 5px;

      &.no-top-corner {
        border-top-right-radius: 7.5px;
      }
      &.no-bottom-corner {
        border-bottom-right-radius: 7.5px;
      }
      &.text {
        .text-message {
          color: #000;
        }
      }
      &.request {
        .repost-status-section {
          .status-title {
            color: #000;
          }
          .status-btn {
            color: #fff;
            border: 0px solid #fff;
          }
          &.label {
            border-top: 1px dotted #cecece;
          }
        }
        .content-section {
          .label-message-section {
            border-bottom: 1px dotted #cecece;
            .label-message {
              color: #000;
            }
          }
          .repost-item-image {
            .play-btn {
            }
          }
          .info-section {
            .item-title {
              color: #000;
            }
            .item-user {
              color: #000;
            }
          }
          .artist-list {
            border-top: 1px dotted #cecece;
            color: #000000;
          }
        }
      }
    }
  }
}

.message-item.other {
  .message-section {
    .user-avatar-image {
      float: left;
    }

    .message-content {
      float: left;
      background: #F1F1F1;
      margin-left: 5px;
      
      &.no-top-corner {
        border-top-left-radius: 7.5px;
      }
      &.no-bottom-corner {
        border-bottom-left-radius: 7.5px;
      }
      &.text {
        .text-message {
          color: #000000;
        }
      }
      &.request {
        .repost-status-section {
          .status-title {
            color: #000000;
          }
          .status-btn {
            // color: #000000;
            // border: 0.75px solid rgba(0,0,0,0.50);
            color: #FFFFFF;
            border: 0px solid #FFFFFF;
          }
          &.label {
            margin-top: 20px;
            padding-top: 15px;
            border-top: 0.75px solid rgba(0, 0, 0 ,0.30);
          }
        }
        .content-section {
          .label-message-section {
            border-bottom: 0.75px solid rgba(0, 0, 0 ,0.30);
          }
          .repost-item-image {
            .play-btn {
            }
          }
          .info-section {
            .item-title {
              color: #000000;
            }
            .item-user {
              color: #000000;
            }
          }
          .artist-list {
            border-top: 0.75px solid rgba(0, 0, 0 ,0.30);
            color: #000000;
          }
        }
      }
    }
  }
}

.message-item.space {
  margin-top: 22.5px;
}
