.page.messages-page {
  .messages-stop-music-section {
    background: rgba(255, 255, 255, 0.95);
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    padding: 0;
    z-index: 15;
    text-align: center;
    .popup-section {
      max-width: 375px;
      padding-top: 67.5px;
      padding-bottom: 52.5px;
      margin-top: calc(50vh - 285px);
      margin-left: auto;
      margin-right: auto;
      background: #FFFFFF;
      box-shadow: 0 30px 55.5px 0 rgba(0,0,0,0.30);
      border-radius: 7.5px;
      .popup-image {
      }
      .popup-title {
        padding: 45px 15px 0;
        margin: 0;
        font-size: 22.5px;
        color: #000000;
        letter-spacing: 0;
      }
      .popup-text {
        padding: 7.5px 30px 45px;
        font-size: 15px;
        color: #000000;
        letter-spacing: 0;
      }
      .gotta-btn {
        width: 248.25px;
        height: 37.5px;
        margin: 0;
        box-shadow: none;
        text-transform: none;
        background: #3A92FF !important;
        border-radius: 75px;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
  }
	.messages-page-header {
		margin-bottom: 11.25px;
    .menu {
      padding-top: 11.25px;
      i {
      	color: #c5c5c5;
      }
      .menu__activator .btn {
        margin: 0;
        height: 37.5px;
				background: #FFFFFF !important;
				border: 1.5px solid #E1E1E1 !important;
				border-radius: 3.75px;
				/* Line: */
        // transform: rotate(-180deg);
        // border: 2.25px solid #FFFFFF;
        font-size: 15px;
        color: #000;
        letter-spacing: -0.6px;
        box-shadow: none;
        text-transform: none;
        width: 127.5px;


      }
    }
    .settings-text {
      cursor: pointer;
      font-size: 15px;
      color: #000000;
      letter-spacing: 0;
    }
    .settings-icon {
      color: #3A92FF;
    }
	}
	.messages-page-content {
		// border-top: 0.75px solid #e1e1e1;
    background: #FFFFFF;
    .conversations {
      height: calc(100vh - 201.75px);
      border: 0.75px solid #E1E1E1;
      &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 75px;
        padding: 0 20px;
        border-bottom: 0.75px solid #E1E1E1;
        // & > i {
        //   line-height: 75px;
        //   margin-left: 10px;
        //   font-size: 36px;
        // }
      }
      &__content {
        position: relative;
        max-height: calc(100vh - 310px);
        margin-top: 30px;
        overflow-x: hidden;
        overflow-y: scroll;
      }
      &__count {
        position: absolute;
        bottom: -30px;
        left: 0;
        height: 30px;
        padding-left: 20px;
        color: #B0B0B0;
        font-size: 14px;
        line-height: 30px;
      }
      &__title {
        font-family: 'Work Sans';
        font-size: 18px;
        font-weight: 700;
        color: #212121;
      }

      .search-box {
        padding: 22.5px 11.25px;
        width: calc(100% - 41.25px);
        height: 30px;
        .search-container {
          // width: 375px;
          vertical-align: middle;
          white-space: nowrap;
          position: relative;

          .icon{
            position: absolute;
            left: 0;
            top: 50%;
            margin-left: 8px;
            margin-top: 6px;
            z-index: 1;
          }
          input.search-field{
            // width: 375px;
            width: 100%;
            height: 30px;
            background: #F3F3F3;
            float: left;
            padding-left: 30px;
            padding-right: 15px;
            -webkit-border-radius: 75px;
            -moz-border-radius: 75px;
            border-radius: 75px;
            font-size: 15px;
            // color: #ABABAB;
            text-align: center;
            letter-spacing: -0.6px;
            // border: 0.75px solid #929292;
            // -webkit-transition: background .55s ease;
            // -moz-transition: background .55s ease;
            // -ms-transition: background .55s ease;
            // -o-transition: background .55s ease;
            // transition: background .55s ease;
            &:focus, &:hover, &:active {
              outline: none;
              // background: rgba(150, 150, 150, 0.2);
            }
            &::-webkit-input-placeholder {
              color:#ABABAB;
            }
            &:-moz-placeholde {
              color:#ABABAB;
            }
            &::-moz-placeholder {
              color:#ABABAB;
            }
            &:-ms-input-placeholder {
              color:#ABABAB;
            }
          }
        }
      }
      .more-menu.menu {
        position: absolute;
        top: 22.5px;
        right: 11.25px;
        width: 30px;
        height: 30px;
        margin: 0;
        .btn {
          width: 30px;
          height: 30px;
          min-width: 30px;
          margin: 0;
          background: transparent !important;
          // background-color: rgba(255, 255, 255, 0.5) !important;
          box-shadow: none;
          border: 1px solid #FFF !important;
          border-radius: 75px;
          color: #696969;
          .btn__content {
            padding: 0;
            i {
              margin: 0;
              color: #696969;
            }
          }
        }
        .img {
          font-size: 13.5px;
          color: #000000;
          letter-spacing: 0;
          line-height: 30px;
        }
      }

      .message-room-item {
        padding: 15px;
        position: relative;
        cursor: pointer;
        height: 90px;
        .avatar-area {
          width: 37.5px;
          height: 37.5px;
          display: inline-block;
          vertical-align: middle;
          .avatar-image {
            width: 37.5px;
            height: 37.5px;
            border-radius: 100%;
            background-size: cover;
            overflow: hidden;
            background-position: center;
            .activity-item-profile-cover {
              left: 0px;
            }

          }
        }
        .detail-area {
          width: calc(100% - 132px);
          display: inline-block;
          vertical-align: middle;
          margin-left: 9.5px;
          margin-top: 3px;
          .user-name {
            // display: block;
            font-weight: 600;
            font-size: 13px;
            color: #000000;
            letter-spacing: 0;
            cursor: pointer;
          }
          .short-message {
            display: block;
            height: 21px;
            margin-top: -2px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            font-size: 14px;
            color: #333;
            letter-spacing: -.3px;
            cursor: pointer;
          }
        }
        .messaged-time {
          // position: absolute;
          // top: 58px;
          // right: 145px;
          // width: 137px;
          text-align: right;
          font-size: 12px;
          color: #7B7B7B;
          letter-spacing: 0;
          cursor: pointer;
          text-align: left;
          margin-left: 50px;
        }
        &.new {
          background: #F6FAFF;
          .detail-area {
            .short-message {
              font-weight: 700;
              color: #000000;
            }
          }
          .messaged-time {
            font-weight: 700;
            color: #3A92FF;
          }
        }
        &.selected {
          background: #F8F8F8;
          width: 99.9%;
          height: 90px;
        }
      }
    }

    .message-content-section {
      display: flex;
      flex-direction: column;
      // background: #FFFFFF;
      height: calc(100vh - 201.75px);
      border: 0.75px solid #E1E1E1;
      position: relative;
      border-left-width: 0;
      .header-section{
        flex: 0 0 auto;
        width: 100%;
        height: 75px;
        border-bottom: 0.75px solid #E1E1E1;
        position: relative;
        // background: rgba(192, 192, 192, 0.08);
        .user-name {
          padding-top: 16px;
          margin: 0;
          font-weight: 600;
          font-size: 16px;
          color: #000000;
          letter-spacing: 0;
          text-align: center;
        }
        .messaged-time {
          // padding-top: 3.75px;
          margin: 0;
          font-size: 13px;
          color: #333;
          letter-spacing: 0;
          text-align: center;
        }
        .more-menu.menu {
          position: absolute;
          top: 22.5px;
          right: 15px;
          width: 30px;
          height: 30px;
          margin: 0;
          .btn {
            width: 30px;
            height: 30px;
            min-width: 30px;
            margin: 0;
            background: transparent !important;
            // background-color: rgba(255, 255, 255, 0.5) !important;
            box-shadow: none;
            border: 1px solid #FFF !important;
            border-radius: 75px;
            color: #696969;
            .btn__content {
              padding: 0;
              i {
                margin: 0;
                color: #696969;
              }
            }
          }
          .img {
            font-size: 13.5px;
            color: #000000;
            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
      .message-list-section {
        width: calc(100% - 1px);
        // max-height: calc(100vh - 337.5px);
        height: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        padding-bottom: 22.5px;
        // margin-bottom: 60px;
        background-image: -ms-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
        background-image: -moz-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
        background-image: -o-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
        background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(243, 243, 243, 0.61)), color-stop(60, #FFFFFF));
        background-image: -webkit-linear-gradient(top, rgba(243, 243, 243, 0.61) 0%, #FFFFFF 60%);
      }
      .send-message-section {
        flex: 0 0 auto;
        // position: absolute;
        // bottom: 0;
        // left: 0;
        width: calc(100% - 1px);
        height: 60px;
        border-top: 0.75px solid #E1E1E1;
        // border-right: 0.75px solid #E1E1E1;
        background: #FFFFFF;
        .message-input-box {
          border: none;
          width: 100%;
          padding: 28px 26.25px;
          padding-right: 150.5px;
          font-size: 16px;
          letter-spacing: -0.2px;
          &:focus, &:hover, &:active {
            outline: none;
            // background: rgba(150, 150, 150, 0.2);
          }
          &::-webkit-input-placeholder {
            color:#ABABAB;
          }
          &:-moz-placeholde {
            color:#ABABAB;
          }
          &::-moz-placeholder {
            color:#ABABAB;
          }
          &:-ms-input-placeholder {
            color:#ABABAB;
          }
        }
        .show-emoji-box-btn {
          position: absolute;
          width: 30px;
          min-width: 30px;
          height: 30px;
          right: 110px;
          bottom: 13.5px;
          margin: 0;
          text-transform: none;
          box-shadow: none;
          background: #FFFFFF;
          border: 0.75px solid #DDDDDD;
          border-radius: 75px;
          font-size: 15px;
          color: #9B9B9B;
          letter-spacing: -0.6px;
          &.selected {
            background: #3A92FF;
            border: none;
            color: #FFFFFF;
          }
        }
        .send-message-btn {
          position: absolute;
          width: 72.75px;
          height: 30px;
          right: 15px;
          bottom: 13.5px;
          margin: 0;
          text-transform: none;
          box-shadow: none;
          background: #14c45a;
          border: 0 solid #07b84d;
          border-radius: 75px;
          font-size: 15px;
          color: #fff;
          letter-spacing: -0.6px;
        }
        .emoji-picker {
          position: absolute;
          bottom: 60px;
          right: 110px;
        }
        .theme--light .btn.btn--disabled:not(.btn--icon):not(.btn--flat) {
          background-color: rgb(241, 241, 241)!important;
        }
      }
    }

    .requests {
      // background: #FFFFFF;
      height: calc(100vh - 201.75px);
      border: 0.75px solid #E1E1E1;
      border-left: none;
      &__header {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: calc(100% - 1px);
        height: 75px;
        padding: 0 20px;
        border-top: 0.75px solid #E1E1E1;
        border-bottom: 0.75px solid #E1E1E1;
        background: #FFF;
        text-align: center;
      }
      &__content {
        max-height: calc(100vh - 320px);
        margin-top: 42px;
        padding-top: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        .request-item {
          padding: 4px 12px;
          cursor: pointer;
          &:hover {
            background-color: rgba(0, 0, 0, 0.05);
          }
          &.selected {
            background-color: rgba(0, 0, 0, 0.1);
          }
          &.banned {
            cursor: default;
            &:hover {
              background-color: rgba(255, 0, 0, 0.05);
              background-image: url('/static/images/ic_ban.png');
              background-position: 260px 10px;
              background-size: 15px 15px;
            }
          }
          .avatar-area {
            width: 60px;
            height: 60px;
            display: inline-block;
            vertical-align: middle;
            .avatar-image {
              width: 60px;
              height: 60px;
              border-radius: 3.75px;
              background-size: cover;
            }
          }
          .detail-area {
            width: calc(100% - 80px);
            padding-left: 11.25px;
            display: inline-block;
            vertical-align: middle;
            .item-name {
              display: block;
              font-size: 14px;
              color: #000000;
              letter-spacing: 0;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              cursor: inherit;
            }
            .user-name {
              display: block;
              opacity: 0.5;
              font-size: 14px;
              color: #000000;
              letter-spacing: -0.6px;
              cursor: inherit;
            }
          }
        }
      }
      &__title {
        font-size: 15px;
        color: #000000;
        letter-spacing: -0.6px;
      }
      &__actions {
        position: absolute;
        bottom: -42px;
        left: 0;
        display: flex;
        justify-content: center;
        width: 100%;
        .btn {
          border-radius: 75px;
          text-transform: none;
          box-shadow: none;
          background-color: transparent;
          font-size: 15px;
          color: #000000;
          letter-spacing: -0.6px;
          height: 30px;
          &--active {
            background: #3A92FF;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}
