.page.order-history-page {
  .order-details {
    margin-bottom: 150px;
    .order-id {
      font-size: 16px;
      color: #000000;
      letter-spacing: -0.6px;
      padding-bottom: 22.5px;
      border-bottom: 0.75px solid #B8B8B8;
    }
    .address-section {
      padding-top: 15px;
      border-bottom: 0.75px solid #B8B8B8;
      .user-name {
        font-weight: 700;
        font-size: 18px;
        color: #000000;
        letter-spacing: -0.6px;
      }
    }
    .shipping-address-section {
      padding-bottom: 30px;
      .shipping-address-header {
        font-weight: 700;
        font-size: 15px;
        color: #000000;
        letter-spacing: -0.6px;
        cursor: pointer;
        .arrow {
          width: 0;
          height: 0;
          display: inline-block;
          margin-right: 7.5px;
          border-left: 6px solid transparent;
          border-right: 6px solid transparent;
          border-top: 7.5px solid #000;
          // vertical-align: middle;
          // border-top: 6px solid transparent;
          // border-bottom: 6px solid transparent;
          // border-left: 7.5px solid #000;
          margin-right: 11.25px;
          }
        .shipping-address-content {
          padding-top: 7.5px;
          font-size: 15px;
          color: #000000;
          letter-spacing: 0;
          display: none;
          label {
            display: block;
            margin-left: 26.25px;
            &.email {
              color: #8E8E8E;
            }
          }
        }
        &.open {
          .arrow {
          // vertical-align: middle;
          border-top: 6px solid transparent;
          border-bottom: 6px solid transparent;
          border-left: 7.5px solid #000;
          margin-right: 9.75px;
            // margin-right: 5.25px;
            // border-left: 6px solid transparent;
            // border-right: 6px solid transparent;
            // border-top: 7.5px solid #000;
            // vertical-align: middle;
          }
          .shipping-address-content {
            display: block;
          }
        }
      }
    }
    .products-section {
      padding: 22.5px 0;
      border-bottom: 0.75px solid #B8B8B8;
      .product-table {
        width: 100%;
        font-size: 15px;
        color: #000000;
        letter-spacing: -0.6px;
        .product-image {
          width: 100px;
          height: 100px;
          background: #D5D5D5;
          border-radius: 7.5px;
          overflow: hidden;
          background-size: cover;
        }
        td {
          padding: 3.75px;
        }
      }
    }
    .report-section {
      .sub-total-section {
        padding: 22.5px 0;
        border-bottom: 0.75px solid #B8B8B8;
        div {
          font-size: 15px;
          color: #8E8E8E;
          letter-spacing: 0;
        }
      }
      .total-section {
        padding: 22.5px 0;
        div {
          font-weight: 700;
          font-size: 18px;
          color: #000000;
          letter-spacing: 0;
        }
      }
    }
  }
}
