.page.payments-page {
  .page-title {
    // color: #FFFFFF;
  }
  .wallet-section {
    // position: absolute;
    // right: 0;
    // top: 0;
    // width: 300px;
    // height: 100px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 10px 15px;
    z-index: 2;
    border-radius: 8px;
    .available-money-amount {
      display: block;
      font-weight: 600;
      font-size: 28px;
      font-family: 'Work Sans';
      letter-spacing: -1px;
      // border-bottom: 1px solid rgba(0, 0, 0, 0.18);
      margin-bottom: 5px;
      margin-top: -6px;
      letter-spacing: -.5px;
      .currency {
        font-weight: 900;
        font-size: 18px;
      }
    }
    .action-section{
      .link-btn {
        color: #3A92FF;
        cursor: pointer;
      }
    }
  }

  .card.card--flat {
    background: none;
    border: none;
  }
  .menu {
    position: absolute;
    top: 0;
    right: 0;
    .menu__activator .btn {
      margin: 0;
      height: 41.25px;
      background: rgba(255,255,255,0.10) !important;
      border: 1.6500000000000001px solid rgba(255,255,255,0.30) !important;
      border-radius: 4.125px;
      // transform: rotate(-180deg);
      // border: 2.475px solid #FFFFFF;
      font-size: 16.5px;
      // color: #000000 !important;
      letter-spacing: -0.66px;
      box-shadow: none;
      text-transform: none;
      width: 132px;
    }
  }
  .payment-table {
    width: 100%;
    font-size: 14px;
    border-collapse: collapse;
    tr {
      border-bottom: 1px solid #d7d7d7;
    }
    thead {
      th {
        padding-bottom: 15px;
        color: rgba(0, 0, 0, 0.58);
        font-weight: 400;
      }
    }
    tbody {
      td {
        padding: 18px 0;
      }
    }
    .send-message-btn {
      background: #4598ff !important;
      color: white;
      box-shadow: none;
      font-size: 14px;
      height: 30px;
      border-radius: 100px;
      text-transform: none !important;
      .btn__content {
        padding: 0px 10px 0;
      }
    }
    .send-refund-btn {
      box-shadow: none;
      font-size: 14px;
      height: 30px;
      text-transform: none !important;
      margin-left: 24px;
      .btn__content {
        padding: 0px 10px 0;
      }
    }
  }

  .tabs__item {
    padding: 0 !important;
    text-transform: none;
    font-weight: 700;
    font-size: 16.5px;
    // color: #000000 !important;
  }
}

.withdraw-dialog {
  min-height: 250px;
  label {
    font-size: 18px;
    &.error-text {
      font-size: 12px;
      color: #dc3545 !important;
    }
  }
  .available-money-amount {
    font-weight: 900;
    font-size: 20px;
    // border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    .currency {
      font-weight: 500;
      font-size: 16px;
    }
  }
  input.withdraw-amount {
    background-color: #FFFFFF;
  }
}

.refund-dialog {
  min-height: 250px;
  label {
    font-size: 18px;
    &.error-text {
      font-size: 12px;
      color: #dc3545 !important;
    }
  }
  input.refund-amount {
    border: .75px solid #d2d2d2;
    background-color: #FFFFFF;
  }
  input.description {
    width: 100%;
    height: 30.5px;
    margin-top: 22.5px;
    padding: 0 10px;
    background: #FFFFFF;
    border: .75px solid #d2d2d2;
    color: #4a4a4a;
    font-size: 15px;
    letter-spacing: 0;
  }
}
