.bottom-player {
  height: 78px;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 29;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  background-color: hsla(240, 2.9%, 6.9%, 0.96);
  .track-detail-section {
    display: flex;
    .track-cover-container {
      flex: 0 0 auto;
      width: 80px;
      display: flex;
      justify-content: center;
      align-items: center;
      .track-cover-image {
        width: 60px;
        height: 60px;
        display: inline-block;
        border-radius: 2px;
        background-color: rgba(0, 0, 0, 0.1);
        background-size: cover;
        vertical-align: middle;
        overflow: hidden;
      }
      .track-cover-image.playlist {
        background-position: 0 0, 100% 0, 0 100%, 100% 100%;
        background-size: 50% 50%;
      }
    }
    .track-info-container {
      display: flex;
      align-items: center;
      .track-info {
        width: 340px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding-top: 10px;
        .track-index {
          font-size: 14px;
          color: #999;
          letter-spacing: -0.54px;
        }
        .track-name {
          padding-left: 3.75px;
          color: #fff;
          font-weight: 400;
          font-size: 14px;
          letter-spacing: -0.4px;
        }
      }
      .user-info {
        width: 340px;
        padding-top: 5px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .user-name {
          font-size: 14px;
          font-weight: 600;
          color: #fff;
          letter-spacing: -0.39px;
        }
        .follow-btn {
          text-transform: none;
          box-shadow: none;
          height: 22.5px;
          border-radius: 37.5px;
          font-size: 13.5px;
          letter-spacing: 0;
          min-width: 100px;
          &.follow {
            border: 1px solid #076AFF;
            background-color: #076AFF !important;
            color: #fff !important;
          }
          &.following {
            border: 1px solid #5bad00;
            background-color: #0000 !important;
            color: #fff !important;
            &:hover {
              border: 0.75px solid #dc3545;
              background-color: #dc3545 !important;
            }
          }
        }
      }
    }
  }
  .loading {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -35px;
    width: 75px;
    height: 75px;
    background-color: #999;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1s infinite ease-in-out;
    animation: sk-scaleout 1s infinite ease-in-out;
  }
  .player-section {
    position: relative;
    .controls-section {
      padding-top: 6px;
      display: flex;
      justify-content: center;
      .player-control-btn {
        width: 45px;
        min-width: 22.5px;
        height: 37.5px;
        margin: 0 8px;
        border-radius: 37.5px;
        text-transform: none;
        box-shadow: none;
        background: transparent !important;
        .btn__content {
          padding: 0;
        }
        img {
          filter: invert(1);
        }
        &.selected {
          background: rgba(0, 0, 0, 0.1) !important;
        }
      }

      .volume-container {
        position: relative;
        display: inline-block;
        width: 37.5px;
        height: 37.5px;
        margin: 0 8px;
        .volume {
          position: absolute;
          right: 12px;
          display: flex;
          height: 100%;
          align-items: center;
          .input-group.volume-ranger {
            display: block;
            min-width: auto;
            width: 0;
            transition: width 0.5s, padding 0.5s;
            padding: 0;
            .slider__thumb-container {
              opacity: 0;
            }
          }
          img {
            filter: invert(1);
          }
          &:hover {
            .volume-ranger {
              width: 60px;
              padding: 0 10px 0 15px;
              .slider__thumb-container {
                opacity: 1;
              }
            }
          }
        }
      }
    }
    .bar-section {
      display: flex;
      .duration-time {
        font-size: 13.5px;
        line-height: 23.25px;
        color: #999;
        letter-spacing: -0.39px;
        margin-top: 3px;
        &.played {
          margin-right: 7.5px;
        }
        &.total {
          margin-left: 7.5px;
        }
      }
      .player-bar {
        padding: 0 10px;
      }
    }

    .slider {
      &__track {
        background-color: #000 !important;
        &-fill {
          background-color: #eee !important;
          border-color: #eee !important;
        }
      }
      &__thumb {
        background-color: #eee !important;
        border-color: #eee !important;
        &--label {
          background-color: #eee !important;
          border-color: #eee !important;
          color: #121212 !important;
        }
      }
    }
  }
  .reminder-section {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
  .media {
    height: 70px;
    margin-top: 8px;
    align-items: center;
    box-shadow: 5px 5px 5px #e0e0e0;
    background-color: #fff;
    &__image {
      flex: 0 0 auto;
      width: 80px;
      height: 60px;
      background: url('/static/images/ic_send_love.svg') no-repeat center center;
    }
    &__title {
      font-size: 24px;
      font-weight: 700;
    }
    &__description {
      font-size: 18px;
    }
  }
  .actions-section {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 10px;
    .action-btn {
      width: 37.5px;
      min-width: 22.5px;
      height: 37.5px;
      border-radius: 37.5px;
      text-transform: none;
      box-shadow: none;
      background: transparent !important;
      /* Oval 3 Copy 3: */
      // background: #e7e7e7 !important;
      .btn__content {
        padding: 0;
      }
      img {
        filter: invert(1);
      }
    }
  }
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}
@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}
