.product-item {
  margin-bottom: 22.5px;
  .product-content-section {
    background: #FFFFFF;
    border: 0.75px solid #D7D7D7;
    .product-image {
      width: 75px;
      height: 75px;
      background: #D5D5D5;
      border-radius: 7.5px;
      // margin: 7.5px 7.5px 3px;
      margin: 7.5px;
      background-size: cover;
      overflow: hidden;
      background-position: center;
    }
    .product-content {
      position: absolute;
      top: 15px;
      left: 93.75px;
      width: calc(100% - 93.75px);
      padding-right: 22.5px;
      .product-content-row {
        .product-name {
          font-size: 16px;
          color: #000000;
          letter-spacing: -0.6px;
          font-family: 'Work Sans';
        }
        .product-count {
          padding-left: 22.5px;
          float: right;
          font-size: 15px;
          color: #000000;
          letter-spacing: 0;
        }
        .product-status {
          font-size: 15px;
          color: #5BAD00;
          letter-spacing: 0;
          text-transform: capitalize;
          i {
            &.active {
              color: #7ED321;
              font-size: 18px;
            }
          }
        }
        .product-price {
          font-weight: 600;
          font-size: 24px;
          color: #000000;
          letter-spacing: -1px;
          font-family: 'Work Sans';
        }
        .product-category-text {
          float: right;
          padding: 0 11.25px;
          margin-top: 3.75px;
          font-size: 15px;
          color: #777;
          letter-spacing: 0;
        }
        .btn-divider {
          margin-top: 3.75px;
          float: right;
          height: 22.5px;
          width: 0.75px;
          background-color: #DBDBDB;
        }
        .text-btn {
          float: right;
          margin: 3.75px 0 0;
          padding: 0 11.25px;
          height: 22.5px;
          background: transparent !important;
          text-transform: none;
          box-shadow: none;
          cursor: pointer;
          display: block;
          // width: 45px;
          min-width: 45px;
          font-size: 15px;
          color: #3A92FF;
          letter-spacing: 0;
          .btn__content {
            padding: 0;
          }
          &:hover,&:focus {
            .btn__content {
              &::before {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}