.product-card {
  // flex: initial !important;
  // margin-bottom: 22.5px;
  // padding: 0 11.25px !important;
  width: 100%;
  .product-info {
    position: relative;
    // .product-user {
    //   .product-user-avatar {
    //     width: 22.5px;
    //     height: 22.5px;
    //     border: 0.75px solid rgba(255,255,255,0.30);
    //     border-radius: 11.25px;
    //     background-size: cover;
    //     overflow: hidden;
    //     background-position: center;
    //     // border: 0.75px solid rgba(0, 0, 0, 0.3);
    //     .activity-item-profile-cover {
    //       left: -18.75px;
    //       top: 20.25px;
    //     }
    //   }
    //   .product-user-name {
    //     color: #FFF;
    //     font-size: 10.5px;
    //     position: absolute;
    //     top: 0px;
    //     left: 37.5px;
    //   }
    //   .product-posted-at {
    //     width: 100%;
    //     position: absolute;
    //     top: 9px;
    //     left: 37.5px;
    //     .product-status-icon {
    //       height: 9px;
    //       opacity: 0.5;
    //       position: absolute;
    //       top: 5.25px;
    //       left: 0px;
    //     }
    //     label {
    //       position: absolute;
    //       color: rgba(255, 255, 255, 0.5);
    //       top: 0.75px;
    //       left: 13.5px;
    //       font-size: 10.5px;
    //     }
    //   }
    // }
    .product-cover {
      position: relative;
      padding: 0;
      margin-top: 7.5px;
      .product-image {
        width: 100%;
        padding-bottom: 100%;
        background-size: cover;
        overflow: hidden;
        background-position: center;
        // border-radius: 7.5px;
        border: none;
        border-radius: 10px;
      }
      .product-price {
        position: absolute;
        padding: 3.75px 14.25px 1.5px;
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: 75px;
        margin: 0;
        top: 15px;
        left: 15px;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
      .product-actions {
        cursor: pointer;
        width: 100%;
        height: 100%;
        background: rgba(32, 130, 255, 0.9);
        border-radius: 7.5px;
        position: absolute;
        padding: 0;
        left: 0;
        top: 0;
        opacity: 0;
        -webkit-transition: opacity 0.3s ease-in-out;
        -moz-transition: opacity 0.3s ease-in-out;
        -ms-transition: opacity 0.3s ease-in-out;
        -o-transition: opacity 0.3s ease-in-out;
        transition: opacity 0.3s ease-in-out;
        &:hover {
          opacity: 1;
        }
        .product-label {
          height: 30px;
          margin-left: 10%;
          margin-top: calc(50% - 35px);
          font-size: 32px;
          font-weight: 700;
          color: #FFFFFF;
          font-family: 'Work Sans';
          letter-spacing: -1.5px;
        }
        .view-details-btn {
          position: absolute;
          bottom: 10px;
          left: 100px;
          text-transform: initial;
          box-shadow: none;
          background-color: #000!important;
          border-color: #000!important;
        }
        .product-menu.menu {
          position: absolute;
          top: calc(50% - 18.75px);
          right: 5px;
          .btn {
            background: none !important;
            border: none !important;
            width: 37.5px;
            min-width: 37.5px;
            top: -10px;
            box-shadow: none;
            .btn__content {
              padding: 0;
            }
            i {
              margin: 0;
              color: #FFF;
              font-size: 30px;
            }
          }
          .img {
            font-size: 13.5px;
            color: #000000;
            letter-spacing: 0;
            line-height: 30px;
          }
        }
      }
    }
    .product-detail {
      margin-top: 10px;
      text-align: center;
      .product-name {
        margin: 0;
        font-size: 18px;
        color: #000000;
        letter-spacing: -0.6px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-align: left;
      }
      .product-user-name {
        width: 100%;
        margin: 0;
        opacity: 0.5;
        font-size: 18px;
        color: #000;
        text-align: left;
        letter-spacing: -0.6px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-bottom: 24px;
        a {
          color: inherit;
        }
      }
    }
  }
}

headline {
    font-size: 25px !important;
    font-weight: 600;
    line-height: 42px !important;
    letter-spacing: -1px !important;
    font-family: 'Work Sans';
    }

.card__text {
  font-size: 16px;
}

.product-menu-item {
  img {
    vertical-align: middle;
    margin-right: 9px;
    width: 15px;
    max-height: 15px;
  }
  label {
    vertical-align: middle;
    font-size: 13.5px;
    color: #000000;
    letter-spacing: 0;
  }
}
