
.default-menu-item {
  padding: 0;
}
.user-profile-image-section {
  position: relative;
  // overflow: hidden;
  display: flex;
  border: none;
  border-radius: 50%;
  vertical-align: top;
  cursor: pointer;
  margin-right: 20px;

  .user-profile-image {
    width: 74px;
    height: 74px;
    margin-right: 0;
    border-radius: 50%;
    background-color: #FAFAFA;
    overflow: hidden;
    background-size: cover;
    background-position: center;
    border: solid 1px #e0e0e0;
  }
  .live-btn {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 40%);
    padding: 6px 8px 5px 12px;
    border-radius: 3.75px;
    background-color: #ff0042;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 2.6px;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.page.profile-grid-page {
  padding-top: 40px;

  .user-top-wrapper {
    li {
      cursor: pointer;
    }
    
    .play-btn {
      background-color: #3A92FF !important;
      color: #FFFFFF;
      letter-spacing: 0;
      display: none;
      .icon {
        color: #FFFFFF;
      }
    }
    .invite-btn {
      height: 30px;
      border-radius: 4px;
      background-color: #000 !important;
      color: #FFFFFF;
    }
    .more-btn {
      width: 40px;
      min-width: 40px;
      box-shadow: none;
      margin: 0px 8px 0px 0px;
      padding: 0px;
      background-color: rgba(255, 255, 255, 0.5) !important;
      border-radius: 82px;
      color: #696969;
      .btn__content {
        padding: 0;
      }
      .icon {
        color: #696969;
        margin: 0;
      }
    }
  }

  .user-profile-section {
    margin: 36px 0;
    display: flex;
    align-items: center;

    .divider {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .user-profile-image-section.live {
      margin-bottom: 15px;
      border: solid 1.5px #ff0042;
      .live-btn {
        display: block;
      }
    }
    .user-info-section {
      flex: 1;
      display: inline-block;
      vertical-align: top;
      .user-name-section {
        font-size: 20px;
        color: #000000;
        font-weight: 400;
        margin-top: -4px;
        margin-bottom: -14px;
        font-family: 'Work Sans';
        letter-spacing: -1px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 4px;

        .user-role {
          text-transform: capitalize;
          font-size: 13px;
          color: #000000;
          letter-spacing: .5px;
          font-family: 'Work Sans';
          font-weight: 400;
          color: #333;
        }
      }
      .user-status-section {
        line-height: 24px;
        font-size: 14px;
        letter-spacing: 0;
        font-family: 'Work Sans';
        font-weight: 400;
        color: #333;
        margin-bottom: -4px;
        margin-left: 1px;
        .vertical-divider {
          margin: 0px 10px 0 6px;
          font-size: 14px;
          background-color: #9D9D9D;
          border-left: 1px solid #9D9D9D;
        }
        .stat-count{
          margin-right: 10px;
        }

        .follower-count {
          font-weight: 400;
          font-size: 14px;
          color: #00000099;
          // margin-right: 10px;
          line-height: 36px;
          cursor: pointer;
          font-family: 'Work Sans';
          letter-spacing: .5px;

          ._count {
            color: #000000;
          }
        }
        .user-inviter-name {
          text-transform: capitalize;
          font-size: 14x;
          color: #000000;
          letter-spacing: 1px;
          margin-left: 10px;
        }
        .user-status {
          padding-left: 14px;
          font-size: 24px;
        }
      }
      .user-action-section {
        & > .btn {
          min-width: 110px;
          height: 40px;
          box-shadow: none;
          border-radius: 20px;
          text-transform: none;
          font-size: 14px;
          letter-spacing: 0;
          margin: 0;
          .icon {
            font-size: 24px;
          }
        }
        .send-love-btn {
          background-color: rgba(255, 255, 255, 0.5) !important;
          border: 1px solid #3A92FF !important;
          color: #3A92FF;
        }
        .follow-btn {
          background-color: transparent;
          min-width: 100px;
          &.follow {
            color: #FFF;
            border: 1px solid #377af9;
            background-color: #417ef2;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: -.5px;
          }
          &.following {
            border: 1px solid;
            background-color: transparent;
            font-weight: 600;
            font-size: 14px;
            letter-spacing: -.5px;
            &:hover {
              color: #FFF !important;
              border: 1px solid #ff3121;
              background-color: rgb(255, 47, 31) !important;
              font-weight: 600;
              font-size: 14px;
              letter-spacing: -.5px;
            }
          }
        }
      }
    }
  }

  &.onMobile {
    .user-role {
      display: flex;
      font-size: 16px !important;
      margin-bottom: 16px;
    }
    .user-profile-section {
      display: block;
    }
    .user-info-section {
      width: 100%;
    }
    .user-status-section {
      width: 50%;
      display: flex;
      justify-content: space-between;

      ._count {
        font-size: 20px;
      }
    }
    .user-profile-image {
      width: 65px;
      height: 65px;
      margin-right: 67px;
    }
    .__top_actions {
      display: flex;
      justify-content: space-between;

      .follow-btn {
        min-width: auto !important;
      }

      .btn {
        margin: 0;
      }
    }
  }
}

/* global blinker effect */
@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
