.page.profile-grid-page {
  .user-profile-section {
    // display: flex;
    // height: 600px;
    text-align: center;
    padding-top: 30px;
    border-radius: 10px;
    border: 1px solid #33333326;

    .divider {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    .user-profile-image-section {
      position: relative;
      // overflow: hidden;
      display: inline-block;
      padding: 3px;
      border: none;
      border-radius: 50%;
      vertical-align: top;
      cursor: pointer;
      .user-profile-image {
        width: 180px;
        height: 180px;
        margin-right: 0;
        border-radius: 50%;
        background-color: #FAFAFA;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border: solid 1px #e0e0e0;
      }
      .live-btn {
        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 40%);
        padding: 6px 8px 5px 12px;
        border-radius: 3.75px;
        background-color: #ff0042;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2.6px;
        text-transform: uppercase;
        cursor: pointer;
      }
      // .user-profile-image--live {
      //   position: absolute;
      //   display: flex;
      //   justify-content: center;
      //   align-items: center;
      //   width: 180px;
      //   height: 180px;
      //   top: 0;
      //   border-radius: 100%;
      //   Downloadedborder: 3px solid #FF0000;
      //   cursor: pointer;
      //   &:hover {
      //     background: rgba(0, 0, 0, 0.35);
      //   }

      //   .live {
      //     border-radius: 4px;
      //     background-color: black;
      //     display: inline-block;
      //     color: #77bccc;
      //     margin-left: 5px;
      //     padding: 7px 7px 4px 7px;
      //     font-family: sans-serif;
      //     font-style: italic;
      //     font-weight: bold;
      //     text-transform: uppercase;
      //     font-size: 12px;
      //     line-height: 12px;
      //     letter-spacing: 1px;
      //     background: rgb(0,0,0);
      //     background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(79,79,79,1) 50%, rgba(0,0,0,1) 51%, rgba(17,17,17,1) 60%, rgba(43,43,43,1) 76%, rgba(28,28,28,1) 91%, rgba(19,19,19,1) 100%);
      //     background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(50%,rgba(79,79,79,1)), color-stop(51%,rgba(0,0,0,1)), color-stop(60%,rgba(17,17,17,1)), color-stop(76%,rgba(43,43,43,1)), color-stop(91%,rgba(28,28,28,1)), color-stop(100%,rgba(19,19,19,1)));
      //     background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
      //     background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
      //     background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
      //     background: linear-gradient(to bottom,  rgba(0,0,0,1) 0%,rgba(79,79,79,1) 50%,rgba(0,0,0,1) 51%,rgba(17,17,17,1) 60%,rgba(43,43,43,1) 76%,rgba(28,28,28,1) 91%,rgba(19,19,19,1) 100%);
      //     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#131313',GradientType=0 );
      //   }

      //   .fa-circle {
      //     -webkit-animation-name: blinker;
      //     -webkit-animation-duration: 2s;
      //     -webkit-animation-timing-function: linear;
      //     -webkit-animation-iteration-count: infinite;

      //     -moz-animation-name: blinker;
      //     -moz-animation-duration: 2s;
      //     -moz-animation-timing-function: linear;
      //     -moz-animation-iteration-count: infinite;

      //     animation-name: blinker;
      //     animation-duration: 2s;
      //     animation-timing-function: linear;
      //     animation-iteration-count: infinite;

      //     color: red;
      //   }

      //   .live-video-btn {
      //     height: 20px;
      //     min-width: 60px;
      //     margin: 0;
      //     padding: 0 8px !important;
      //     font-size: 12px;
      //     line-height: 14px;
      //     .btn__content {
      //       padding: 0;
      //       font-weight: 500;
      //       i.icon {
      //         font-size: 16px;
      //         margin-right: 4px;
      //       }
      //     }
      //   }

      //   p {
      //     position: absolute;
      //     bottom: 12px;
      //     margin: 0;
      //     color: #FFFFFF;
      //     text-align: center;
      //     font-size: 8px;
      //     line-height: 9px;
      //   }
      // }
    }
    .user-profile-image-section.live {
      margin-bottom: 15px;
      border: solid 1.5px #ff0042;
      .live-btn {
        display: block;
      }
    }
    .user-info-section {
      flex: 1;
      display: inline-block;
      vertical-align: top;
      .user-name-section {
        font-size: 20px;
        color: #000000;
        font-weight: 400;
        margin-top: -4px;
        margin-bottom: -14px;
        font-family: 'Work Sans';
        letter-spacing: -1px;
        font-weight: 600;
        padding-top: 10px;
        padding-bottom: 4px;
      }
      .user-status-section {
        line-height: 24px;
        font-size: 14px;
        letter-spacing: 0;
        font-family: 'Work Sans';
        font-weight: 400;
        color: #333;
        margin-bottom: -4px;
        margin-left: 1px;
        .vertical-divider {
          margin: 0px 10px 0 6px;
          font-size: 14px;
          background-color: #9D9D9D;
          border-left: 1px solid #9D9D9D;
        }
        .user-role {
          text-transform: capitalize;
          font-size: 14px;
          color: #000000;
          letter-spacing: .5px;
          // margin-left: 12px;
          font-family: 'Work Sans';
          font-weight: 400;
          color: #333;
        }
        .follower-count {
          font-weight: 400;
          font-size: 14px;
          color: #000000;
          // margin-right: 10px;
          line-height: 36px;
          cursor: pointer;
          font-family: 'Work Sans';
          letter-spacing: .5px;
        }
        .user-inviter-name {
          text-transform: capitalize;
          font-size: 14x;
          color: #000000;
          letter-spacing: 1px;
          margin-left: 10px;
        }
        .user-status {
          padding-left: 14px;
          font-size: 24px;
        }
      }
      .user-action-section {
        margin: 22px 0 0 0;
        & > .btn {
          min-width: 110px;
          height: 40px;
          box-shadow: none;
          border-radius: 20px;
          text-transform: none;
          font-size: 16px;
          letter-spacing: 0;
          .icon {
            font-size: 24px;
          }
        }
        .play-btn {
          background-color: #3A92FF !important;
          color: #FFFFFF;
          letter-spacing: 0;
          display: none;
          .icon {
            color: #FFFFFF;
          }
        }
        .invite-btn {
          background-color: #000 !important;
          color: #FFFFFF;
        }
        .send-love-btn {
          background-color: rgba(255, 255, 255, 0.5) !important;
          border: 1px solid #3A92FF !important;
          color: #3A92FF;
        }
        .follow-btn {
          background-color: transparent;
          &.follow {
            color: #FFF;
            border: 1px solid #377af9;
            background-color: #417ef2;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: -.5px;
            margin-left: 60px;
          }
          &.following {
            border: 1px solid #acacac;
            background-color: transparent;
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            letter-spacing: -.5px;
            margin-left: 60px;
            &:hover {
              color: #FFF !important;
              border: 1px solid #ff3121;
              background-color: rgb(255, 47, 31) !important;
              font-weight: 600;
              text-transform: uppercase;
              font-size: 14px;
              letter-spacing: -.5px;
              margin-left: 60px;
            }
          }
        }
        .more-btn {
          width: 40px;
          min-width: 40px;
          height: 40px;
          box-shadow: none;
          margin: 8px 8px 8px 0px;
          padding: 0px;
          background-color: rgba(255, 255, 255, 0.5) !important;
          border-radius: 82px;
          color: #696969;
          .btn__content {
            padding: 0;
          }
          .icon {
            color: #696969;
            margin: 0;
          }
        }
      }
    }
  }
}

/* global blinker effect */
@-moz-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinker {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
