.addToPlaylist-dialog {
    background-color: red;
}

.repost-comp {
    ._intro {
        font-weight: bold;
        color: #000000;
        margin-bottom: 20px;

        ._action {
            cursor: pointer;
        }
    }

    .listing {
        cursor: pointer;

        &-item {
            padding: 15px 0;
            border-top: 1px solid rgba(0, 0, 0, 0.1);

            &:last-child {
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
                margin-bottom: 15px;
            }
        }
    }

    &.repost-music {
        .playlists {
            ._intro {
                ._action {
                    .icon {
                        color: #000000;
                    }
                }
            }
        }

        .music {
            margin-top: 60px;

            ._intro {
                ._action {
                    .icon {
                        color: #000000;
                    }
                }
            }
        }
    }
}