.sample-license-dialog {
  background: #FFFFFF;
  .my-dialog__header {
    img {
      height: 30px;
    }
    h3 {
      display: inline-block;
      vertical-align: text-bottom;
      font-size: 28px;
      line-height: 30px;
      font-family: 'Work Sans';
      letter-spacing: -1px;
      font-weight: 300;
    }
  }

  .my-dialog__content {
    .my-dialog__content__section {
      h4 {
        font-size: 24px;
        line-height: 24px;
        font-family: 'Work Sans';
        letter-spacing: -1px;
      }
      h5 {
        font-size: 20px;
        line-height: 20px;
        font-family: 'Work Sans';
        letter-spacing: -1px;
        font-weight: 400;
      }
      h6 {
        font-size: 16px;
        line-height: 24px;
        font-family: 'Work Sans';
        letter-spacing: -1px;
        font-weight: 400;
      }
      p {
        margin: 0;
        font-size: 15px;
        font-family: 'Work Sans';
      }
    }
  }

  .my-dialog__footer {
    text-align: center;
    padding-top: 14px;
  }
}
