.page.search-page {
  .page-title {
    // color: #FFFFFF;
  }

  .pos-relative{
    position: relative;

    .advanced-search{
      padding: 25px 30px;
      background-color: #FAFAFA;
      border: 1px solid rgba(0,0,0, 0.10);
      border-radius: 10px;
      position: absolute;
      right: 0;
      top: 55px;
      font-family: 'Inter', sans-serif;
      min-width: 390px;

      select{
        background-image:
          linear-gradient(45deg, transparent 50%, black 50%),
          linear-gradient(135deg, black 50%, transparent 50%);
        background-position:
          calc(100% - 20px) calc(1em + 2px),
          calc(100% - 15px) calc(1em + 2px),
          calc(100% - 2.5em) 0.5em;
        background-size:
          5px 5px,
          5px 5px,
          1px 1.5em;
        background-repeat: no-repeat;
      }

      .big-head{
        font-size: 16px;
        font-weight: bold;
        color: black;
      }

      .w-full{
        width: 100%;
      }
      .gap-10{
        gap: 10px;
      }
      .small-head{
        font-size: 14px;
        font-weight: bold;
        color: black;
      }

      .divider{
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0, 0.10);
      }
      .main-input{
        background-color: white;
        border: 1px solid rgba(0,0,0, 0.10);
        border-radius: 4px;
        height: 40px;
        color: black;
        width: 100%;
        padding: 0 12px;
      }

      .search-button-x{
        box-shadow: none;
        margin: 0;
        background-color: #3F75FF !important;
        color: white;
        font-weight: bold;
        border-radius: 60px;
        height: 42px;
        width: 100%;
      }
    }
  }
  .search-tab {
    position: relative;
    .tabs {
      .tabs__bar {
        .tabs__wrapper.tabs__wrapper--scrollable {
          margin: 0;
          .tabs__li {
            margin-right: 33px;
            .tabs__item {
              padding: 0;
              text-transform: none;
              font-size: 18px;
              font-weight: 500;
              text-transform: uppercase;
              color: #777 !important;
              &.tabs__item--active {
                color: #000000 !important;
              }
            }
          }
        }
      }
      .tabs__items {
        border: none;
        margin-top: 36px;
      }
    }
    .card.card--flat {
      background: none;
      border: none;
    }
    .menu.genre-menu {
      display: hidden;
      .menu__activator .btn {
        // width: 132px;
        margin: 0;
        height: 41.25px;
        background: rgba(255, 255, 255, 0.10) !important;
        border: 1px solid rgba(0,0,0, 0.30) !important;
        border-radius: 4.125px;
        // transform: rotate(-180deg);
        // border: 2.475px solid #FFFFFF;
        font-size: 16.5px;
        color: rgba(0,0,0, 0.50) !important;
        letter-spacing: -0.66px;
        box-shadow: none;
        text-transform: none;
      }
    }
  }

  .tabs__item {
    padding: 0 !important;
    text-transform: none;
    font-weight: 700;
    font-size: 16.5px;
    // color: #000000 !important;
  }

  .albums_result {
    .track-card {
      .track-detail {
        margin-left: 10px;
      }
    }
  }
}

