
.sidebar {
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #101010 !important;
  // z-index: 11;
  .side-tab {
    /deep/ a {
      position: relative;
      padding: 12px 0 12px 12px !important;
      height: 36px;

      .__icon {
        font-size: 20px;
      }

      .notifications {
        flex: none;
        display: flex;
        color: #fff;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        transition: .3s cubic-bezier(.25,.8,.5,1);
        background: red;
        border-radius: 20%;
        width: 28px;
        height: 20px;

        .__count {
          margin-top: -2.5px;
          font-size: 13px;
          font-weight: 600;
        }
      }
    }
    .activeTab {
        color: #ffffff !important;
        font-weight: bold !important;
        background-color: #424242;
        border-radius: 6px;
    }
  }

  .sidebar-logo img {
    border-style: none;
    width: 52%;
    margin-top: 4px;
  }

  .subheader {
    padding-right: 16px !important;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    color: #777;
  }

  .list__tile {
      height: 40px !important;
  }
  .avatar .icon {
      justify-content: flex-start !important;
  }
  #search {
      color: grey;
      border: 1px solid grey;
      width: 100%;
      border-radius: 6px;
      margin-bottom: 3px;
      padding: 5px;
      transition: opacity .5s;
  }
  .profile-image {
  width: 28px;
  height: 28px;
  border-radius: 100%;
  background-size: cover;
  }
}