.approve-section {
  background: rgba(255, 255, 255, 0.95);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 0;
  z-index: 15;
  .dismiss-section {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
  }
  .popup-section {
    max-width: 900px;
    margin-top: calc(50vh - 320px);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    z-index: 20;
    background: #FFFFFF;
    box-shadow: 0 30px 55.5px 0 rgba(0,0,0,0.30);
    border-radius: 7.5px;
    padding: 37.5px 11.25px 30px;
    .profile-section {
      .profile-image {
        margin-left: 20px;
        height: 100px;
        width: 100px;
        display: inline-block;
        background-size: cover;
        background-position: center;
        vertical-align: middle;
        overflow: hidden;
        border-radius: 100%;
        background-color: #B8B8B8;
      }
      .user-info-section {
        display: inline-block;
        width: calc(100% - 125px);
        vertical-align: middle;
        .info-section {
          display: inline-block;
          width: calc(100% - 220px);
          padding-left: 10px;
          vertical-align: middle;
          .user-name {
            display: block;
            font-weight: 700;
            font-size: 25px;
            color: #262626;
            letter-spacing: 0;
            margin-bottom: 5px;
          }
          .main-genre {
            display: block;
            font-size: 16px;
            color: #262626;
            letter-spacing: 0;
          }
          .denied-status {
            padding: 5px 12px;
            border: 1px solid #ff5252;
            color: #ff5252;
          }
        }
        .action-section {
          width: 206px;
          display: inline-block;
          vertical-align: middle;
          text-align: right;
          .approve-btn {
            color: white;
            margin: 10px 10px 10px 0px;
            // background-color: green !important;
            border-radius: 20px;
          }
          .deny-btn {
            color: white;
            margin: 10px 10px 10px 0px;
            // background-color: red !important;
            border-radius: 20px;
          }
        }
      }
    }
    .link-section {
      padding: 10px 20px 10px 0;
      border-top: 1px solid #B8B8B8;
      border-bottom: 1px solid #B8B8B8;
      margin: 20px 20px 0;
    }
    .link-title {
      font-size: 16px;
      // color: #262626;
      color: black;
      letter-spacing: 0;

    }
    .about-section {
      padding: 20px;
    }
    .link-link {
      font-size: 16px;
      letter-spacing: 0;
    }
    .about-title {
      font-weight: 700;
      font-size: 20px;
      letter-spacing: 0;      
    }
    .description-text {
      font-size: 16px;
      color: #B8B8B8;
      letter-spacing: 0;      
    }
  }
}