  .top-menu {
    width: 100%;
    // position: fixed;
    // background-color: #ffffff;
    // top: 0;
    padding: 5px 20px 0px 9px;
    // margin: 0px 0 0 -10px;
    // z-index: 2;

    &::after {
      // content: "";
      // min-width: calc(100% + 124px);
      // height: 1px;
      // position: absolute;
      // background-color: #d6d6d6;
      // left: -62px;
    }


    .tab-container {
      background-color: #ffffff;

      &.__absolute {
        padding-left: 0 !important;
        /deep/.toolbar__content {
          padding: 0;
        }

      }
      &.toolbar--fixed {
        box-shadow: 0 0 0 1px #d6d6d6;
      }
      
      // width: auto;
      // position: unset;
      // display: flex;

      .user-profile-image-wrapper {
        display: none;
        align-items: center;
        margin-right: 30px;

        .user-profile-image {
          width: 30px;
          height: 30px;
          margin-right: 10px;
          border-radius: 50%;
          background-color: #FAFAFA;
          overflow: hidden;
          background-size: cover;
          background-position: center;
          border: solid 1px #e0e0e0;
        }

        label {
          font-weight: bold;
        }
      }

      .tabs {
        .tabs__bar {
          overflow: auto;
          width: calc(100% + 72px);
          position: relative;
          left: -41px;

          .tabs__li {
            margin: 0;

            .tabs__item {
              padding: 0 2px;
            }

            .tabs__item--active {
              .chip {
                background-color: #030303;
                color: #ffffff;
              }
            }
          }
        }
      }

      /deep/.toolbar__content {
        padding: 0 50px;

        ul {
          display: flex;
          align-items: center;
          width: 100%;

          li:not(:last-child) {
            margin-right: 40px;
          }

          li {
            font-size: 15px;
            list-style: none;
            margin: 15px 0;
            font-weight: 300;
            color: #000;
            &.active {
              font-weight: 700;
              color: #000;
            }
            label {
              cursor: pointer;
            }

            .__tabs {
                display: flex;
                align-items: center;

                .notifications {
                    margin-left: 10px;

                    .__count {
                      margin-top: 0;
                    }
                }
            }
          }
        }
      }
    }

    &.__inner {
      width: 100%;
      position: relative;
      z-index: 1;
      .menu__content {
        top: 147px !important;
      }

      ul {
        display: flex;
        align-items: center;
        li {
          // margin: 5px 0 !important;

          &.tabSelectMenu {
            margin-right: 40px !important;
          }

          .input-group {
            padding-top: 0px;
            // margin-top: -24px;
          }
        }
      }
      &.__doubleUl {
        .tab-container {
          display: block;


          li {
            margin-top: 0;
            margin-bottom: 0
          }

          /deep/.tabs {
            .tabs__bar {
              margin-left: -66px;
              margin-bottom: 5px;
            }
          }
        }
      }

      &::after {
        display: none;
      }

    }
  }
