.top-menu {
  width: 100%;
  // position: fixed;
  // background-color: #ffffff;
  // top: 0;
  padding: 5px 20px 0px 9px;
  // margin: 0px 0 0 -10px;
  // z-index: 2;

  &::after {
    // content: "";
    // min-width: calc(100% + 124px);
    // height: 1px;
    // position: absolute;
    // background-color: #d6d6d6;
    // left: -62px;
  }


  .tab-container {
    background-color: #ffffff;

    &.__absolute {
      padding-left: 0 !important;
      background-color: transparent !important;
      /deep/.toolbar__content {
        padding: 0;
        ul {
          margin-right: 0;
          margin-left: 0;

          li{
            color: #787878;


            &.active{
              
              background-color: black;
              padding: 3px 10px;
              border-radius: 15px;
              color: white !important;


              label{
                color: white !important;
              }
            }
          }
        }
      }

    }
    &.toolbar--fixed {
      box-shadow: 0 0 0 1px #d6d6d6;
    }

    /deep/.user-profile-image-wrapper {
      display: none;
      align-items: center;
      margin-right: 30px;

      .user-profile-image {
        width: 30px;
        height: 30px;
        margin-right: 10px;
        border-radius: 50%;
        background-color: #FAFAFA;
        overflow: hidden;
        background-size: cover;
        background-position: center;
        border: solid 1px #e0e0e0;
      }

      label {
        font-weight: bold;
      }
    }

    .tabs {
      .tabs__bar {
        overflow: auto;
        width: calc(100% + 72px);
        position: relative;
        left: -41px;

        .tabs__li {
          margin: 0;

          .tabs__item {
            padding: 0 2px;
          }

          .tabs__item--active {
            .chip {
              background-color: #030303;
              color: #ffffff;
            }
          }
        }
      }
    }

    /deep/.toolbar__content {
      padding: 0 50px;

      ul {
        display: flex;
        align-items: center;
        width: 100%;

        li:not(:last-child) {
          margin-right: 40px;
        }

        li {
          list-style: none;
          margin: 15px 0;
          font-weight: 400;
          font-family: 'Inter', sans-serif;
          font-size: 14px;
          
          label {
            color: black;
            cursor: pointer;

            &.innerBold {
              font-weight: 400;
              white-space: nowrap;
            }

            &.nav-label{
              display: flex;
              align-items: center;
              justify-content: center;

              img.li-icon {
                margin-right: 10px;
                // filter: opacity(0.5);
              }
            }
          }

          .__tabs {
              display: flex;
              align-items: center;

              .notifications {
                  margin-left: 10px;

                  .__count {
                    margin-top: 0;
                  }
              }
          }

          &.isParent {
            .icon {
              color: #000000;
              font-size: 13px;
            }
          }

          &.active {
            font-weight: 700;


            &.tab-active {
              border: 1px solid;
              padding: 5px 14px;
              color: #ffffff;
              background-color: #000000;
              border-radius: 20px;

              label {
                color: #ffffff;
              }
            }
            
            label {
              color: #000;
              img.li-icon {
                filter: opacity(1);
              }
            }
          }
        }
      }
    }
  }

  &.__inner {
    width: 100%;
    position: relative;
    z-index: 1;
    .menu__content {
      top: 147px !important;
    }

    ul {
      display: flex;
      align-items: center;
      li {
        // margin: 5px 0 !important;

        &.tabSelectMenu {
          margin-right: 40px !important;
        }

        .input-group {
          padding-top: 0px;
          // margin-top: -24px;
        }
      }
    }
    &.__doubleUl {
      .tab-container {
        display: block;


        li {
          margin-top: 0;
          margin-bottom: 0
        }

        /deep/.tabs {
          .tabs__bar {
            margin-left: -66px;
            margin-bottom: 5px;
          }
        }
      }
    }

    &::after {
      display: none;
    }

  }

  // Mobile View
  &.onMobile {

    /deep/.tab-container {
      .open-genre-dialog-li {
        margin-right: -18px !important;
      }

      .toolbar__content {  
        ul {  
          li {
            margin-top: 0;
            margin-bottom: 0;
          }
        }
      }

      .tabs {
        margin: 0;

        .tabs__bar {
          .tabs__li {
            .tabs__item {
              padding-left: 0;
              padding-right: 4px;

              .chip {
                margin: 0;
                padding: 0 5px;
                border: 1px solid #c4c4c4;
                color: #000000;
                font-weight: 700;
                background-color: transparent;
              }
            }

            .tabs__item--active {
              .chip {
                border: 1px solid #000000;
                background-color: #000000;
                color: #ffffff;
              }
            }
          }
        }
      }
    }
  }

    &.relative{
      position: relative;
      background-color: transparent;
    }
    &.bottomNav{
      .tab-container {
        top: auto;
        bottom: 0 !important;
      }
    }

    &.border-bottom-x{
      .tab-container {
        border-bottom: 1px solid #d6d6d6;
      }
    }

    &.black-theme{

      .tab-container {
        background: #000;
        &.toolbar--fixed {
          box-shadow: none;
        }


        /deep/.toolbar__content {
          padding: 0 50px;
  
          ul {
            display: flex;
            align-items: center;
            width: 100%;

            &.scroll-true{
              overflow-x: auto ;

              li{
                white-space: nowrap;
              }
            }
  
            li:not(:last-child) {
              margin-right: 40px;
            }
  
            li {
              list-style: none;
              margin: 15px 0;
              font-weight: 400;
              font-family: 'Inter', sans-serif;
              font-size: 14px;
              
              label {
                color: rgba(255,255,255,0.5);
                cursor: pointer;
                font-weight: 500;

                img{
                  opacity: 50%;
                }

                a{
                  color: rgba(255,255,255,0.5);
                }
  


                &.innerBold {
                  font-weight: 400;
                  white-space: nowrap;
                }
  
                &.nav-label{
                  display: flex;
                  align-items: center;
                  justify-content: center;
  
                  img.li-icon {
                    margin-right: 10px;
                    // filter: opacity(0.5);
                  }
                }
              }
  
              .__tabs {
                  display: flex;
                  align-items: center;
  
                  .notifications {
                      margin-left: 10px;
  
                      .__count {
                        margin-top: 0;
                      }
                  }
              }
  
              &.isParent {
                .icon {
                  color: #fff;
                  font-size: 14px;
                }
              }
  
              &.active {
                font-weight: 700;
                color: #fff;

                img{
                  opacity: 100%;
                }

                a{
                  color: white;
                }
  
  
  
                &.tab-active {
                
  
                  label {
                    font-weight: 700;
                    color: #ffffff;
                  }
                }
                
                label {
                  color: #ffffff;
                  img.li-icon {
                    filter: opacity(1);
                  }
                }
              }
            }
          }
        }
  
      }
    }
  }


@media (max-width: 810px) {
.top-menu {
  /deep/.toolbar__content {
    // padding: 0 50px;
  }

  &.__inner {
    overflow-x: scroll;
    overflow-y: hidden;
  }
}
}