.upload-page {
    h1.__title {
        font-size: 22px;
        margin-top: 48px;
        Margin-bottom: 20px;
    }
    .upload-tab-container {
        padding: 20px !important;


        .upload-tab-wrapper {
            text-align: center;
            padding: 8px;
            transition: .3s ease-in-out;
            border: .75px solid #d2d2d2;
            border-radius: 8px;
            display: flex;
            min-height: 150px;
            align-items: center;

            .upload-tab-img {
                height: 80px;
                width: 80px;
                border-radius: 4px;
                background-size: contain;
                background-position: center;
                margin: 20px;


                &.uploadMusic {
                    background-image: url('/static/images/up_music.svg');
                }  
                &.uploadVideo {
                    background-image: url('/static/images/up_video.svg');
                }  
                &.uploadLive {
                    background-image: url('/static/images/up_live.svg');
                }  
                &.uploadProduct {
                    background-image: url('/static/images/up_product.svg');
                }  
            }  
            .upload-tab-btn {
                border: 2px solid;
                width: 35%;
                text-transform: capitalize;
                background-color: transparent;
                border-radius: 80px;
                margin-left: 0;
                // background-color: #007aff;
                background-color: transparent;
                color: #000;
                font-weight: 800;
                min-width: 110px;
            }

            .upload-tab-description {
                margin-bottom: 10px;
                font-size: 14px;
                // height: 87px;
                font-weight: 500;
            }

            &:hover {
                // transform: scale(1.03);
                // border: 1px solid #c9c2c2;
                // .upload-tab-btn {
                //     border: 0;
                //     background-color: #007aff;
                // }
            }
        }
  
    }  
    .meta-tab-container {
        .meta-tab-wrapper {
            display: flex;
            align-items: center;
            padding: 30px;
            // border: 0.75px solid #e9dcdc;
            border-radius: 15px;

            .meta-tab-img {
                height: 80px;
                width: 80px;
                background-position: left;
                background-size: contain;
                margin-right: 20px;


                &.partnerImg {
                    background-image: url('/static/images/handshake.svg');
                }
                &.growthImg {
                    background-image: url('/static/images/edit-curves.svg');
                }
            }
            .meta-tab-description {}
        }
    }
}