.cover-wrapper {
  height: 100%;
  // text-align: center;
  input[type='file'] {
    width: 0.75px;
    height: 0.75px;
    opacity: 0;
    overflow: hidden;
    // position: absolute;
    z-index: -1;
  }
  input[type='file'] + label {
    display: block;
    color: #1976d2;
    font-size: 14px;
    cursor: pointer;
  }
  label:hover {
    // text-decoration: underline;
  }
}
.form-group {
  width: 100%;


}
.album-info-title {
  margin-bottom: 14px;
  color: #000000;
  font-size: 21px;
  letter-spacing: -1%;
  font-weight:700;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(0,0,0,0.1);
}


.featured-users {
  .remove-acc,
  .add-acc {
    display: none;
  }
  .chip:hover {
    .__acc {
      color: white;
      cursor: pointer;
      position: absolute;
      height: 100%;
      display: flex;
      align-items: center;
      width: 100%;
      left: 0;
      border-radius: 28px;
      justify-content: center;
      
      &.remove-acc {
        background: red;
      }
      &.add-acc {
        background: #3a92ff;
      }
    }
  }
}

.video-thumbnail-container {
  display: flex;
  flex-direction: column;
  .video-thumbnail-wrapper {
    // width: 320px;
    .video-thumbnail {
      width: 100%;
      height: 100%;
      min-height: 230px;
      // background-image: linear-gradient(to right bottom, #71e3ff, #4bd2ff, #46beff, #69a6ff, #9689fe);
      background-color: #f9f9f9;
      border: 1px solid #D8D8D8;
      border-radius: 4px;
      background-size: cover;
      background-position: center center;
      display: flex;
      justify-content: center;
      align-items: center;
      label {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // margin: -14px 0 0 -41px;
        color: #000000;
        font-size: 14px;
      }
    }
  }
}
.meta-annotate {
  color: #e53935;
  font-size: 10px;
}

.page.video-page {
  .page-title {
    margin-bottom: 10px;
  }

  .page-subtitle {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .genre-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img,
    i {
      width: 20px;
      height: 20px;
      flex: 0 0 auto;
    }
  }

  
  .video-container {
    min-width: 200px;
    margin-bottom: 0px;
    padding: 0 20px !important;

    .box {
      margin-bottom: 28px;

      // &__content {
      //   width: 40%;
      // }
      // &__image {
      //   border-radius: 0;
      // }
    }

    &.top-3 {}
  }

  .side_fullwidth {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

.page.video-page.manage-page {
  h3 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  h4 {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Work Sans';
    letter-spacing: -1px;
  }

  .page-subtitle {
    font-size: 18px;
  }

  .panel {
    display: flex;
    align-items: center;
    padding: 15px;
    min-height: 125px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  // .divider {
  //   margin-bottom: 10px;
  // }


  p, div.divide {
    width: 100%;
    border-bottom: 1px solid #dbdbdb;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    font-size: 14px;
  }

  .wrapper-info {
    border: 1px solid #dbdbdb;
    background-color: #f9f9f9;
    border-radius: 5px;
    padding: 20px;
  }

  .stream-info {
    position: relative;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;
      }
    }


    label {
      position: relative;
      display: inline-block;
      color: #3c3c3c;
      line-height: 30px;
      font-weight: 600;
      font-family: 'Work Sans';
      font-size: 18px !important;
      letter-spacing: -0.2px;
    }

    .clipboard-btn {
      position: absolute;
      top: 0px;
      right: -40px;
      text-transform: none;
      box-shadow: none;
      height: 30px;
      width: 30px;
      min-width: 30px;
      border: 0.75px solid #d2d2d2;
      margin: 0;
      background: #ffffff;
      font-weight: 600;
      font-size: 15px;
      color: #ffffff;
      letter-spacing: 0;
      .btn__content {
        .icon {
          color: #3a92ff;
          font-size: 16px;
        }
      }
    }
  }

  .stream-actions {
    display: flex;
    justify-content: flex-end;

    // .btn:not(.btn--depressed) {
    .btn {
      padding: 0;
      margin-left: 5px;
      border-radius: 5px;
      color: #fff !important;
      font-size: 14px;
      font-weight: 700;
      &.green {
        background-color: #14c55a;
      }
      // &__content {
      //   padding: 0;
      // }
    }

    .btn--active .btn__content:before,
    .btn:focus .btn__content:before,
    .btn:hover .btn__content:before {
      background-color: transparent !important;
    }
  }

  .time-info {
    position: relative;
    padding: 9px 40px;

    label {
      display: block;
      font-size: 15px;
      font-weight: 600;
      font-family: 'Work Sans';
      letter-spacing: -1.3px;
      color: #b1b1b1;
    }

    span {
      font-size: 15px;
      font-weight: 900;
    }


    p {
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
      font-size: 14px;
    }
  }

  .detail-info {
    background-color: #ffffff;
    // display: flex;
    // flex-direction: column;
    // align-items: center;

    &-top {
      display: flex;
      margin-bottom: 10px;
    }

    .stream-details {
      display: flex;

      .stream-bg {
        height: 80px;
        width: 80px;
        background-color: lightgray;
        margin-right: 20px;
      }

      .meta-title {
        color: #b1b1b1;
        font-weight: 600;
      }
    }

    .attachment-details {
      .attachment-info-top {
        display: flex;
        margin-bottom: 10px;
      }
      .attachment-bg {
        height: 80px;
        width: 80px;
        background-color: lightgray;
        margin-right: 20px;
      }
    }

    .feature-info {
      &-top {
        display: flex;
        margin-bottom: 10px;
      }
    }
  }

  .share-social-info {
    .form-control {
      height: 40px;
    }

    .input-group__details {
      display: none;
    }

    p {
      i.fa-facebook {
        margin-right: 20px;
        color: #0000ff;
        font-size: 24px;
      }
      i.fa-twitter {
        margin-right: 20px;
        color: #0000ff;
        font-size: 24px;
      }
    }

    .share-social-section {
      flex: 0 0 auto;
      width: 100px;
      text-align: center;
      /deep/.social-share-btn {
        text-transform: none;
        box-shadow: none;
        background: transparent !important;
        min-width: auto;
        height: 37.5px;
        width: 37.5px;
        margin: 0 5px 0 0;
        border: 0.75px solid #fff;
        border-radius: 3.75px;
        font-size: 15px;
        color: #000000;
        letter-spacing: -0.6px;
        .btn__content {
          padding: 0;
          .icon {
            color: #3a92ff;
            font-size: 20px;
          }
        }
      }
      .social-section {
        display: inline-block;
      }
    }

    .input-section {
      position: relative;
      width: 500px;
      // margin: 15px 7.5px 0;
      text-align: center;
      padding-left: 15px;
      .clipboard-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        text-transform: none;
        box-shadow: none;
        height: 30px;
        width: 30px;
        min-width: 30px;
        border: 0.75px solid #d2d2d2;
        margin: 0;
        background: #ffffff;
        font-weight: 600;
        font-size: 15px;
        color: #ffffff;
        letter-spacing: 0;
        .btn__content {
          .icon {
            color: #3a92ff;
            font-size: 16px;
          }
        }
      }
    }
  }
}
  .info-title {
    margin-bottom: 14px;
    color: #000000;
    font-size: 1.5em;
    letter-spacing: -.5px;
    font-weight: 600;
  }

.page.video-page.create-page {
  .video-info-section {
    ._filename {
    font-size: 14px;
  }

  .gap-15{
    gap: 15px
  }

  .required {
      font-size: 15px;
      vertical-align: -webkit-baseline-middle;

    }

  .control-label {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 700;
    font-family: 'Inter';
    color: rgba(0, 0, 0, 0.5);
  }

  .upload_file {
    width: 100%;
    height: 100%;
    font-weight: 600;
    font-size: 15px;
    // color: #ffffff;
    letter-spacing: 0;
    .camera {
      color: #000000;
      font-size: 28.5px;
      display: block;
      margin-top: calc(50% - 22.5px);
    }
  }

  
}
.submit-section {
  hr {
    border: none;
    height: 1px;
    background-color: #dbdbdb;
  }
  
  .release-now-btn {
    height: 40px;
    width: auto;
    padding: 0 23px;
    margin: 0;
    text-transform: none;
    background: #374dff;
    border-radius: 75px;
    letter-spacing: 0;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
    
    .btn__content {
      font-size: 14px;
      color: #ffffff;
    }
  }
}
  .my-card {
    position: relative;
    margin: 40px 0px 20px 70px;
    background: none;
    box-shadow: none;

    .my-card__title {
      font-size: 20px;
      font-weight: 700;
      font-family: 'Work Sans';
      letter-spacing: -0.3px;
    }

    .my-card__subtitle {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.8px;
      font-family: 'Montserrat';
    }

    .my-card__text {
      margin-top: 10px;
      margin-bottom: 36px;
      font-family: 'Montserrat';
      letter-spacing: 0;
      font-size: 14px;
      width: 340px;
    }

    .application .theme--dark.btn:not(.btn--icon):not(.btn--flat) {
      box-shadow: none;
    }

    .share-view {
      padding-bottom: 100px;
    }

    .layout.row {
      padding-bottom: 18px;
    }

    .divider {
      border: 0.5px dotted #ededed;
    }

    .o-out {
      position: absolute;
      top: 2px;
      left: -27px;
      width: 16px;
      height: 16px;
      border-radius: 15px;
      .o-in {
        width: 10px;
        height: 10px;
        margin: 3px 3px;
        border-radius: 10px;
      }

      &.blue0 {
        background-color: #aad0fe;
        .o-in {
          background-color: #3a92ff;
        }
      }

      &.red0 {
        background-color: #ff9dbe;
        .o-in {
          background-color: #f43374;
        }
      }

      &.green0 {
        background-color: #c8fff3;
        .o-in {
          background-color: #50e3c2;
        }
      }
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.5px;
  }

  textarea.form-control {
    height: 120px;
    resize: none;
  }

  .input-group__input {
    min-height: 36px;
  }

  .input-group__details {
    display: none;
  }

  .helper-label {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      color: #1976d2;
      font-size: 12px;
      i {
        margin-right: 4px;
        font-size: 16px;
        color: #121212;
      }
    }
  }

  .comment-box {
    padding: 18px 25px;
    border: 1px solid #dddda8;
    border-radius: 5px;
    background-color: #ffffee;
    font-size: 16px;
  }

  .attach {
    padding: 10px 12px;
    border: 0.75px solid #d2d2d2;
    border-radius: 3.75px;
  }
  .cover-wrapper {
    @extend .cover-wrapper;
  }
  .video-thumbnail-container {
    @extend .video-thumbnail-container;
  }

  .card.user-preview {
    display: flex;
    box-shadow: none;
    .card__media {
      flex: 0 0 auto;
      width: 50px;
      height: 50px !important;
      border-radius: 25px;
    }
    .card__title {
      .user-name {
        font-size: 18px;
        font-weight: 700;
      }
      .user-type {
        font-size: 16px;
        color: #9b9b9b;
        text-transform: capitalize;
      }
    }
  }

  .card.video-preview {
    display: flex;
    box-shadow: none;
    padding-bottom: 32px;
    .card__media {
      flex: 0 0 auto;
      width: 200px;
      height: 200px !important;
      border-radius: 5px;
      background-color: #e0e0e0;
      .card__media__background {
        background-position: 0 0 !important;
      }
    }
    .card__title {
      flex: 1 1 0;
      overflow-x: hidden;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
      .video-name {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        word-break: break-all;
        font-family: 'Work Sans';
        letter-spacing: -0.5px;
      }
      .video-period {
        font-size: 16px;
        color: #9b9b9b;
      }
      .video-owner-name {
        font-size: 18px;
        display: none;
      }
      .video-price {
        label {
          font-size: 18px;
        }
      }
    }
  }

  .button-wrapper {
    padding: 16px 25px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: -8px;
  }

  .viewer-support {
    ul {
      margin-bottom: 23px;
      margin-top: 6px;
      padding-left: 15px;
      font-size: 14px;
    }
  }
}

.page.video-page.delete-page {
  h4 {
    margin-top: 100px;
    font-size: 24px;
  }

  .mb-5 {
    margin-bottom: 32px !important;
  }

  button {
    text-transform: initial;
  }
}

.page.video-page.info-page .page-content {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  h3 {
    font-size: 22px;
    font-weight: 400;
    letter-spacing: -0.5px;
  }

  h4 {
    margin: 30px 0 20px 0;
    font-size: 32px;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    max-width: 533px;
    margin: 0 0 20px;
    font-size: 18px;
    line-height: 30px;
    color: #444;
  }

  ul {
    margin: 20px 0 20px 30px;
    li {
      // list-style: none;
      font-size: 14px;
      color: #444;
    }
  }

  .description-container {
    padding-right: 5.333%;
  }

  .estimate-container {
    padding-right: 5.333%;

    .label {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .input {
      margin-bottom: 20px;
    }
  }

  .slider-container {
    padding-left: 20px;
    // display: flex;
    // align-items: center;

    .input-group {
      margin-top: 6px;
      padding: 0;
      height: 40px;
    }
  }

  input[type='number'] {
    min-width: auto;
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 14px;
    &:focus {
      // outline: 1px solid #000000;
      outline: none;
      box-shadow: 0 0 0 1px #000000;
    }
  }

  .radio-container {
    display: flex;
    justify-content: space-between;
  }

  .radio {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 130px;
    input[type='radio'] {
      position: absolute;
      visibility: hidden;
    }
    label {
      display: inline-block;
      width: 100%;
      padding: 10px 10px;
      border: 1px solid #333333;
      border-radius: 5px;
      background-color: #ffffff;
      color: #333333;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
    }
    input:checked + label {
      background-color: #333333;
      color: #ffffff;
    }
  }

  .radio + .radio {
    margin-left: 5px;
  }

  .duration {
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    &:focus-within {
      // border: 1px solid #000000;
      box-shadow: 0 0 0 1px #000000;
    }

    span {
      flex: 0 0 0%;
      display: flex;
      align-items: center;
      color: #999999;
      font-size: 16px;
      font-weight: 900;
    }

    input {
      flex: 1 1 0%;
      padding: 0;
      border: none;
      text-align: center;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .duration-helper {
    display: flex;
    span {
      flex: 1 1 0%;
      display: flex;
      justify-content: center;
      color: #777777;
      font-size: 12px;
    }
  }

  .total {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    label {
      display: block;
      padding: 10px 0 0 0;
      font-size: 16px;
      font-weight: 700;
    }
    span {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }
}

.dialog.add-more-time-dialog {
  .card__title.headline {
    display: block;
    padding: 50px 0 10px 0;
    text-align: center;
  }
  .card__text {
    .input-group {
      width: 300px;
      margin: 0 auto;
      &__details {
        display: none;
      }
    }
  }
  .card__actions {
    padding: 8px 0 50px 0;
    .btn .btn__content {
      padding: 0 32px;
    }
  }
}

.dialog.add-more-time-caution-dialog {
  .card {
    &__text {
      text-align: center;
      line-height: 24px;
    }
    &__actions {
      padding: 0;
    }
  }
}

.dialog.edit-stream-details-dialog {
  .card {
    &__text {
      text-align: center;
      line-height: 24px;
      .form-group {
        margin-bottom: 0px
      }
      .cover-wrapper {
        @extend .cover-wrapper;
        padding: 0;
      }
      .video-thumbnail-container {
        @extend .video-thumbnail-container;
        flex-direction: column;
        justify-content: center;

        .video-thumbnail-wrapper {
          padding-top: 0;
          width: 100%;
          height: 100%;
          display: block;
          min-height: 230px;
        

          .video-thumbnail {
            position: relative;
            width: 100%;
            height: 100%;
            margin: 0 auto;
          }
        }
      }

      textarea.form-control {
        height: 80px;
        resize: none;
      }
    }
    &__actions {
      padding: 0;
    }
  }
}

.dialog.add-users-dialog {
  .search_user-results {
    display: flex;
    width: 100%;
    flex-flow: wrap;
  }
}

.dialog.stream-collaborators-dialog {
  width: 640px;
  .card {
    padding: 15px;
    // margin: 7.5px;
    // border-top: 0.75px solid rgba(0, 0, 0, 0.2);
    // border-bottom: 0.75px solid rgba(0, 0, 0, 0.2);
    .flex {
      padding: 0 7.5px;
    }

    .creator-wrapper {
      padding: 0 24px 20px 0;
      .creator-name,
      .creator-share {
        display: inline-block;
        width: 100%;
        height: 42px;
        padding: 8px 8px;
        border: 0.75px solid #d2d2d2;
        border-radius: 3.75px;
        line-height: 24px;
        font-size: 16px;
      }
    }
    .add-option-btn {
      margin: 0px;
      box-shadow: none !important;
      min-width: 24px;
      height: 40px;
      min-width: 0px;
      background: #ffffff !important;
      color: #3a92ff;
      text-transform: none;
      font-size: 20px;
      .btn__content {
        padding: 0;
        i {
          color: #3a92ff;
          font-size: 18px;
          border: 0.75px solid #3a92ff;
          border-radius: 1.5px;
          margin-right: 10px;
        }
      }
    }
    .clear-btn {
      // padding-top: 18.75px;
      color: #c1c1c1;
      cursor: pointer;
    }
  }
}
