.page.video-page.index-page {
  .page-title {
    margin-bottom: 10px;
  }

  .page-subtitle {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .genre-filter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img,
    i {
      width: 20px;
      height: 20px;
      flex: 0 0 auto;
    }
  }
}

.page.video-page.manage-page {
  h3 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  h4 {
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Work Sans';
    letter-spacing: -1px;
  }

  .page-subtitle {
    font-size: 18px;
  }

  .panel {
    display: flex;
    align-items: center;
    padding: 15px;
    min-height: 125px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  // .divider {
  //   margin-bottom: 10px;
  // }

  .stream-info {
    position: relative;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f9f9f9;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;
      }
    }

    p {
      width: 100%;
      border-bottom: 1px solid #dbdbdb;
      margin: 0 0 10px 0;
      padding: 0 0 10px 0;
      font-size: 14px;
    }

    label {
      position: relative;
      display: inline-block;
      color: #3c3c3c;
      line-height: 30px;
      font-weight: 600;
      font-family: 'Work Sans';
      font-size: 18px !important;
      letter-spacing: -0.2px;
    }

    .clipboard-btn {
      position: absolute;
      top: 0px;
      right: -40px;
      text-transform: none;
      box-shadow: none;
      height: 30px;
      width: 30px;
      min-width: 30px;
      border: 0.75px solid #d2d2d2;
      margin: 0;
      background: #ffffff;
      font-weight: 600;
      font-size: 15px;
      color: #ffffff;
      letter-spacing: 0;
      .btn__content {
        .icon {
          color: #3a92ff;
          font-size: 16px;
        }
      }
    }
  }

  .stream-actions {
    display: flex;
    justify-content: flex-end;

    // .btn:not(.btn--depressed) {
    .btn {
      padding: 0;
      margin-left: 5px;
      border-radius: 5px;
      color: #fff !important;
      font-size: 14px;
      font-weight: 700;
      &.green {
        background-color: #14c55a;
      }
      // &__content {
      //   padding: 0;
      // }
    }

    .btn--active .btn__content:before,
    .btn:focus .btn__content:before,
    .btn:hover .btn__content:before {
      background-color: transparent !important;
    }
  }

  .time-info {
    // margin-top: 24px;

    label {
      display: block;
      font-size: 20px;
      font-weight: 600;
      font-family: 'Work Sans';
      letter-spacing: -1.3px;
    }

    span {
      font-size: 24px;
    }
  }

  .share-view {
    display: flex;
    align-items: center;

    .form-control {
      height: 40px;
    }

    .input-group__details {
      display: none;
    }

    p {
      i.fa-facebook {
        margin-right: 20px;
        color: #0000ff;
        font-size: 24px;
      }
      i.fa-twitter {
        margin-right: 20px;
        color: #0000ff;
        font-size: 24px;
      }
    }

    .share-social-section {
      flex: 0 0 auto;
      width: 100px;
      text-align: center;
      .social-share-btn {
        text-transform: none;
        box-shadow: none;
        background: transparent !important;
        min-width: auto;
        height: 37.5px;
        width: 37.5px;
        margin: 0 5px 0 0;
        border: 0.75px solid #fff;
        border-radius: 3.75px;
        font-size: 15px;
        color: #000000;
        letter-spacing: -0.6px;
        .btn__content {
          padding: 0;
          .icon {
            color: #3a92ff;
            font-size: 20px;
          }
        }
      }
      .social-section {
        display: inline-block;
      }
    }

    .input-section {
      position: relative;
      width: 500px;
      // margin: 15px 7.5px 0;
      text-align: center;
      padding-left: 15px;
      .clipboard-btn {
        position: absolute;
        top: 5px;
        right: 5px;
        text-transform: none;
        box-shadow: none;
        height: 30px;
        width: 30px;
        min-width: 30px;
        border: 0.75px solid #d2d2d2;
        margin: 0;
        background: #ffffff;
        font-weight: 600;
        font-size: 15px;
        color: #ffffff;
        letter-spacing: 0;
        .btn__content {
          .icon {
            color: #3a92ff;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.page.video-page.create-page {
  .my-card {
    position: relative;
    margin: 40px 0px 20px 70px;
    background: none;
    box-shadow: none;

    .my-card__title {
      font-size: 20px;
      font-weight: 700;
      font-family: 'Work Sans';
      letter-spacing: -0.3px;
    }

    .my-card__subtitle {
      font-size: 20px;
      font-weight: 700;
      letter-spacing: -0.8px;
      font-family: 'Montserrat';
    }

    .my-card__text {
      margin-top: 10px;
      margin-bottom: 36px;
      font-family: 'Montserrat';
      letter-spacing: 0;
      font-size: 14px;
      width: 340px;
    }

    .application .theme--dark.btn:not(.btn--icon):not(.btn--flat) {
      box-shadow: none;
    }

    .share-view {
      padding-bottom: 100px;
    }

    .layout.row {
      padding-bottom: 18px;
    }

    .divider {
      border: 0.5px dotted #ededed;
    }

    .o-out {
      position: absolute;
      top: 2px;
      left: -27px;
      width: 16px;
      height: 16px;
      border-radius: 15px;
      .o-in {
        width: 10px;
        height: 10px;
        margin: 3px 3px;
        border-radius: 10px;
      }

      &.blue0 {
        background-color: #aad0fe;
        .o-in {
          background-color: #3a92ff;
        }
      }

      &.red0 {
        background-color: #ff9dbe;
        .o-in {
          background-color: #f43374;
        }
      }

      &.green0 {
        background-color: #c8fff3;
        .o-in {
          background-color: #50e3c2;
        }
      }
    }
  }

  h3 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  .form-control {
    height: 36px;
  }

  .input-group__input {
    min-height: 36px;
  }

  .input-group__details {
    display: none;
  }

  .helper-label {
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      align-items: center;
      color: #1976d2;
      font-size: 12px;
      i {
        margin-right: 4px;
        font-size: 16px;
        color: #121212;
      }
    }
  }

  .comment-box {
    padding: 18px 25px;
    border: 1px solid #dddda8;
    border-radius: 5px;
    background-color: #ffffee;
    font-size: 16px;
  }

  .attach {
    padding: 10px 12px;
    border: 0.75px solid #d2d2d2;
    border-radius: 3.75px;
  }

  .cover-wrapper {
    input[type='file'] {
      width: 0.75px;
      height: 0.75px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }
    input[type='file'] + label {
      display: inline-block;
      color: #1976d2;
      font-size: 14px;
      cursor: pointer;
    }
    label:hover {
      text-decoration: underline;
    }
    span {
      color: #e53935;
      font-size: 10px;
    }
  }

  .video-thumbnail-wrapper {
    position: relative;
    // width: 60%;
    // padding-top: 60%;
    width: 330px;
    padding-top: 330px;
    .video-thumbnail {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      // background-image: linear-gradient(to right bottom, #71e3ff, #4bd2ff, #46beff, #69a6ff, #9689fe);
      background-color: #d2d2d2;
      background-size: cover;
      background-position: center center;
      label {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -14px 0 0 -41px;
        color: #ffffff;
        font-size: 18px;
      }
    }
  }

  .card.user-preview {
    display: flex;
    box-shadow: none;
    .card__media {
      flex: 0 0 auto;
      width: 50px;
      height: 50px !important;
      border-radius: 25px;
    }
    .card__title {
      .user-name {
        font-size: 18px;
        font-weight: 700;
      }
      .user-type {
        font-size: 16px;
        color: #9b9b9b;
        text-transform: capitalize;
      }
    }
  }

  .card.video-preview {
    display: flex;
    box-shadow: none;
    padding-bottom: 32px;
    .card__media {
      flex: 0 0 auto;
      width: 200px;
      height: 200px !important;
      border-radius: 5px;
      background-color: #e0e0e0;
      .card__media__background {
        background-position: 0 0 !important;
      }
    }
    .card__title {
      flex: 1 1 0;
      overflow-x: hidden;
      flex-direction: column;
      align-items: baseline;
      justify-content: space-between;
      .video-name {
        font-size: 24px;
        font-weight: 700;
        line-height: 24px;
        word-break: break-all;
        font-family: 'Work Sans';
        letter-spacing: -0.5px;
      }
      .video-period {
        font-size: 16px;
        color: #9b9b9b;
      }
      .video-owner-name {
        font-size: 18px;
        display: none;
      }
      .video-price {
        label {
          font-size: 18px;
        }
      }
    }
  }

  .button-wrapper {
    padding: 16px 25px;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    margin-left: -8px;
  }
}

.page.video-page.delete-page {
  h4 {
    margin-top: 100px;
    font-size: 24px;
  }

  .mb-5 {
    margin-bottom: 32px !important;
  }

  button {
    text-transform: initial;
  }
}

.page.video-page.info-page .page-content {
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  input[type='number'] {
    -moz-appearance: textfield;
  }

  h3 {
    font-size: 22px;
    font-weight: 300;
    letter-spacing: -0.5px;
  }

  h4 {
    margin: 30px 0 20px 0;
    font-size: 32px;
    letter-spacing: -1px;
  }

  h5 {
    font-size: 20px;
    font-weight: 500;
  }

  p {
    max-width: 450px;
    margin: 0 0 20px;
    font-size: 14px;
    line-height: 24px;
    color: #444;
  }

  ul {
    margin: 20px 0 20px 30px;
    li {
      // list-style: none;
      font-size: 14px;
      color: #444;
    }
  }

  .description-container {
    padding-right: 5.333%;
  }

  .estimate-container {
    padding-right: 5.333%;

    .label {
      margin-bottom: 10px;
      font-size: 14px;
    }
    .input {
      margin-bottom: 20px;
    }
  }

  .slider-container {
    padding-left: 20px;
    // display: flex;
    // align-items: center;

    .input-group {
      margin-top: 6px;
      padding: 0;
      height: 40px;
    }
  }

  input[type='number'] {
    min-width: auto;
    width: 100%;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    padding: 0 12px;
    font-size: 14px;
    &:focus {
      // outline: 1px solid #000000;
      outline: none;
      box-shadow: 0 0 0 1px #000000;
    }
  }

  .radio-container {
    display: flex;
    justify-content: space-between;
  }

  .radio {
    position: relative;
    display: inline-block;
    width: 100%;
    max-width: 130px;
    input[type='radio'] {
      position: absolute;
      visibility: hidden;
    }
    label {
      display: inline-block;
      width: 100%;
      padding: 10px 10px;
      border: 1px solid #333333;
      border-radius: 5px;
      background-color: #ffffff;
      color: #333333;
      font-size: 12px;
      text-align: center;
      cursor: pointer;
    }
    input:checked + label {
      background-color: #333333;
      color: #ffffff;
    }
  }

  .radio + .radio {
    margin-left: 5px;
  }

  .duration {
    display: flex;
    justify-content: center;
    height: 40px;
    border: 1px solid #dddddd;
    border-radius: 5px;
    box-sizing: border-box;
    &:focus-within {
      // border: 1px solid #000000;
      box-shadow: 0 0 0 1px #000000;
    }

    span {
      flex: 0 0 0%;
      display: flex;
      align-items: center;
      color: #999999;
      font-size: 16px;
      font-weight: 900;
    }

    input {
      flex: 1 1 0%;
      padding: 0;
      border: none;
      text-align: center;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }
  }

  .duration-helper {
    display: flex;
    span {
      flex: 1 1 0%;
      display: flex;
      justify-content: center;
      color: #777777;
      font-size: 12px;
    }
  }

  .total {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    label {
      display: block;
      padding: 10px 0 0 0;
      font-size: 16px;
      font-weight: 700;
    }
    span {
      font-size: 36px;
      font-weight: 700;
      letter-spacing: -1px;
    }
  }
}

.dialog.add-more-time-dialog {
  .card__title.headline {
    display: block;
    padding: 50px 0 10px 0;
    text-align: center;
  }
  .card__text {
    .input-group {
      width: 300px;
      margin: 0 auto;
      &__details {
        display: none;
      }
    }
  }
  .card__actions {
    padding: 8px 0 50px 0;
    .btn .btn__content {
      padding: 0 32px;
    }
  }
}
