.page.video-page.index-page {
  .page-subtitle {
    font-size: 20px;
  }

  .stream-info {
    position: relative;
    padding: 15px 25px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    background-color: #FFFFEE;

    .loading {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.1);
      i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -20px 0 0 -20px;
      }
    }
  }

  .time-info {
    padding: 16px 25px 25px 25px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    background-color: #F9F9F9;

    label {
      font-size: 24px;
      font-weight: 700;
    }

    p {
      font-size: 24px;
    }
  }

  .share-view {
    h3 {
      font-size: 24px;
      margin-bottom: 300px;
    }

    p {
      i.fa-facebook {
        margin-right: 20px;
        color: #0000FF;
        font-size: 24px;
      }
      i.fa-twitter {
        margin-right: 20px;
        color: #0000FF;
        font-size: 24px;
      }
    }

    .share-social-section {
      padding-top: 0;
      text-align: center;
      .social-share-btn {
        text-transform: none;
        box-shadow: none;
        background: transparent !important;
        height: 37.5px;
        min-width: 52.5px;
        width: 37.5px;
        margin: 3.75px;
        border: 0.75px solid #D2D2D2;
        border-radius: 3.75px;
        font-size: 15px;
        color: #000000;
        letter-spacing: -0.6px;
        .btn__content {
          .icon {
            color: #3A92FF;
            font-size: 20px;
          }
        }
      }
      .social-section {
        display: inline-block;
      }
    }

    .input-section {
      position: relative;
      width: 500px;
      // margin: 15px 7.5px 0;
      text-align: center;
      .clipboard-btn {
        position: absolute;
        top: 0;
        right: 0;
        text-transform: none;
        box-shadow: none;
        height: 30px;
        width: 30px;
        min-width: 30px;
        border: 0.75px solid #D2D2D2;
        margin: 0;
        background: #FFFFFF;
        font-weight: 600;
        font-size: 15px;
        color: #FFFFFF;
        letter-spacing: 0;
        .btn__content {
          .icon {
            color: #3A92FF;
            font-size: 16px;
          }
        }
      }
    }
  }
}

.page.video-page.create-page {
  .my-card {
    position: relative;
    margin: 40px 0px 20px 40px;
    background: none;
    box-shadow: none;

    .my-card__title {
      font-size: 20px;
      font-weight: 700;
      font-family: 'Work Sans';
      letter-spacing: -.3px;
    }

    .my-card__subtitle {
      font-size: 18px;
      font-weight: 600;
      font-family: 'Work Sans';
      letter-spacing: -.5px;
    }

    .my-card__text {
      margin-top: 10px;
      margin-bottom: 36px;
      font-family: 'Work Sans';
      letter-spacing: -.4px;
    }

    .application .theme--dark.btn:not(.btn--icon):not(.btn--flat) {
    box-shadow: none;
    }

    .layout.row {
    padding-bottom: 18px;
    }

    .mb-5 {
    margin-bottom: 40px!important;
    }

     .mt-3 {
      margin-top: 12px!important;
    } 

    .divider {
    border: .5px dotted #ededed;
    }

    .o-out {
      position: absolute;
      top: 2px;
      left: -27px;
      width: 16px;
      height: 16px;
      border-radius: 15px;
      .o-in {
        width: 10px;
        height: 10px;
        margin: 3px 3px;
        border-radius: 10px;
      }

      &.blue0 {
        background-color: #AAD0FE;
        .o-in {
          background-color: #3A92FF;
        }
      }

      &.red0 {
        background-color: #FF9DBE;
        .o-in {
          background-color: #F43374;
        }
      }

      &.green0 {
        background-color: #C8FFF3;
        .o-in {
          background-color: #50E3C2;
        }
      }
    }
  }

  .form-control {
    height: 36px;
  }

  .input-group__input {
    min-height: 36px;
  }

  .comment-box {
    padding: 15px 25px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    background-color: #FFFFEE;
  }

  .button-wrapper {
    padding: 9px 25px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    background-color: #F9F9F9;
    text-align: center;
  }
}

.page.video-page.delete-page {
  h4 {
    margin-top: 100px;
    font-size: 24px;
  }

  .mb-5 {
    margin-bottom: 32px!important;
  }

  button {
    text-transform: initial;
  }
}
