/* global error box */
.snack {
  z-index: 16;
  .snack__content {
    label {
      text-overflow: ellipsis;
      overflow: hidden;
      // white-space: nowrap;
      max-width: 500px;
      max-height: 60px;
      vertical-align: middle;
    }

    .btn {
      margin: 0;
      min-width: 40px;

      .btn__content {
        padding: 0;
      }
    }
  }
}

/* v-select */
.input-group__details {
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
}

.input-group--select {
  label {
    padding-left: 7.5px;
    line-height: 44px;
    height: 44px;
  }
  .input-group__input {
    min-height: 44px;
    border: 0.75px solid #D2D2D2;
    border-radius: 3.75px;
    .input-group__selections {
      padding-left: 11.25px;
    }
  }
}
.input-group--select.large {
  label {
    height: 42px;
    line-height: 42px;
  }
}

/* v-select : dropdown box */
.menu__content {
  // z-index: 30 !important;
  border-radius: 3.75px;

  ul {
    margin-bottom: 0;
    background-color: #F0F0F0 !important;
  }
}

.menu__content.menu__content--avatar {
  .list__tile {
    height: 56px;
  }
}

/* v-tabs */
.tabs__items {
  overflow: visible;
  // margin-bottom: 150px;
}

/* drop-down menu */
.list__tile {
  font-size: 14px;
}

.chip__content {
  border-radius: 200px;
}

.list__tile .avatar {
  min-width: 0;
}
