/* global error box */
.snack {
  // z-index: 16;
  z-index: 203;
  .snack__content {
    label {
      text-overflow: ellipsis;
      overflow: hidden;
      // white-space: nowrap;
      max-width: 500px;
      max-height: 60px;
      vertical-align: middle;
    }

    .btn {
      margin: 0;
      min-width: 40px;

      .btn__content {
        padding: 0;
      }
    }
  }
}

.btn {
  text-transform: unset;
}

/* v-data-table */
table.table tbody td:first-child,
table.table tbody td:not(:first-child),
table.table tbody th:first-child,
table.table tbody th:not(:first-child),
table.table thead td:first-child,
table.table thead td:not(:first-child),
table.table thead th:first-child,
able.table thead th:not(:first-child) {
  padding: 0 35px 0 0;
}
.list__tile {
    padding: 0 !important;
}
.input-group {
  /* v-radio */
  &--selection-controls {
    align-items: center;
  }

  /* v-text-field */
  &--text-field {
    label {
      left: 10px;
      line-height: 42px;
    }
    input {
      padding-left: 10px;
    }
    .input-group__messages {
      padding-left: 10px;
    }
  }

  /* v-select */
  &__details {
    &:before {
      display: none;
    }
    &:after {
      display: none;
    }
  }

  &--select {
    label {
      padding-left: 7.5px;
      line-height: 42px;
      height: 42px;
    }
    .input-group__input {
      min-height: 42px;
      border: 1px solid #d2d2d2 !important;
      border-radius: 3.75px;
      .input-group__selections {
        padding-left: 11.25px;
        input {
          padding-left: 0;
        }
      }
    }
  }
  &--select.large {
    label {
      height: 42px;
      line-height: 42px;
    }
  }
}

/* v-switch */
.switch {
  &.input-group {
    &.shorten {
      max-width: 20px;
    }

    .input-group__input {
      .input-group--selection-controls__toggle {
        height: 22px;
        border-radius: 12px;
        width: 42px;
      }

      .input-group--selection-controls__ripple::after {
        box-shadow: 0 0 4px 0px rgba(0,0,0, 0.2) !important;
        height: 22px;
        width: 22px;
      }
    }
  }
}

/* v-select : dropdown box */
.menu__content {
  // z-index: 30 !important;
  z-index: 300 !important;
  border-radius: 9px;
  box-shadow: 0px 8px 17px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0,0,0,0.08);

  ul {
    margin-bottom: 0;
    background-color: #f9f9f9 !important;

    .list__tile__title {
      padding: 0 10px;
      min-width: 60px;
      opacity: 1 !important;
      .menu-list-div {
        color: #555 !important;
        &:hover {
          color: #000 !important;
        }
      }
    }
  }
}

.menu__content.menu__content--avatar {
  .list__tile {
    height: 56px;
  }
}

/* v-tabs */
.tabs__items {
  overflow: visible;
  // margin-bottom: 150px;
}

.tabs:not(.tabs--grow):not(.tabs--mobile) .tabs__item {
  padding: 0 2px;
}

/* drop-down menu */
.list__tile {
  font-size: 14px;
  height: 30px;
}

.chip__content {
  border-radius: 200px;
}

.list__tile .avatar {
  min-width: 0;
}

/* v-tooltip */
.tooltip {
  display: inline-flex;
  align-items: center;
  &__content {
    font-size: 16px;
    background: #121212;
    text-align: center;
  }
}
.page.no-top-nav {
  margin-top: -69px;
}
.page.no-side-space {
  margin-left: -18px;
  margin-right: -18px;
}
.container.grid-list-md :not(:only-child) .layout:last-child {
  margin-bottom: auto;
}