.vjs-control-bar{
	background: transparent !important;
	position: static !important;

}

.video-js.vjs-fluid video{
	max-height: none !important;
}



.video-js .vjs-play-progress{
	background: #2476EC
}


.vjs-progress-control.vjs-control{
	position: absolute;
	width: 90%;
	left: 5%;
	bottom: 95px;
	z-index: 25;
	height: auto;
}

.video-js .vjs-time-control{
	font-size: 12px;
	z-index: 25;
	color: white;
	position: absolute;
    width: 90%;
    left: 4%;
    bottom: 55px;
    z-index: 25;
    height: auto;
    text-align: right;
    display: block;
    top: auto;
	padding-right: 0;
}

.video-js .vjs-current-time{
	position: absolute;
    width: 90%;
    left: 4.5%;
    bottom: 55px;
    z-index: 25;
    height: auto;
    text-align: left;
    display: block;
    top: auto;
}

.video-js .vjs-picture-in-picture-control, .video-js .vjs-volume-panel, .video-js .vjs-fullscreen-control{
	display: none !important;
}

.video-js .vjs-play-control{
	color: black;
	position: absolute;
	top: calc(50% - 85px);
	left: calc(50% - 37px);
	height: auto;
	width: 75px;
	height: 75px;
	background: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 25px;
	z-index: 25;
}


.vjs-has-started .vjs-icon-play::before, 
.vjs-has-started .video-js .vjs-play-control .vjs-icon-placeholder::before, 
.vjs-has-started .video-js .vjs-big-play-button .vjs-icon-placeholder::before{
	color: black !important;
	font-size: 65px !important;
	top: 21px !important;
}
.video-js .vjs-big-play-button .vjs-icon-placeholder::before {
	// content: "\f101";
	color: #000;
	font-size: 65px;
	top: 21px;
	z-index: 9999999;
  }

.video-js .vjs-big-play-button,
.vjs-play-control .vjs-control .vjs-button .vjs-playing{background-color: #fff !important; height: 3em !important; border-radius: 50% !important; z-index: 1111;}

